backups/AGENT-ECO
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c1f7936a-5cf7-44ff-82b6-3f5924a49407",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        384,
        224
      ],
      "id": "c9b4ffe5-b68f-4ea0-b5ec-afd6cd90f8aa",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "GcdZa4OU2yiudiou",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        528,
        256
      ],
      "id": "dc525eeb-278f-4361-830f-279357abffc7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"SiteId\":174,\n  \"Site\":\"Villeveyrac\",\n  \"Type\":\"K2\",\n  \"Latitude\":43.50056617,\n  \"Longitude\":3.59369656,\n  \"NiveauActivite2025\":9600.0,\n  \"CapaciteMax\":16000.0,\n  \"Departement\":\"34\",\n  \"TerritoireCommercial\":\"Occitanie\",\n  \"Commentaire\" : \"Site le plus proche ou le plus favorable à la reception des déchets...\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        640,
        256
      ],
      "id": "266662c4-4318-4340-b163-1dcd46f863b9",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Je suis un directeur de supermarché situé à Sérignan je cherche les sites de type K2 dans un rayon de 100 km.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Tu es un agent d'analyse spécialisé dans la gestion et la simulation de sites industriels français.  \nTu travailles exclusivement à partir de données structurées au format JSON.  \nTes réponses doivent toujours être claires, concises, et orientées vers l’analyse de données.\n\nVoici le contexte de données de référence :\n\n{{ JSON.stringify($('Sites').all()) }}\n\nTon rôle est de traiter le types de demande :\n\n---\n\n### 🎯 Liste des sites d’un département**\n- Objectif : retourner la liste complète des sites appartenant à un département donné (exemple : 34).\n- Format de sortie : un tableau JSON contenant uniquement les sites correspondants.\n- Inclure les champs : SiteId, Site, Type, NiveauActivite2025, CapaciteMax (si existants).\n\n---\n\n### ⚙️ **Règles générales de comportement**\n- Toujours répondre au format JSON lorsqu’une donnée structurée est attendue.  \n- Lorsque l’analyse nécessite un raisonnement textuel, fournir une brève explication avant ou après le JSON.  \n- Ne jamais inventer de site non mentionné, sauf si le cas d’usage (comme la fermeture) le demande explicitement.  \n- Si un champ est absent (comme `NiveauActivite2025`), le considérer comme 0 par défaut.  \n- Tous les nombres sont en tonnes/an.  \n- Ne jamais modifier les coordonnées GPS ni les identifiants.  \n- Justifie ton choix dans la clé Commentaire avec des arguments avérés digne d'un professionnel du secteur.\n\n---\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        416,
        0
      ],
      "id": "d9d7d891-4de5-45b3-93d9-a1023fb3ee19",
      "name": "AI Agent Filtre",
      "executeOnce": true
    },
    {
      "parameters": {
        "model": "openai/gpt-3.5-turbo",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        640,
        592
      ],
      "id": "57849ec2-facd-4f29-95c7-5cc1dee281cc",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "GcdZa4OU2yiudiou",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "fMyrNAIsXdJn4qAZ",
          "mode": "list",
          "cachedResultName": "Sites",
          "cachedResultUrl": "/projects/TAg2OWp8a2XzOVPs/datatables/fMyrNAIsXdJn4qAZ"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "44fae262-cf5b-41f8-94a7-b574e719b264",
      "name": "Sites",
      "executeOnce": true
    },
    {
      "parameters": {
        "jsonSchemaExample": "\n{\n  \"Commentaire\" : \"Le site de Moulin-sous-Touvent n’existe pas dans la liste. Répartition de ses 26 000t sur les sites du département 34 selon leur capacité disponible.\",\n\"Sites\" : [\n {\"SiteId\":160,\"Site\":\"Béziers\",\"NiveauActivite2030\":42000.0}, {\"SiteId\":161,\"Site\":\"Castries\",\"NiveauActivite2030\":53000.0},\n{\"SiteId\":162,\"Site\":\"Soumont\",\"NiveauActivite2030\":26000.0}\n]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1072,
        608
      ],
      "id": "9e027f63-af23-43a2-92e5-bec745b7f8d4",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $execution.id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        896,
        608
      ],
      "id": "4adb35ae-e1ec-4ec3-b5e0-c6a83811939e",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Le site de Moulin-sous-Touvent n’existe pas dans la liste. Répartition de ses 26 000t sur les sites du département 34 selon leur capacité disponible.",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Tu es un agent d'analyse spécialisé dans la gestion et la simulation de sites industriels français.  \nTu travailles exclusivement à partir de données structurées au format JSON.  \nTes réponses doivent toujours être claires, concises, et orientées vers l’analyse de données.\n\nVoici le contexte de données de référence :\n\n{{ JSON.stringify($('Sites').all()) }}\n\nTon rôle est de traiter ce type de demande :\n\n---\n\n\n### 🧩 **– Analyse d’impact d’une fermeture**\n\n- Objectif : estimer et décrire l’impact de la fermeture d’un site spécifique à une date donnée, en considérant son niveau d’activité (tonnes/an).\n- Si le site n’existe pas dans le contexte, simule son impact global sur les autres sites du même territoire commercial ou département.\n- Logique : répartir la charge du site fermé de manière proportionnelle à la capacité restante des sites existants.\n- Format de sortie : JSON indiquant le nouveau « NiveauActivite » estimé pour chaque site impacté, pour les années 2030 à 2035 incluses.\n\n---\n\n### ⚙️ **Règles générales de comportement**\n- Toujours répondre au format JSON lorsqu’une donnée structurée est attendue.  \n- Lorsque l’analyse nécessite un raisonnement textuel, fournir une brève explication avant ou après le JSON.  \n- Ne jamais inventer de site non mentionné, sauf si le cas d’usage (comme la fermeture) le demande explicitement.  \n- Si un champ est absent (comme `NiveauActivite2025`), le considérer comme 0 par défaut.  \n- Tous les nombres sont en tonnes/an.  \n- Ne jamais modifier les coordonnées GPS ni les identifiants.  \n- Justifie ton choix dans la clé Commentaire avec des arguments avérés digne d'un professionnel du secteur.\n\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        880,
        240
      ],
      "id": "e56022c4-0796-4806-b75b-84412d61e378",
      "name": "AI Agent Analyse"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "fMyrNAIsXdJn4qAZ",
          "mode": "list",
          "cachedResultName": "Sites",
          "cachedResultUrl": "/projects/TAg2OWp8a2XzOVPs/datatables/fMyrNAIsXdJn4qAZ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "SiteId",
              "displayName": "SiteId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Site",
              "displayName": "Site",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Type",
              "displayName": "Type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Latitude",
              "displayName": "Latitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Longitude",
              "displayName": "Longitude",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "NiveauActivite2025",
              "displayName": "NiveauActivite2025",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "CapaciteMax",
              "displayName": "CapaciteMax",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Departement",
              "displayName": "Departement",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "TerritoireCommercial",
              "displayName": "TerritoireCommercial",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1232,
        240
      ],
      "id": "3af1747a-d217-4ec2-82f7-d99c8c645178",
      "name": "Update row(s)",
      "disabled": true
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Sites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Filtre",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Filtre",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Filtre",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Filtre": {
      "main": [
        [
          {
            "node": "AI Agent Analyse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Analyse",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Sites": {
      "main": [
        [
          {
            "node": "AI Agent Filtre",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent Analyse",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Analyse",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Analyse": {
      "main": [
        [
          {
            "node": "Update row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {
    "AI Agent Filtre": [
      {
        "output": {
          "SiteId": 155,
          "Site": "Sérignan",
          "Type": "K2",
          "Latitude": 43.27298726,
          "Longitude": 3.29713483,
          "NiveauActivite2025": 6300,
          "CapaciteMax": 10500,
          "Departement": "34",
          "TerritoireCommercial": "Occitanie",
          "Commentaire": "Site de type K2 situé à Sérignan."
        }
      }
    ],
    "Sites": [
      {
        "SiteId": 160,
        "Type": "K2",
        "Longitude": 3.35005807,
        "Latitude": 43.72597754,
        "NiveauActivite2025": 24000,
        "CapaciteMax": 40000,
        "Departement": "34",
        "TerritoireCommercial": "Occitanie",
        "Site": "Soumont",
        "id": 10,
        "createdAt": "2025-10-22T09:17:04.916Z",
        "updatedAt": "2025-10-22T09:18:28.060Z"
      },
      {
        "SiteId": 174,
        "Type": "K2",
        "Longitude": 3.59369656,
        "Latitude": 43.50056617,
        "NiveauActivite2025": 9600,
        "CapaciteMax": 16000,
        "Departement": "34",
        "TerritoireCommercial": "Occitanie",
        "Site": "Villeveyrac",
        "id": 11,
        "createdAt": "2025-10-22T09:18:36.546Z",
        "updatedAt": "2025-10-22T09:28:44.385Z"
      },
      {
        "SiteId": 120,
        "Type": "UVE",
        "Longitude": 3.34312233,
        "Latitude": 43.37292893,
        "NiveauActivite2025": 0,
        "CapaciteMax": 0,
        "Departement": "34",
        "TerritoireCommercial": "Occitanie",
        "Site": "Montblanc",
        "id": 8,
        "createdAt": "2025-10-22T09:10:22.913Z",
        "updatedAt": "2025-10-22T09:16:03.713Z"
      },
      {
        "SiteId": 25,
        "Type": "Organic",
        "Longitude": 3.97972632,
        "Latitude": 43.68869789,
        "NiveauActivite2025": 49800,
        "CapaciteMax": 83000,
        "Departement": "34",
        "TerritoireCommercial": "Occitanie",
        "Site": "Castries",
        "id": 7,
        "createdAt": "2025-10-22T09:09:11.827Z",
        "updatedAt": "2025-10-22T09:16:14.167Z"
      },
      {
        "SiteId": 14,
        "Type": "K2",
        "Longitude": 3.23085973,
        "Latitude": 43.34746698,
        "NiveauActivite2025": 39000,
        "CapaciteMax": 65000,
        "Departement": "34",
        "TerritoireCommercial": "Occitanie",
        "Site": "Béziers",
        "id": 6,
        "createdAt": "2025-10-22T09:06:15.222Z",
        "updatedAt": "2025-10-22T09:16:24.277Z"
      },
      {
        "SiteId": 155,
        "Type": "K2",
        "Longitude": 3.29713483,
        "Latitude": 43.27298726,
        "NiveauActivite2025": 6300,
        "CapaciteMax": 10500,
        "Departement": "34",
        "TerritoireCommercial": "Occitanie",
        "Site": "Sérignan",
        "id": 9,
        "createdAt": "2025-10-22T09:14:46.577Z",
        "updatedAt": "2025-10-22T09:16:55.964Z"
      }
    ],
    "AI Agent Analyse": [
      {
        "output": {
          "Commentaire": "Le site de Moulin-sous-Touvent n'existe pas dans la liste. Les 26 000 tonnes seront réparties proportionnellement sur les autres sites du département 34 en fonction de leur capacité disponible.",
          "Sites": [
            {
              "Site": "Soumont",
              "NiveauActivite2030": 24350
            },
            {
              "Site": "Villeveyrac",
              "NiveauActivite2030": 13544
            },
            {
              "Site": "Montblanc",
              "NiveauActivite2030": 0
            },
            {
              "Site": "Castries",
              "NiveauActivite2030": 6456
            },
            {
              "Site": "Béziers",
              "NiveauActivite2030": 3813
            },
            {
              "Site": "Sérignan",
              "NiveauActivite2030": 1836
            }
          ]
        }
      }
    ]
  },
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "60baa5cd0a2d5407c8572309679288a80fdbcb910a254efc31703cc9ea5770de"
  }
}
