backups/workflow-Single-Scrapp-Tedispharama-23-10-2025.json
{"createdAt":"2025-08-14T11:17:49.647Z","updatedAt":"2025-08-14T11:18:46.318Z","id":"VOvVbl8G9C2Jb9Te","name":"Single-Scrapp-Tedispharama","active":false,"isArchived":false,"nodes":[{"parameters":{"fileSelector":"={{ $('Initialisation Variables Scrapping1').item.json.downloadDir }}/STAT_LABO_PAYS.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1360,352],"id":"f7000bda-f81e-45a9-8bda-c862178e625e","name":"Lecture du fichier csv","notesInFlow":true},{"parameters":{"method":"POST","url":"http://robotframework:5000/run","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"executionId\": \"{{$('Initialisation Variables Scrapping1').item.json.executionId}}\",\n  \"robotScriptFileName\": \"{{$('Initialisation Variables Scrapping1').item.json.robotScriptFileName}}\",\n  \"login\": \"{{$('Initialisation Variables Scrapping1').item.json.login}}\",\n  \"password\": \"{{$('Initialisation Variables Scrapping1').item.json.password}}\",\n  \"extranetUrl\": \"{{$('Initialisation Variables Scrapping1').item.json.extranetUrl}}\",\n  \"downloadDir\": \"{{$('Initialisation Variables Scrapping1').item.json.downloadDir}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1072,352],"id":"922a097b-284c-4723-bc6b-6c5c80cc10d2","name":"API RobotFramework1","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"6469c2a2-afb1-455d-bb47-f6f594bea568","name":"executionId","value":"={{ $execution.id }}","type":"number"},{"id":"6103dc9f-477c-437e-aa6d-55c4c0a3b8b9","name":"robotScriptFileName","value":"tedispharma.robot","type":"string"},{"id":"419cf32d-a3d0-4a65-8059-effc4e53bfe4","name":"login","value":"Biogaran","type":"string"},{"id":"05543d17-246e-4182-9287-548eb06c114a","name":"password","value":"biogaran","type":"string"},{"id":"915e3d2a-1a73-41ff-9608-1105b859e651","name":"extranetUrl","value":"https://www.tedispharma-ci.com/","type":"string"},{"id":"9187da22-f6f4-45f4-b087-23f06302f272","name":"downloadDir","value":"=/opt/robotframework/output/downloads/{{ $execution.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,352],"id":"a8fce15b-ce6d-43d7-8850-be1ef5fb9abd","name":"Initialisation Variables Scrapping1","notesInFlow":true},{"parameters":{"content":"# Tedispharma","height":304,"width":2128,"color":4},"type":"n8n-nodes-base.stickyNote","position":[432,256],"typeVersion":1,"id":"e8ca5876-22b6-47da-93a1-9f4508d7196a","name":"Sticky Note1"},{"parameters":{"operation":"html","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1584,352],"id":"1627d415-69ac-4977-918e-8d0c12d0225b","name":"Extraction1"},{"parameters":{"keys":{"key":[{"currentKey":"=__EMPTY","newKey":"Designation"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[1888,352],"id":"971fa96c-0a7d-4b5e-b9a1-08b2f1fb7517","name":"Normalisation3"},{"parameters":{"httpMethod":"POST","path":"d6f1065c-5126-4dc7-b86c-c84f14f7ad2b","authentication":"headerAuth","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[512,352],"id":"8a488d34-cb9b-4641-a45a-89dde6ea5ba7","name":"Webhook","webhookId":"d6f1065c-5126-4dc7-b86c-c84f14f7ad2b","credentials":{"httpHeaderAuth":{"id":"ohXCfG0YV2rD9JqX","name":"Header Auth account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2304,352],"id":"50c9a693-cc75-4fec-b357-7fe7c1ea715a","name":"Edit Fields"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[480,624],"id":"7c9c42ed-84d8-4509-a8fb-c2244ac07f93","name":"When clicking ‘Execute workflow’"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"080f7142-9bfc-46fa-90d6-9caf4e28f848","leftValue":"={{ $json.Designation }}","rightValue":"Produit","operator":{"type":"string","operation":"notEquals"}}],"combinator":"or"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[2096,352],"id":"55baf6b1-0482-44c0-852a-bf5da240f504","name":"Traitement champs inutils"}],"connections":{"Lecture du fichier csv":{"main":[[{"node":"Extraction1","type":"main","index":0}]]},"API RobotFramework1":{"main":[[{"node":"Lecture du fichier csv","type":"main","index":0}]]},"Initialisation Variables Scrapping1":{"main":[[{"node":"API RobotFramework1","type":"main","index":0}]]},"Extraction1":{"main":[[{"node":"Normalisation3","type":"main","index":0}]]},"Normalisation3":{"main":[[{"node":"Traitement champs inutils","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Initialisation Variables Scrapping1","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Initialisation Variables Scrapping1","type":"main","index":0}]]},"Traitement champs inutils":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Initialisation Variables Scrapping1":[{"json":{"executionId":909,"robotScriptFileName":"tedispharma.robot","login":"Biogaran","password":"biogaran","extranetUrl":"https://www.tedispharma-ci.com/","downloadDir":"/opt/robotframework/output/downloads/909"}}]},"versionId":"93afd39d-35ab-4d53-9334-9bd76a07bd3d","triggerCount":0,"shared":[{"createdAt":"2025-08-14T11:17:49.647Z","updatedAt":"2025-08-14T11:17:49.647Z","role":"workflow:owner","workflowId":"VOvVbl8G9C2Jb9Te","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}