backups/workflow-Scanned pdf-23-10-2025.json
{"createdAt":"2025-07-28T15:43:21.629Z","updatedAt":"2025-07-30T18:14:37.887Z","id":"Uz0eXzuFlDudFzy7","name":"Scanned pdf","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[784,-464],"id":"5f4b4fa6-a043-4ded-aba1-e60d125adfc3","name":"When clicking ‘Execute workflow’"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"15lIcr9XQqtkKmV8pCsbQ8SrnqDFIjP0z","mode":"list","cachedResultName":"Biogaran-faux.pdf","cachedResultUrl":"https://drive.google.com/file/d/15lIcr9XQqtkKmV8pCsbQ8SrnqDFIjP0z/view?usp=drivesdk"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[1008,-464],"id":"0c857a0c-d7fb-4758-adbd-68cf1d31c10f","name":"Download file","credentials":{"googleDriveOAuth2Api":{"id":"0ZzPOEDZ1gR7ECKd","name":"Google Drive account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"8dad8c16-3852-46ff-952c-d83ffa22ba7a","leftValue":"={{ $json.text.replace(\"\\n\",\"\\b\").length }}","rightValue":20,"operator":{"type":"number","operation":"lt"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[1456,-464],"id":"33e59b3d-b66d-4298-b51b-48349a3f4561","name":"Pas de text"},{"parameters":{"operation":"pdf","options":{"joinPages":true,"keepSource":"binary"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[1232,-464],"id":"4edbec18-280b-4078-8e0f-4f3584c9d10c","name":"Extract from PDF","notesInFlow":true,"retryOnFail":true,"maxTries":5},{"parameters":{"command":"# Conversion PDF -> PNG + sortie JSON avec le count\ngs -q -sDEVICE=png16m -r150 -o /tmp/page-%03d.png /tmp/doc.pdf && \\\necho '{\"pageCount\":'$(ls /tmp/page-*.png | wc -l)', \"files\":['$(ls /tmp/page-*.png | awk '{printf \"\\\"%s\\\",\", $1}' | sed 's/,$//')']}'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1904,-464],"id":"b7160a49-02cf-4eaf-bd26-97ad5c3eb7f7","name":"[PDF To PPM] Convert PDF to PNG","onError":"continueErrorOutput"},{"parameters":{"resource":"image","operation":"analyze","modelId":{"__rl":true,"value":"gpt-4o-mini","mode":"list","cachedResultName":"GPT-4O-MINI"},"text":"Extrait les données tabulaires sous format JSON","inputType":"base64","simplify":false,"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.8,"position":[2800,-464],"id":"edb56d05-771c-49df-92d5-7f80792bdf48","name":"Analyze image","credentials":{"openAiApi":{"id":"fkAWLNHInTtln701","name":"OpenAi account"}}},{"parameters":{"operation":"write","fileName":"=/tmp/doc.pdf","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1680,-464],"id":"13e6b2fa-d455-4374-8556-2b4d7c910787","name":"Ecrire le fichier PDF sur le Disk","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"a92ecce1-9f1a-42ab-867a-803853136571","name":"=pageCount","value":"={{ JSON.parse($json.stdout).pageCount }}","type":"string"},{"id":"8e4ff984-996b-4795-8c93-46b5e3982714","name":"files","value":"={{ JSON.parse($json.stdout).files }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[2128,-464],"id":"04e7b43b-536e-4173-9120-73df0330614a","name":"Edit Fields"},{"parameters":{"jsCode":"return $input.all().flatMap(item => \n  item.json.files.map(file => ({\n    json: {\n      filePath: file,\n      pageNumber: parseInt(file.match(/page-(\\d+)\\.png/)[1])\n    }\n  }))\n);"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2352,-464],"id":"bd5f4a1f-e5e4-497f-8681-6f63a069e2b1","name":"Code1"},{"parameters":{"fileSelector":"={{ $input.item.json.filePath }}","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2576,-464],"id":"b00e6d0a-e820-4290-b92c-537a82f997a4","name":"Read/Write Files from Disk2"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"Download file","type":"main","index":0}]]},"Download file":{"main":[[{"node":"Extract from PDF","type":"main","index":0}]]},"Pas de text":{"main":[[{"node":"Ecrire le fichier PDF sur le Disk","type":"main","index":0}],[]]},"Extract from PDF":{"main":[[{"node":"Pas de text","type":"main","index":0}]]},"[PDF To PPM] Convert PDF to PNG":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[]]},"Analyze image":{"main":[[]]},"Ecrire le fichier PDF sur le Disk":{"main":[[{"node":"[PDF To PPM] Convert PDF to PNG","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code1","type":"main","index":0}]]},"Code1":{"main":[[{"node":"Read/Write Files from Disk2","type":"main","index":0}]]},"Read/Write Files from Disk2":{"main":[[{"node":"Analyze image","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"[PDF To PPM] Convert PDF to PNG":[{"json":{"exitCode":0,"stderr":"","stdout":"{\"pageCount\":2, \"files\":[\"/tmp/page-001.png\",\"/tmp/page-002.png\"]}"}}],"When clicking ‘Execute workflow’":[{"json":{}}],"Download file":[{"json":{}}],"Pas de text":[{"json":{"numpages":2,"numrender":2,"info":{"PDFFormatVersion":"1.3","Language":null,"EncryptFilterName":null,"IsLinearized":false,"IsAcroFormPresent":false,"IsXFAPresent":false,"IsCollectionPresent":false,"IsSignaturesPresent":false,"Producer":"iOS Version 18.4.1 (Build 22E252) Quartz PDFContext","CreationDate":"D:20250502084858Z00'00'","ModDate":"D:20250502084858Z00'00'"},"text":"\n\n","version":"5.3.31"}}],"Extract from PDF":[{"json":{"numpages":2,"numrender":2,"info":{"PDFFormatVersion":"1.3","Language":null,"EncryptFilterName":null,"IsLinearized":false,"IsAcroFormPresent":false,"IsXFAPresent":false,"IsCollectionPresent":false,"IsSignaturesPresent":false,"Producer":"iOS Version 18.4.1 (Build 22E252) Quartz PDFContext","CreationDate":"D:20250502084858Z00'00'","ModDate":"D:20250502084858Z00'00'"},"text":"\n\n","version":"5.3.31"}}],"Ecrire le fichier PDF sur le Disk":[{"json":{"numpages":2,"numrender":2,"info":{"PDFFormatVersion":"1.3","Language":null,"EncryptFilterName":null,"IsLinearized":false,"IsAcroFormPresent":false,"IsXFAPresent":false,"IsCollectionPresent":false,"IsSignaturesPresent":false,"Producer":"iOS Version 18.4.1 (Build 22E252) Quartz PDFContext","CreationDate":"D:20250502084858Z00'00'","ModDate":"D:20250502084858Z00'00'"},"text":"\n\n","version":"5.3.31","fileName":"/tmp/doc.pdf"}}]},"versionId":"0859db4d-0429-41fd-a060-2f23e0648131","triggerCount":0,"shared":[{"createdAt":"2025-08-14T07:14:39.655Z","updatedAt":"2025-08-14T07:14:39.655Z","role":"workflow:owner","workflowId":"Uz0eXzuFlDudFzy7","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}