backups/workflow-backup-22-10-2025.json
{"createdAt":"2025-07-24T15:34:58.044Z","updatedAt":"2025-10-22T19:59:00.958Z","id":"TFupHJyiscU8CH8X","name":"backup","active":false,"isArchived":false,"nodes":[{"parameters":{"assignments":{"assignments":[{"id":"a3c79aeb-0fdc-4bb5-b55e-d041dab2a9d0","name":"=datetime","value":"={{$now.format(\"dd-MM-yyyy\")}}","type":"string"}]},"options":{}},"id":"435975ef-b2e4-4af5-ad2c-bac1fca39880","name":"Définir la date/heure","type":"n8n-nodes-base.set","position":[-1792,-368],"typeVersion":3.4,"notesInFlow":true},{"parameters":{"maxItems":10},"id":"5f3f1e8b-2754-4bb5-8376-fd296a9b9e86","name":"Limiter à 10 (debug)","type":"n8n-nodes-base.limit","typeVersion":1,"position":[-496,-368],"disabled":true},{"parameters":{"operation":"toJson","mode":"each","binaryPropertyName":"={{ $json.id }}","options":{}},"id":"ebe2344b-0830-420a-b994-f30eec90fc84","name":"Convertir en fichier JSON","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-240,-368],"notesInFlow":true},{"parameters":{"resource":"file","owner":{"__rl":true,"mode":"name","value":"={{ $('Get a repository').item.json.owner.login }}"},"repository":{"__rl":true,"value":"={{ $('Get a repository').item.json.name }}","mode":"name"},"filePath":"=backups/workflow-{{$('Get many workflows').item.json.name}}-{{ $('Définir la date/heure').item.json.datetime }}.json","binaryData":true,"binaryPropertyName":"={{ $binary.keys()[0] }}","commitMessage":"=backup du {{ $('Définir la date/heure').item.json.datetime }}-{{$('Get many workflows').item.json.name }}"},"id":"26067467-de52-4efc-83a2-83960c6a7c07","name":"Commit vers GitHub","type":"n8n-nodes-base.github","typeVersion":1,"position":[272,-368],"notesInFlow":true,"webhookId":"0686c39a-7e3e-4c7e-9659-ac783a7f13da","credentials":{"githubApi":{"id":"68kMC96XlKY3sf7J","name":"GitHub account"}}},{"parameters":{"content":"⏰ **Déclencheur planifié**\nLance automatiquement le workflow tous les jours (modifiable via les paramètres de fréquence)."},"type":"n8n-nodes-base.stickyNote","position":[-2512,-416],"typeVersion":1,"id":"4fd31280-25f4-4dd4-9a4a-7e200efe0ffb","name":"Note - Schedule Trigger"},{"parameters":{"content":"🕒 **Capture la date/heure**\nCrée une variable `datetime` contenant l'instant d'exécution du workflow (`{{$now}}`)."},"type":"n8n-nodes-base.stickyNote","position":[-1904,-560],"typeVersion":1,"id":"372f0d74-b679-43a3-8960-91a6422bbaaa","name":"Note - Set DateTime"},{"parameters":{"content":"📦 **Connexion au repo GitHub**\nRécupère les infos du repo cible (`n8n-workflows-backup`) pour effectuer des commits plus loin dans le flow."},"type":"n8n-nodes-base.stickyNote","position":[-1632,-560],"typeVersion":1,"id":"650d5b2f-d537-4acb-9812-9f5175220304","name":"Note - Get GitHub Repo"},{"parameters":{"content":"📄 **Lister les workflows n8n**\nUtilise l'API de n8n pour récupérer tous les workflows actifs de l'instance."},"type":"n8n-nodes-base.stickyNote","position":[-1376,-560],"typeVersion":1,"id":"44dd728b-116a-4d22-9db4-89aa6f6b54ee","name":"Note - Get Workflows"},{"parameters":{"content":"🔢 **Limiter le nombre de workflows**\nPour debug : limite le traitement à 10 workflows. À supprimer en production pour une sauvegarde complète."},"type":"n8n-nodes-base.stickyNote","position":[-1120,-560],"typeVersion":1,"id":"fabacf6e-8913-40c0-8d78-3da5c1c77bf3","name":"Note - Limit"},{"parameters":{"content":"📁 **Convertir en fichier**\nTransforme chaque workflow JSON en fichier binaire `.json` pour pouvoir le stocker dans GitHub."},"type":"n8n-nodes-base.stickyNote","position":[-864,-560],"typeVersion":1,"id":"ae0f7c9b-0e4e-44e4-be82-48a203b6de03","name":"Note - Convert to File"},{"parameters":{"content":"⬆️ **Commit vers GitHub**\nAjoute chaque fichier workflow dans le repo `n8n-workflows-backup` avec horodatage dans le nom et le commit."},"type":"n8n-nodes-base.stickyNote","position":[-560,-560],"typeVersion":1,"id":"774d5655-5339-41f3-ae8e-78a45a19d725","name":"Note - GitHub Upload"},{"parameters":{"content":"🧹 **Suppression fichiers GitHub** *(désactivé)*\nPrévu pour effacer d'anciens backups dans le repo. Utile pour gestion de rétention automatique.","color":3},"type":"n8n-nodes-base.stickyNote","position":[-1184,304],"typeVersion":1,"id":"e50c6ddc-0b89-4763-9a3c-37d9062fee45","name":"Note - GitHub Delete"},{"parameters":{"content":"📋 **Lister les fichiers du repo** *(désactivé)*\nPermet de parcourir tous les fichiers existants dans le repo. Peut être utilisé pour éviter les doublons ou purger.","color":3},"type":"n8n-nodes-base.stickyNote","position":[-1520,304],"typeVersion":1,"id":"ca9113fb-4449-4bb5-a7bb-e18074851470","name":"Note - GitHub List"},{"parameters":{"resource":"file","operation":"list","owner":{"__rl":true,"value":"={{ $json.owner.login }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $json.name }}","mode":"name"},"filePath":"=backups"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-1408,112],"id":"0dd47ce4-e182-4de9-8e0c-c4e1d89af988","name":"Lister les fichiers du repo","webhookId":"b0071811-bc34-48bd-a1a6-8b5961746478","credentials":{"githubApi":{"id":"68kMC96XlKY3sf7J","name":"GitHub account"}},"disabled":true},{"parameters":{"resource":"file","operation":"delete","owner":{"__rl":true,"value":"={{ $('Get a repository').item.json.owner.login }}","mode":"name"},"repository":{"__rl":true,"value":"={{ $('Get a repository').item.json.name }}","mode":"name"},"filePath":"={{ $json.path }}","commitMessage":"=delete file {{ $json.name }}"},"type":"n8n-nodes-base.github","typeVersion":1,"position":[-1104,96],"id":"14b77c50-3978-4596-aa0d-17ba457da2c2","name":"Suppression fichiers GitHub","webhookId":"7c42d1aa-bcf6-4e81-9626-96ca21fba241","credentials":{"githubApi":{"id":"68kMC96XlKY3sf7J","name":"GitHub account"}},"disabled":true},{"parameters":{"filters":{},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[-1216,-352],"id":"c0957cd5-ec63-443d-ae7c-6fea9376cd04","name":"Get many workflows","credentials":{"n8nApi":{"id":"YxBBTUFGGqjDr1fX","name":"n8n account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2128,-384],"id":"eac4c2f7-b1e9-454b-8efa-e8e34825fcec","name":"When clicking ‘Execute workflow’"},{"parameters":{"resource":"repository","operation":"get","owner":{"__rl":true,"value":"https://github.com/RodolpheBeloncle","mode":"url"},"repository":{"__rl":true,"value":"backup-workflow","mode":"list","cachedResultName":"backup-workflow","cachedResultUrl":"https://github.com/RodolpheBeloncle/backup-workflow"}},"type":"n8n-nodes-base.github","typeVersion":1.1,"position":[-1584,-368],"id":"ee97606b-23b3-43e1-b58b-0dadbc28432e","name":"Get a repository","webhookId":"efc7ec89-8175-4c95-907a-0f9d1a7d199f","credentials":{"githubApi":{"id":"68kMC96XlKY3sf7J","name":"GitHub account"}}}],"connections":{"Définir la date/heure":{"main":[[{"node":"Get a repository","type":"main","index":0}]]},"Limiter à 10 (debug)":{"main":[[{"node":"Convertir en fichier JSON","type":"main","index":0}]]},"Convertir en fichier JSON":{"main":[[{"node":"Commit vers GitHub","type":"main","index":0}]]},"Lister les fichiers du repo":{"main":[[{"node":"Suppression fichiers GitHub","type":"main","index":0}]]},"Get many workflows":{"main":[[{"node":"Limiter à 10 (debug)","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Définir la date/heure","type":"main","index":0}]]},"Get a repository":{"main":[[{"node":"Get many workflows","type":"main","index":0},{"node":"Lister les fichiers du repo","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveDataErrorExecution":"none","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e85d44a9-6088-49b0-a8bc-10463205468a","triggerCount":0,"shared":[{"createdAt":"2025-08-14T07:14:52.888Z","updatedAt":"2025-08-14T07:14:52.888Z","role":"workflow:owner","workflowId":"TFupHJyiscU8CH8X","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}