backups/workflow-Single-scrapp-Ubipharm-23-10-2025.json
{"createdAt":"2025-08-14T11:19:25.946Z","updatedAt":"2025-08-14T11:19:52.065Z","id":"GhWqQD0iYuaBPbBG","name":"Single-scrapp-Ubipharm","active":false,"isArchived":false,"nodes":[{"parameters":{"method":"POST","url":"http://robotframework:5000/run","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"executionId\": \"{{$('Initialisation Variables Scrapping2').item.json.executionId}}\",\n  \"robotScriptFileName\": \"{{$('Initialisation Variables Scrapping2').item.json.robotScriptFileName}}\",\n  \"login\": \"{{$('Initialisation Variables Scrapping2').item.json.login}}\",\n  \"password\": \"{{$('Initialisation Variables Scrapping2').item.json.password}}\",\n  \"extranetUrl\": \"{{$('Initialisation Variables Scrapping2').item.json.extranetUrl}}\",\n  \"downloadDir\": \"{{$('Initialisation Variables Scrapping2').item.json.downloadDir}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[256,-80],"id":"37192d2d-b422-4b04-aec3-50bd65287781","name":"API RobotFramework2","notesInFlow":true},{"parameters":{"fileSelector":"={{ $('Initialisation Variables Scrapping2').item.json.downloadDir}}/stats_export.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[512,-80],"id":"8b507307-fd3e-4999-b0b5-13eb08b41080","name":"Lecture du fichier csv1","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"6469c2a2-afb1-455d-bb47-f6f594bea568","name":"executionId","value":"={{ $execution.id }}","type":"number"},{"id":"6103dc9f-477c-437e-aa6d-55c4c0a3b8b9","name":"robotScriptFileName","value":"ubipharm.robot","type":"string"},{"id":"419cf32d-a3d0-4a65-8059-effc4e53bfe4","name":"login","value":"biogaran","type":"string"},{"id":"05543d17-246e-4182-9287-548eb06c114a","name":"password","value":"Biogaran2021","type":"string"},{"id":"915e3d2a-1a73-41ff-9608-1105b859e651","name":"extranetUrl","value":"https://fournisseur-benin.ubipharm.com","type":"string"},{"id":"9187da22-f6f4-45f4-b087-23f06302f272","name":"downloadDir","value":"=/opt/robotframework/output/downloads/{{ $execution.id }}","type":"string"},{"id":"9da5a410-12a9-4b24-90e1-e210061c063e","name":"statsUrl","value":"https://fournisseur-benin.ubipharm.com/StatsVentes?exportcsv=O","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,-80],"id":"c704b74d-3a15-4975-89ec-9f777a4b3f85","name":"Initialisation Variables Scrapping2","notesInFlow":true},{"parameters":{"content":"# Ubipharm","height":304,"width":1584,"color":5},"type":"n8n-nodes-base.stickyNote","position":[-368,-176],"typeVersion":1,"id":"ad26449c-a5f7-4e56-a5dd-a0c2927ac690","name":"Sticky Note2"},{"parameters":{"operation":"html","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[752,-80],"id":"26ae9aa2-9e0c-4ea1-904f-27a135cfc49c","name":"Extraction2","notesInFlow":true},{"parameters":{"httpMethod":"POST","path":"06e0012a-45bc-4711-b31e-3209781173c6","authentication":"headerAuth","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-288,-80],"id":"fee0e50c-ee0a-4d8d-8846-54a5efd95d9c","name":"Webhook","webhookId":"06e0012a-45bc-4711-b31e-3209781173c6","credentials":{"httpHeaderAuth":{"id":"ohXCfG0YV2rD9JqX","name":"Header Auth account"}}},{"parameters":{"assignments":{"assignments":[{"id":"e681d5ec-9e71-4bee-972b-1480eaf184e3","name":"Designation","value":"={{ $json.Designation }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1088,-80],"id":"9f80ec99-7e9a-434d-b710-ea5f2f0766c1","name":"Edit Fields"},{"parameters":{"keys":{"key":[{"currentKey":"produit","newKey":"=Designation"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[928,-80],"id":"3edfc512-67fb-44c5-a86f-6938bd1a71da","name":"Rename Keys"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-320,208],"id":"fb84b68a-b5bc-4173-9336-30c3148bec32","name":"When clicking ‘Execute workflow’"}],"connections":{"API RobotFramework2":{"main":[[{"node":"Lecture du fichier csv1","type":"main","index":0}]]},"Lecture du fichier csv1":{"main":[[{"node":"Extraction2","type":"main","index":0}]]},"Initialisation Variables Scrapping2":{"main":[[{"node":"API RobotFramework2","type":"main","index":0}]]},"Extraction2":{"main":[[{"node":"Rename Keys","type":"main","index":0}]]},"Webhook":{"main":[[{"node":"Initialisation Variables Scrapping2","type":"main","index":0}]]},"Rename Keys":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Initialisation Variables Scrapping2","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"API RobotFramework2":[{"json":{"executionId":"909","report_path":"/output/909/log.html","stderr":"","stdout":"==============================================================================\n909                                                                           \n==============================================================================\nLogin and Export Stats CSV Enhanced :: Télécharge le fichier CSV d... | PASS |\n------------------------------------------------------------------------------\n909                                                                   | PASS |\n1 test, 1 passed, 0 failed\n==============================================================================\nOutput:  /opt/robotframework/output/909/output.xml\nLog:     /opt/robotframework/output/909/log.html\nReport:  /opt/robotframework/output/909/report.html\n","success":true}}],"Lecture du fichier csv1":[{"json":{"mimeType":"text/csv","fileType":"text","fileName":"stats_export.csv","fileExtension":"csv","fileSize":"4.93 kB"}}],"Initialisation Variables Scrapping2":[{"json":{"executionId":909,"robotScriptFileName":"ubipharm.robot","login":"biogaran","password":"Biogaran2021","extranetUrl":"https://fournisseur-benin.ubipharm.com","downloadDir":"/opt/robotframework/output/downloads/909","statsUrl":"https://fournisseur-benin.ubipharm.com/StatsVentes?exportcsv=O"}}],"Extraction2":[{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400937977371,"produit":"AMLODIPINE BIOG 10MG GEL B/30","nb mois stock":728,"stock":0,"cde en cours":330,"moy. ventes":45,"vente mois":38,"M -1":66,"M -2":54,"M -3":66,"M -4":55,"M -5":38,"M -6":43}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400937977661,"produit":"AMLODIPINE BIOG 5MG GEL B/30","nb mois stock":438,"stock":111,"cde en cours":0,"moy. ventes":25,"vente mois":20,"M -1":17,"M -2":17,"M -3":39,"M -4":33,"M -5":18,"M -6":20}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400937977432,"produit":"AMLODIPINE BIOGARAN 10MG GEL B/90","nb mois stock":735,"stock":23,"cde en cours":37,"moy. ventes":8,"vente mois":8,"M -1":2,"M -2":2,"M -3":25,"M -4":4,"M -5":6,"M -6":9}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400937977722,"produit":"AMLODIPINE BIOGARAN 5MG GEL B/90","nb mois stock":0,"stock":0,"cde en cours":50,"moy. ventes":0,"vente mois":0,"M -1":0,"M -2":0,"M -3":0,"M -4":0,"M -5":0,"M -6":0}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400930134153,"produit":"AMLODIPINE VALSARTAN BGR 5/80MG CPR/30","nb mois stock":0,"stock":0,"cde en cours":80,"moy. ventes":0,"vente mois":0,"M -1":0,"M -2":0,"M -3":0,"M -4":0,"M -5":0,"M -6":0}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400935644244,"produit":"ATENOLOL BIOGARAN 50MG CPR SEC B/30","nb mois stock":359,"stock":32,"cde en cours":0,"moy. ventes":8,"vente mois":14,"M -1":3,"M -2":11,"M -3":10,"M -4":12,"M -5":5,"M -6":5}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400937851770,"produit":"BICALUTAMIDE BGR 50MG CPR PELL B/30","nb mois stock":302,"stock":86,"cde en cours":0,"moy. ventes":28,"vente mois":22,"M -1":24,"M -2":35,"M -3":16,"M -4":23,"M -5":21,"M -6":18}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400934772283,"produit":"BROMAZEPAM BIOGARAN 6MG CPR B/30","nb mois stock":40,"stock":28,"cde en cours":0,"moy. ventes":70,"vente mois":887,"M -1":211,"M -2":137,"M -3":17,"M -4":0,"M -5":0,"M -6":0}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400927626944,"produit":"CAPECITABINE BIOGARAN 500MG CPR B/120","nb mois stock":1333,"stock":10,"cde en cours":120,"moy. ventes":9,"vente mois":13,"M -1":19,"M -2":11,"M -3":8,"M -4":8,"M -5":5,"M -6":14}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400938045789,"produit":"CEFIXIME BIOG 200MG CPR PELL B/8","nb mois stock":1638,"stock":0,"cde en cours":4340,"moy. ventes":264,"vente mois":480,"M -1":474,"M -2":548,"M -3":296,"M -4":484,"M -5":196,"M -6":315}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400930001332,"produit":"CELECOXIB BGR 100MG GEL B/30","nb mois stock":662,"stock":94,"cde en cours":200,"moy. ventes":44,"vente mois":54,"M -1":41,"M -2":51,"M -3":38,"M -4":30,"M -5":52,"M -6":58}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400930001370,"produit":"CELECOXIB BGR 200MG GEL B/30","nb mois stock":803,"stock":1,"cde en cours":1560,"moy. ventes":194,"vente mois":424,"M -1":250,"M -2":254,"M -3":202,"M -4":211,"M -5":191,"M -6":120}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400935835970,"produit":"CELIPROLOL BIOGARAN 200MG CPR B/28","nb mois stock":499,"stock":57,"cde en cours":0,"moy. ventes":11,"vente mois":18,"M -1":10,"M -2":24,"M -3":11,"M -4":11,"M -5":19,"M -6":12}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400938498134,"produit":"CLARITHROMYCINE BIOG 250MG CPR PELL B/10","nb mois stock":766,"stock":17,"cde en cours":20,"moy. ventes":4,"vente mois":3,"M -1":8,"M -2":7,"M -3":10,"M -4":9,"M -5":5,"M -6":7}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400938491500,"produit":"CLARITHROMYCINE BIOG 500MG CPR PELL B/10","nb mois stock":529,"stock":31,"cde en cours":136,"moy. ventes":31,"vente mois":23,"M -1":40,"M -2":19,"M -3":50,"M -4":33,"M -5":19,"M -6":23}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400941999031,"produit":"DESLORATADINE BGR 5MG CPR PELL B/15","nb mois stock":807,"stock":139,"cde en cours":2400,"moy. ventes":314,"vente mois":379,"M -1":342,"M -2":386,"M -3":427,"M -4":452,"M -5":0,"M -6":37}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400930060087,"produit":"DOMPERIDONE BGR 10MG CPR PELL B/20","nb mois stock":932,"stock":125,"cde en cours":768,"moy. ventes":95,"vente mois":93,"M -1":139,"M -2":128,"M -3":146,"M -4":143,"M -5":109,"M -6":135}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400930065518,"produit":"DUTASTERIDE BIOGARAN 0,5MG CAPS MOLLE/30","nb mois stock":491,"stock":0,"cde en cours":160,"moy. ventes":32,"vente mois":0,"M -1":7,"M -2":36,"M -3":22,"M -4":27,"M -5":42,"M -6":45}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400935499622,"produit":"ENALAPRIL BIOGARAN 20MG CPR B/28","nb mois stock":649,"stock":731,"cde en cours":1200,"moy. ventes":297,"vente mois":332,"M -1":283,"M -2":290,"M -3":220,"M -4":209,"M -5":397,"M -6":492}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400937656313,"produit":"IBUPROFENE BIOG 400MG CPR PELL B/20","nb mois stock":652,"stock":688,"cde en cours":0,"moy. ventes":105,"vente mois":61,"M -1":42,"M -2":97,"M -3":116,"M -4":152,"M -5":152,"M -6":65}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400938358926,"produit":"IBUPROFENE BIOG CONSEIL 400MG CPR PELL10","nb mois stock":1122,"stock":229,"cde en cours":0,"moy. ventes":20,"vente mois":17,"M -1":9,"M -2":23,"M -3":13,"M -4":15,"M -5":16,"M -6":22}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400922444277,"produit":"IRBESARTAN BIOG 150MG CPR PELL B/30","nb mois stock":612,"stock":0,"cde en cours":420,"moy. ventes":68,"vente mois":60,"M -1":89,"M -2":75,"M -3":110,"M -4":52,"M -5":35,"M -6":73}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400922443447,"produit":"IRBESARTAN BIOG 75MG CPR PELL B/30","nb mois stock":449,"stock":30,"cde en cours":52,"moy. ventes":18,"vente mois":18,"M -1":19,"M -2":16,"M -3":3,"M -4":14,"M -5":9,"M -6":49}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400922445229,"produit":"IRBESARTAN BIOGARAN 300MG CPR PELL B/30","nb mois stock":883,"stock":0,"cde en cours":1608,"moy. ventes":182,"vente mois":29,"M -1":291,"M -2":265,"M -3":188,"M -4":133,"M -5":192,"M -6":224}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400926831387,"produit":"IRBESARTAN/HCTZ BIOG 300MG/12,5MG CPR/30","nb mois stock":610,"stock":0,"cde en cours":190,"moy. ventes":31,"vente mois":38,"M -1":41,"M -2":32,"M -3":31,"M -4":47,"M -5":28,"M -6":27}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400926832278,"produit":"IRBESARTAN/HCTZ BIOGARAN300MG/25MG CPR30","nb mois stock":664,"stock":0,"cde en cours":120,"moy. ventes":18,"vente mois":35,"M -1":25,"M -2":24,"M -3":16,"M -4":9,"M -5":12,"M -6":39}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400922143378,"produit":"KETOPROFENE BIOGARAN LP 100MG CPR SEC/20","nb mois stock":1080,"stock":317,"cde en cours":1800,"moy. ventes":196,"vente mois":143,"M -1":395,"M -2":388,"M -3":255,"M -4":224,"M -5":118,"M -6":304}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400927593093,"produit":"LATANO/TIMOL BIOG50MCG/5MG/ML COLL/2,5ML","nb mois stock":539,"stock":57,"cde en cours":0,"moy. ventes":10,"vente mois":17,"M -1":8,"M -2":14,"M -3":24,"M -4":18,"M -5":14,"M -6":9}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400949188123,"produit":"LETROZOLE BGR 2,5MG CPR B/30","nb mois stock":459,"stock":42,"cde en cours":80,"moy. ventes":26,"vente mois":22,"M -1":19,"M -2":40,"M -3":29,"M -4":31,"M -5":37,"M -6":39}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400941656729,"produit":"LEVETIRACETAM BIOG1000MG CPR PELL SEC/60","nb mois stock":1200,"stock":0,"cde en cours":55,"moy. ventes":4,"vente mois":0,"M -1":0,"M -2":0,"M -3":23,"M -4":2,"M -5":0,"M -6":5}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400941656958,"produit":"LEVETIRACETAM BIOG250MG CPR PELL SEC/60","nb mois stock":657,"stock":43,"cde en cours":130,"moy. ventes":26,"vente mois":28,"M -1":35,"M -2":19,"M -3":30,"M -4":12,"M -5":24,"M -6":64}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400941656378,"produit":"LEVETIRACETAM BIOG500MG CPR PELL SEC/60","nb mois stock":417,"stock":0,"cde en cours":276,"moy. ventes":66,"vente mois":24,"M -1":59,"M -2":79,"M -3":87,"M -4":50,"M -5":66,"M -6":127}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400939718330,"produit":"METFORMINE BIOG 1000MG CPR PELL B/30","nb mois stock":937,"stock":139,"cde en cours":560,"moy. ventes":74,"vente mois":77,"M -1":145,"M -2":94,"M -3":71,"M -4":95,"M -5":68,"M -6":69}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400939717210,"produit":"METFORMINE BIOG 500MG CPR PELL B/30","nb mois stock":1123,"stock":329,"cde en cours":3120,"moy. ventes":307,"vente mois":753,"M -1":449,"M -2":375,"M -3":220,"M -4":147,"M -5":246,"M -6":530}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400939717968,"produit":"METFORMINE BIOG 850MG CPR PELL B/30","nb mois stock":902,"stock":97,"cde en cours":370,"moy. ventes":51,"vente mois":72,"M -1":79,"M -2":54,"M -3":44,"M -4":47,"M -5":45,"M -6":63}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400939718620,"produit":"METFORMINE BIOGARAN 1000MG CPR B/90","nb mois stock":0,"stock":0,"cde en cours":240,"moy. ventes":0,"vente mois":0,"M -1":0,"M -2":0,"M -3":0,"M -4":0,"M -5":0,"M -6":0}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400939717449,"produit":"METFORMINE BIOGARAN 500MG CPR B/90","nb mois stock":0,"stock":0,"cde en cours":240,"moy. ventes":0,"vente mois":0,"M -1":0,"M -2":0,"M -3":0,"M -4":0,"M -5":0,"M -6":0}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400939718101,"produit":"METFORMINE BIOGARAN 850MG CPR B/90","nb mois stock":0,"stock":0,"cde en cours":100,"moy. ventes":0,"vente mois":0,"M -1":0,"M -2":0,"M -3":0,"M -4":0,"M -5":0,"M -6":0}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400939740911,"produit":"NEBIVOLOL BIOGARAN 5MG CPR QUADRISEC/30","nb mois stock":873,"stock":146,"cde en cours":1242,"moy. ventes":159,"vente mois":184,"M -1":216,"M -2":157,"M -3":155,"M -4":154,"M -5":152,"M -6":210}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400930168394,"produit":"OMEPRAZOLE BIOGARAN 20MG GEL GAST B/14","nb mois stock":852,"stock":0,"cde en cours":4800,"moy. ventes":563,"vente mois":138,"M -1":1021,"M -2":618,"M -3":584,"M -4":550,"M -5":418,"M -6":610}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400930038536,"produit":"PROPRANOLOL BIOGARAN 40MG CPR SEC B/50","nb mois stock":998,"stock":200,"cde en cours":1100,"moy. ventes":130,"vente mois":263,"M -1":206,"M -2":144,"M -3":97,"M -4":129,"M -5":116,"M -6":148}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400930016930,"produit":"RACECADOTRIL BIOG 100MG GEL B/20","nb mois stock":257,"stock":3,"cde en cours":0,"moy. ventes":1,"vente mois":1,"M -1":1,"M -2":0,"M -3":1,"M -4":0,"M -5":1,"M -6":4}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400938159783,"produit":"RISPERIDONE BIOGARAN 1MG CPR PELL SEC/60","nb mois stock":644,"stock":41,"cde en cours":120,"moy. ventes":25,"vente mois":65,"M -1":18,"M -2":36,"M -3":28,"M -4":32,"M -5":21,"M -6":31}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400938160154,"produit":"RISPERIDONE BIOGARAN 2MG CPR PELL SEC/60","nb mois stock":447,"stock":108,"cde en cours":330,"moy. ventes":97,"vente mois":81,"M -1":135,"M -2":91,"M -3":46,"M -4":183,"M -5":85,"M -6":118}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400926880705,"produit":"SILDENAFIL BIOG 100MG CPR PELL B/8","nb mois stock":466,"stock":50,"cde en cours":70,"moy. ventes":25,"vente mois":39,"M -1":22,"M -2":26,"M -3":15,"M -4":26,"M -5":12,"M -6":57}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400930099711,"produit":"TADALAFIL BIOGARAN 10MG CPR PELL B/4","nb mois stock":616,"stock":0,"cde en cours":170,"moy. ventes":27,"vente mois":0,"M -1":0,"M -2":58,"M -3":38,"M -4":16,"M -5":22,"M -6":28}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400930099742,"produit":"TADALAFIL BIOGARAN 20MG CPR PELL B/4","nb mois stock":474,"stock":0,"cde en cours":260,"moy. ventes":54,"vente mois":0,"M -1":0,"M -2":7,"M -3":86,"M -4":41,"M -5":33,"M -6":39}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400949247127,"produit":"ZOLMITRIPTAN BIOGARAN 2,5MG CPR OROD B/6","nb mois stock":583,"stock":0,"cde en cours":50,"moy. ventes":8,"vente mois":0,"M -1":0,"M -2":9,"M -3":11,"M -4":9,"M -5":1,"M -6":15}},{"json":{"fournisseur":"TEDIS","etcoda":"COO","ean":3400949247295,"produit":"ZOLMITRIPTAN BIOGARAN 2,5MG CPR OROD/12","nb mois stock":712,"stock":9,"cde en cours":80,"moy. ventes":12,"vente mois":28,"M -1":18,"M -2":11,"M -3":13,"M -4":3,"M -5":2,"M -6":14}}]},"versionId":"e89a3b27-98c6-4f44-a857-71c4f7863052","triggerCount":0,"shared":[{"createdAt":"2025-08-14T11:19:25.946Z","updatedAt":"2025-08-14T11:19:25.946Z","role":"workflow:owner","workflowId":"GhWqQD0iYuaBPbBG","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}