backups/workflow-poc-ubipharm-22-10-2025.json
{"createdAt":"2025-07-24T08:58:21.153Z","updatedAt":"2025-07-28T09:24:10.946Z","id":"aWBl2FIGNOg2i7UI","name":"poc-ubipharm","active":false,"isArchived":false,"nodes":[{"parameters":{"respondWith":"json","responseBody":"={{ $('Format en xlsx') }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[608,624],"id":"7dd91e50-df8d-4d8f-a6be-575106e217d2","name":"Respond to Webhook"},{"parameters":{"content":"#### 🔍 Extract XLSX\n\nRécupération des données via un document XSLX\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-992,448],"id":"7647fb2d-b31a-4bfe-8508-9a5731b292a9","name":"Sticky Note3"},{"parameters":{"content":"#### 🧾 Transfert FTP \nEnvoi du fichier csv via un serveur distant via protocole FTP\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1264,448],"id":"ca18c4a6-aa3f-4b10-a322-3a3f33126203","name":"Sticky Note5"},{"parameters":{"content":"#### 📡 AI Agent via OpenRouter  \nFiltrage des produits avec stock > 0, et simplification des champs via LLM.\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-192,448],"id":"12b5670e-8237-4af3-9dc1-0213628b7cf3","name":"Sticky Note8"},{"parameters":{"content":"#### 🪲Limit DEBUG\nLimite la sortie pour un meilleur débugage","width":250},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-480,448],"id":"7873d9ef-9214-4a8b-9a76-f453e2541460","name":"Sticky Note6"},{"parameters":{"content":"## Prompt User\nDeterminé le model sur lequel L'IA doit travailler:\nex :\nRéférence du produit : {{ $json['Référence'] }}\nDescription du produit : {{ $json['Désignation'] }}\nStock du produit : {{ $json['Stock au 12/07/2025'] }}","height":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-192,-80],"id":"8b5a0bb7-f0a4-4063-83c0-ec00043bbb67","name":"Sticky Note7"},{"parameters":{"content":"## System Message\nInstruction transmise à L'IA\nex:\nVoici une liste produit représentant des références en stock Biogaran.Traite cette liste selon ces critères. Retourne uniquement des références avec des stock supérieur à  0","height":220,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-192,192],"id":"939756ac-be7e-4122-b0d2-c4ce4bb1adbe","name":"Sticky Note9"},{"parameters":{"content":"#### 📤 Payload finale à l'appel HTTP  \nRetourne un JSON propre, structuré et filtré au client déclencheur.\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[608,448],"id":"880567b9-601f-4ceb-88bf-ccea266e8fac","name":"Sticky Note12"},{"parameters":{"protocol":"sftp","operation":"upload","path":"/GED/BIOGARAN/STAT_LABO_PAYS.csv"},"type":"n8n-nodes-base.ftp","typeVersion":1,"position":[-1264,624],"id":"e9f82d5a-ae91-4291-af61-dd103744f69d","name":"Transfert FTP","notesInFlow":true,"disabled":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-992,624],"id":"4bdad2b2-e140-4d54-976b-ae0b066ed5f7","name":"Extract XLSX","notesInFlow":true},{"parameters":{"maxItems":13},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-480,624],"id":"5c560218-d7b4-4893-9df2-0146be51ca50","name":"Limit DEBUG"},{"parameters":{"assignments":{"assignments":[{"id":"f7e7fd9b-882a-4097-9492-b7bb0c483884","name":"Reference","value":"={{ $json.ean }}","type":"string"},{"id":"49616733-aa11-4041-8390-abbd648fa3c7","name":"Description","value":"={{ $json.produit }}","type":"string"},{"id":"95d7e236-6543-4cdb-b0c9-468e029ed1e9","name":"Stock","value":"={{ $json.stock }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-736,624],"id":"0eabbbfe-cf66-4ed5-a75b-28436cd76872","name":"Structuration data","notesInFlow":true},{"parameters":{"content":"#### 🧱 Structuration data\nAssignation des champs par colonnes"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-736,448],"id":"3bdcf450-06af-4e9c-9058-929ed8b1f80b","name":"Sticky Note10"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-192,816],"id":"2d227d45-9678-43e2-8051-bd10aeb082f3","name":"OpenRouter Chat Model","notesInFlow":true,"credentials":{"openRouterApi":{"id":"canp4h4lJPpN5tuC","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// On part du principe que toutes les données entrantes ont la même structure.\n// Nous allons donc traiter uniquement le premier élément pour extraire la liste.\nconst firstItem = items[0];\n\n// 1. Récupérer la chaîne de caractères brute depuis le champ \"output\".\nconst rawString = firstItem.json.output;\n\n// 2. Nettoyer la chaîne pour obtenir un JSON valide.\n// On supprime les balises de bloc de code ```json et ```.\n// Le .trim() enlève les espaces ou sauts de ligne superflus au début ou à la fin.\nconst jsonString = rawString.replace('```json', '').replace('```', '').trim();\n\n// 3. \"Parser\" la chaîne de caractères pour la transformer en objet JSON.\nconst jsonData = JSON.parse(jsonString);\n\n// 4. Retourner le résultat.\n// n8n va automatiquement prendre ce tableau et créer un élément de sortie\n// pour chaque produit, ce qui les rendra utilisables individuellement dans les nœuds suivants.\nreturn jsonData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[160,624],"id":"660e6eb1-51c0-419d-a71c-a9bfe0a9f597","name":"Parse en json"},{"parameters":{"content":"#### 🧾 Parse en json\nParse la sortie serialisé de l'agent.(ex : ```json\\n[\\n    {\\n        \"Ref produit\": \"ATOV001\",\\n)"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[80,448],"id":"f4d68b78-1d02-49c6-97fb-7a55cd9d98de","name":"Sticky Note11"},{"parameters":{"content":"#### 🧾 Convert 2 format xlsx\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[352,448],"id":"7dff12c9-6bb6-4395-96df-f17fa40125a8","name":"Sticky Note13"},{"parameters":{"promptType":"define","text":"={{ $input.all()}}","options":{"systemMessage":"Voici un tableau de données issu d’un fichier CSV.\nPour chaque ligne :\nGarde uniquement les colonnes suivantes :\nRéférence → à renommer en \"Ref produit\"\nDésignation → à renommer en \"Description produit\"\nStock → à renommer en \"Stock produit\"\nSupprime les lignes dont le Stock produit est inférieur ou égal à 0.\nRenvoie uniquement le tableau final filtré.\nSi certaines colonnes ne sont pas présentes dans le fichier, ignore-les.Traite chaque ligne indépendamment, renvoie uniquement un tableau JSON propre, sans texte explicatif."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-192,624],"id":"d0194a35-c359-49a1-a752-808df816524a","name":"Agent Fichier controlleur","notesInFlow":true},{"parameters":{"method":"POST","url":"http://robotframework:5000/run","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"executionId\": \"{{$('Initialisation Variables Scrapping').item.json.executionId}}\",\n  \"robotScriptFileName\": \"{{$('Initialisation Variables Scrapping').item.json.robotScriptFileName}}\",\n  \"login\": \"{{$('Initialisation Variables Scrapping').item.json.login}}\",\n  \"password\": \"{{$('Initialisation Variables Scrapping').item.json.password}}\",\n  \"extranetUrl\": \"{{$('Initialisation Variables Scrapping').item.json.extranetUrl}}\",\n  \"downloadDir\": \"{{$('Initialisation Variables Scrapping').item.json.downloadDir}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1776,624],"id":"fb93efa1-36ac-4e7d-a238-70863cc78830","name":"API RobotFramework","notesInFlow":true},{"parameters":{"content":"#### 🛜 API RobotFramework\nAppel du web service robotframework","color":4},"type":"n8n-nodes-base.stickyNote","position":[-1776,448],"typeVersion":1,"id":"1129ce31-d2b9-43e9-9705-faaacd2ec59c","name":"Sticky Note1"},{"parameters":{"content":"#### 📂 Lecture du fichier csv \n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1520,448],"id":"44e12a99-a1bc-4b3b-b629-e866a1ea60c4","name":"Sticky Note4"},{"parameters":{"content":"#### 🏁 Initialisation Variables Scrapping\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2032,448],"id":"32b9b4ed-d88e-4988-b769-f0b5f725a48d","name":"Sticky Note14"},{"parameters":{"content":"#### 📥 Point d'entrée HTTP externe  \nDéclenche le flux via un appel `POST`.  \nPermet d’initialiser l’automatisation avec ou sans payload.\n"},"type":"n8n-nodes-base.stickyNote","position":[-2400,432],"typeVersion":1,"id":"a32dcb00-be0a-47d1-85c3-aaf532baf656","name":"Sticky Note"},{"parameters":{"path":"6dc8304f-eefe-48ed-a201-931ba80d9421","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2256,624],"id":"17c57656-9623-4e26-be01-f9851190150b","name":"Point d'entrée HTTP externe","webhookId":"6dc8304f-eefe-48ed-a201-931ba80d9421"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2256,832],"id":"63e5ab3e-5473-46f0-a589-f7c805373645","name":"Start Manuel"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2256,256],"id":"5f12cc41-409e-4201-8354-4ee30608bfbd","name":"Start Sous-Workflow"},{"parameters":{"content":"#### 📥 Point d'entrée via workflow maitre\nDéclenche le flux via un workflow principal\n","color":3},"type":"n8n-nodes-base.stickyNote","position":[-2400,80],"typeVersion":1,"id":"76a67a30-b83a-44d4-bc1f-5619a5d3e9a7","name":"Sticky Note15"},{"parameters":{"fileSelector":"={{ $('Initialisation Variables Scrapping').item.json.downloadDir}}/stats_export.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1520,624],"id":"91922999-8fb0-4313-9925-853fd04bbf03","name":"Lecture du fichier csv","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"6469c2a2-afb1-455d-bb47-f6f594bea568","name":"executionId","value":"={{ $execution.id }}","type":"number"},{"id":"6103dc9f-477c-437e-aa6d-55c4c0a3b8b9","name":"robotScriptFileName","value":"ubipharm.robot","type":"string"},{"id":"419cf32d-a3d0-4a65-8059-effc4e53bfe4","name":"login","value":"biogaran","type":"string"},{"id":"05543d17-246e-4182-9287-548eb06c114a","name":"password","value":"Biogaran2021","type":"string"},{"id":"915e3d2a-1a73-41ff-9608-1105b859e651","name":"extranetUrl","value":"https://fournisseur-benin.ubipharm.com","type":"string"},{"id":"9187da22-f6f4-45f4-b087-23f06302f272","name":"downloadDir","value":"=/opt/robotframework/output/downloads/{{ $execution.id }}","type":"string"},{"id":"9da5a410-12a9-4b24-90e1-e210061c063e","name":"statsUrl","value":"https://fournisseur-benin.ubipharm.com/StatsVentes?exportcsv=O","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2032,624],"id":"5698db05-6bc1-4b03-84ea-901aabc66ec8","name":"Initialisation Variables Scrapping","notesInFlow":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[352,624],"id":"23f7778d-a6e3-4f32-bf89-af96327c5332","name":"Format en xlsx","notesInFlow":true}],"connections":{"Transfert FTP":{"main":[[{"node":"Extract XLSX","type":"main","index":0}]]},"Extract XLSX":{"main":[[{"node":"Structuration data","type":"main","index":0}]]},"Limit DEBUG":{"main":[[{"node":"Agent Fichier controlleur","type":"main","index":0}]]},"Structuration data":{"main":[[{"node":"Limit DEBUG","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Agent Fichier controlleur","type":"ai_languageModel","index":0}]]},"Parse en json":{"main":[[{"node":"Format en xlsx","type":"main","index":0}]]},"Agent Fichier controlleur":{"main":[[{"node":"Parse en json","type":"main","index":0}]]},"API RobotFramework":{"main":[[{"node":"Lecture du fichier csv","type":"main","index":0}]]},"Point d'entrée HTTP externe":{"main":[[{"node":"Initialisation Variables Scrapping","type":"main","index":0}]]},"Start Manuel":{"main":[[{"node":"Initialisation Variables Scrapping","type":"main","index":0}]]},"Start Sous-Workflow":{"main":[[{"node":"Initialisation Variables Scrapping","type":"main","index":0}]]},"Lecture du fichier csv":{"main":[[{"node":"Transfert FTP","type":"main","index":0}]]},"Initialisation Variables Scrapping":{"main":[[{"node":"API RobotFramework","type":"main","index":0}]]},"Format en xlsx":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"0f40e8c2-fa1d-4994-98bc-505e17972403","triggerCount":0,"shared":[{"createdAt":"2025-08-14T07:15:05.911Z","updatedAt":"2025-08-14T07:15:05.911Z","role":"workflow:owner","workflowId":"aWBl2FIGNOg2i7UI","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}