backups/workflow-browserless-tedispharma-22-10-2025.json
{"createdAt":"2025-09-23T12:55:08.293Z","updatedAt":"2025-10-22T12:46:25.528Z","id":"Zsak7NoSfe26HxUy","name":"browserless-tedispharma","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-1456,192],"id":"d6478d34-eb05-4888-8bc5-f140157f8971","name":"When clicking ‘Execute workflow’"},{"parameters":{"method":"POST","url":"https://production-sfo.browserless.io/function","sendQuery":true,"queryParameters":{"parameters":[{"name":"token"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/javascript","body":"export default async ({ page, context }) => {\n  try {\n    const login = context?.login || \"Biogaran\";\n    const password = context?.password || \"biogaran\";\n\n    // Connexion\n    await page.goto(\"https://www.tedispharma-ci.com\", { waitUntil: \"networkidle2\" });\n    await page.waitForSelector(\"#loginForm\", { timeout: 15000 });\n    await page.type(\"#username\", login);\n    await page.type(\"#password\", password);\n    await page.click(\"#btnSubmit\");\n    await page.waitForNavigation({ waitUntil: \"networkidle2\", timeout: 20000 });\n\n    // ⚡ Récupérer directement le CSV via fetch dans le contexte navigateur\n    const csvContent = await page.evaluate(async () => {\n      const resp = await fetch(\n        \"https://www.tedispharma-ci.com/StatistiquePays?valeurProduit=0&valeurLaboratoire=0\",\n        { method: \"GET\", credentials: \"include\" } // garder session\n      );\n      return await resp.text();\n    });\n\n    return {\n      data: {\n        success: true,\n        message: \"CSV téléchargé avec succès\",\n        currentUrl: page.url(),\n        csv: csvContent, // contenu brut CSV\n      },\n      type: \"application/json\",\n    };\n  } catch (err) {\n    const errorScreenshot = await page.screenshot({ fullPage: true });\n    const errorScreenshotBase64 = errorScreenshot.toString(\"base64\");\n\n    return {\n      data: {\n        success: false,\n        error: err.message,\n        screenshot: errorScreenshotBase64,\n        currentUrl: page.url(),\n      },\n      type: \"application/json\",\n    };\n  }\n};\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1088,192],"id":"6453f716-dc40-436b-bc30-fc95f7ea0a47","name":"HTTP Request2"},{"parameters":{"jsCode":"// Parcourir tous les éléments entrants\n// Récupérer la chaîne CSV \nconst csvString = $json.data.csv;\n\nconst { data,dataEnteteTableau} = JSON.parse(csvString)\n\n// Transformer la structure\nconst result = data.map(designation => {\n  return designation.TabVM.map((valeur, index) => {\n    return {\n      designation: designation.DesignationProduit, // ou la propriété qui contient le nom\n      mois: dataEnteteTableau[index],\n      valeur: valeur\n    };\n  });\n}).flat(); // Aplatir le tableau de tableaux\n\nreturn result;\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-672,192],"id":"fa945c31-5d3c-4d9b-89c7-efcbbc145376","name":"Code"},{"parameters":{"assignments":{"assignments":[{"id":"29e56bdc-5a6c-4171-aadc-bac645552a55","name":"data.csv","value":"={{ $json.data.csv }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-880,192],"id":"048d7e66-4807-4567-86b9-aabafd761849","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"61b84a59-bfe3-43ff-ab24-9fa920291d6f","name":"data","value":"={{ $json.data }}","type":"array"},{"id":"17042d12-5e9e-4ca5-9bad-0f63f70564b0","name":"mois","value":"={{ $json.mois }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-464,176],"id":"a8d48456-5818-4aad-841c-b263b3ace855","name":"Edit Fields1"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request2","type":"main","index":0}]]},"HTTP Request2":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Code":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Code","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"944bafa3-e4ff-4b1a-9b49-dc09ecd2afc3","triggerCount":1,"shared":[{"createdAt":"2025-09-23T12:55:08.293Z","updatedAt":"2025-09-23T12:55:08.293Z","role":"workflow:owner","workflowId":"Zsak7NoSfe26HxUy","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}