backups/workflow-poc-ubphar-23-10-2025.json
{"createdAt":"2025-07-24T08:58:57.217Z","updatedAt":"2025-07-28T09:13:04.308Z","id":"rZNgGwn3e5SYdCza","name":"poc-ubphar","active":false,"isArchived":false,"nodes":[{"parameters":{"respondWith":"json","responseBody":"=","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[704,720],"id":"e2cfc796-993a-429d-a4be-963bcb10f932","name":"Respond to Webhook"},{"parameters":{"content":"#### 🔍 Extract XLSX\n\nRécupération des données via un document XSLX\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-944,544],"id":"906cb23f-fe39-4c02-8f8c-23aa9bc77bd6","name":"Sticky Note3"},{"parameters":{"content":"#### 🧾 Transfert FTP \nEnvoi du fichier csv via un serveur distant via protocole FTP\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1216,544],"id":"fae65b9a-553c-4480-8521-5f3f597c4c45","name":"Sticky Note5"},{"parameters":{"content":"#### 📡 AI Agent via OpenRouter  \nFiltrage des produits avec stock > 0, et simplification des champs via LLM.\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-144,544],"id":"5e4bb578-bd60-46b6-addb-54311910eac0","name":"Sticky Note8"},{"parameters":{"content":"#### 🪲Limit DEBUG\nLimite la sortie pour un meilleur débugage","width":250},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-432,544],"id":"75fa7888-caf9-4e3c-a12d-74fdf6ab625a","name":"Sticky Note6"},{"parameters":{"content":"## Prompt User\nDeterminé le model sur lequel L'IA doit travailler:\nex :\nRéférence du produit : {{ $json['Référence'] }}\nDescription du produit : {{ $json['Désignation'] }}\nStock du produit : {{ $json['Stock au 12/07/2025'] }}","height":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-144,16],"id":"b4c67552-27f1-4ddb-9c5a-89ca6a00a9dd","name":"Sticky Note7"},{"parameters":{"content":"## System Message\nInstruction transmise à L'IA\nex:\nVoici une liste produit représentant des références en stock Biogaran.Traite cette liste selon ces critères. Retourne uniquement des références avec des stock supérieur à  0","height":220,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-144,288],"id":"d7b5af78-a26a-4cf3-9255-ce66332c7879","name":"Sticky Note9"},{"parameters":{"content":"#### 📤 Payload finale à l'appel HTTP  \nRetourne un JSON propre, structuré et filtré au client déclencheur.\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[704,544],"id":"6d25bae7-9825-48a5-9a63-bde1c4926590","name":"Sticky Note12"},{"parameters":{"protocol":"sftp","operation":"upload","path":"/GED/BIOGARAN/STAT_LABO_PAYS.csv"},"type":"n8n-nodes-base.ftp","typeVersion":1,"position":[-1216,720],"id":"ab1089ca-6e96-4567-9d95-3100137f627d","name":"Transfert FTP","notesInFlow":true,"disabled":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-944,720],"id":"c1d4f45d-61e4-475d-95aa-d1e6b813ecca","name":"Extract XLSX","notesInFlow":true},{"parameters":{"maxItems":13},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-432,720],"id":"5d0fe357-a241-4906-a6c9-55131facd88f","name":"Limit DEBUG"},{"parameters":{"assignments":{"assignments":[{"id":"f7e7fd9b-882a-4097-9492-b7bb0c483884","name":"Reference","value":"={{ $json['Référence'] }}","type":"string"},{"id":"ec6f5ccd-38b3-4e80-bda8-bac1681a75db","name":"Designation","value":"={{ $json['Désignation'] }}","type":"string"},{"id":"70a929c0-7df6-40b9-a956-ce4ed976473e","name":"Stock","value":"={{ $json['Stock au 19/07/2025'] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-688,720],"id":"e70e8cd7-9f83-42ea-b779-b297ab3c391c","name":"Structuration data","notesInFlow":true},{"parameters":{"content":"#### 🧱 Structuration data\nAssignation des champs par colonnes"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-688,544],"id":"ed25d403-5b5b-489d-ab1b-771510571d69","name":"Sticky Note10"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-144,912],"id":"1207389c-17df-495a-b50c-6f3a3e2310d5","name":"OpenRouter Chat Model","notesInFlow":true,"credentials":{"openRouterApi":{"id":"canp4h4lJPpN5tuC","name":"OpenRouter account"}}},{"parameters":{"jsCode":"// On part du principe que toutes les données entrantes ont la même structure.\n// Nous allons donc traiter uniquement le premier élément pour extraire la liste.\nconst firstItem = items[0];\n\n// 1. Récupérer la chaîne de caractères brute depuis le champ \"output\".\nconst rawString = firstItem.json.output;\n\n// 2. Nettoyer la chaîne pour obtenir un JSON valide.\n// On supprime les balises de bloc de code ```json et ```.\n// Le .trim() enlève les espaces ou sauts de ligne superflus au début ou à la fin.\nconst jsonString = rawString.replace('```json', '').replace('```', '').trim();\n\n// 3. \"Parser\" la chaîne de caractères pour la transformer en objet JSON.\nconst jsonData = JSON.parse(jsonString);\n\n// 4. Retourner le résultat.\n// n8n va automatiquement prendre ce tableau et créer un élément de sortie\n// pour chaque produit, ce qui les rendra utilisables individuellement dans les nœuds suivants.\nreturn jsonData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[192,720],"id":"d736de24-d791-4657-b953-8de6b64e3fdb","name":"Parse en json"},{"parameters":{"content":"#### 🧾 Parse en json\nParse la sortie serialisé de l'agent.(ex : ```json\\n[\\n    {\\n        \"Ref produit\": \"ATOV001\",\\n)"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[192,544],"id":"19b07dfc-ef5c-4a5d-815a-b6fa1b439bbd","name":"Sticky Note11"},{"parameters":{"content":"#### 🧾 Format en xlsx\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[448,544],"id":"373716f8-5279-4f14-ad2c-80fa77c0393f","name":"Sticky Note13"},{"parameters":{"promptType":"define","text":"={{ $input.all()}}","options":{"systemMessage":"Voici un tableau de données issu d’un fichier HTML.\nPour chaque ligne :\nGarde uniquement les colonnes suivantes :\nRéférence → à renommer en \"Ref produit\"\nDésignation → à renommer en \"Description produit\"\nStock → à renommer en \"Stock produit\"\nSupprime les lignes dont le Stock produit est inférieur ou égal à 0.\nRenvoie uniquement le tableau final filtré.\nSi certaines colonnes ne sont pas présentes dans le fichier, ignore-les.Traite chaque ligne indépendamment, renvoie uniquement un tableau JSON propre, sans texte explicatif."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-144,720],"id":"b68c973e-603b-4d47-8b12-f26e3c17a7a5","name":"Agent Fichier controlleur","notesInFlow":true},{"parameters":{"method":"POST","url":"http://robotframework:5000/run","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"executionId\": \"{{$('Initialisation Variables Scrapping').item.json.executionId}}\",\n  \"robotScriptFileName\": \"{{$('Initialisation Variables Scrapping').item.json.robotScriptFileName}}\",\n  \"login\": \"{{$('Initialisation Variables Scrapping').item.json.login}}\",\n  \"password\": \"{{$('Initialisation Variables Scrapping').item.json.password}}\",\n  \"extranetUrl\": \"{{$('Initialisation Variables Scrapping').item.json.extranetUrl}}\",\n  \"downloadDir\": \"{{$('Initialisation Variables Scrapping').item.json.downloadDir}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1728,720],"id":"46ec3a76-b3c6-41fa-82b5-e48b66cc35aa","name":"API RobotFramework","notesInFlow":true},{"parameters":{"content":"#### 🛜 API RobotFramework\nAppel du web service robotframework","color":4},"type":"n8n-nodes-base.stickyNote","position":[-1728,544],"typeVersion":1,"id":"a307adf5-dd7b-4127-8212-2d3461dae09c","name":"Sticky Note1"},{"parameters":{"content":"#### 📂 Lecture du fichier html\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1472,544],"id":"9b5e33b7-8933-4e9e-808e-e13aa940742a","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"6469c2a2-afb1-455d-bb47-f6f594bea568","name":"executionId","value":"={{ $execution.id }}","type":"number"},{"id":"6103dc9f-477c-437e-aa6d-55c4c0a3b8b9","name":"robotScriptFileName","value":"ubphar.robot","type":"string"},{"id":"419cf32d-a3d0-4a65-8059-effc4e53bfe4","name":"login","value":"BIOGARAN","type":"string"},{"id":"05543d17-246e-4182-9287-548eb06c114a","name":"password","value":"BIOG*125","type":"string"},{"id":"915e3d2a-1a73-41ff-9608-1105b859e651","name":"extranetUrl","value":"https://www.ubphar.com","type":"string"},{"id":"9187da22-f6f4-45f4-b087-23f06302f272","name":"downloadDir","value":"=/opt/robotframework/output/downloads/{{ $execution.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-1984,720],"id":"bc5662d4-af17-447c-a06f-e03fd1c3ed03","name":"Initialisation Variables Scrapping","notesInFlow":true},{"parameters":{"content":"#### 🏁 Initialisation Variables Scrapping\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1984,544],"id":"fac709ab-e59c-46bd-92e6-2b2263630687","name":"Sticky Note14"},{"parameters":{"content":"#### 📥 Point d'entrée HTTP externe  \nDéclenche le flux via un appel `POST`.  \nPermet d’initialiser l’automatisation avec ou sans payload.\n"},"type":"n8n-nodes-base.stickyNote","position":[-2352,528],"typeVersion":1,"id":"002d6bfd-d0f9-4c4f-8568-2bc63e7fd6d3","name":"Sticky Note"},{"parameters":{"path":"6dc8304f-eefe-48ed-a201-931ba80d9421","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-2208,720],"id":"ec34792b-09dc-4826-aa93-e6452fda8f6a","name":"Point d'entrée HTTP externe","webhookId":"6dc8304f-eefe-48ed-a201-931ba80d9421"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-2208,928],"id":"4306b499-98b6-4f8d-baed-1b6bd341b35f","name":"Start Manuel"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-2208,352],"id":"56a02d8f-698a-4934-8299-d938d90f6b1c","name":"Start Sous-Workflow"},{"parameters":{"content":"#### 📥 Point d'entrée via workflow maitre\nDéclenche le flux via un workflow principal\n","color":3},"type":"n8n-nodes-base.stickyNote","position":[-2352,176],"typeVersion":1,"id":"328a08cb-bcd3-415e-8880-abf063880e52","name":"Sticky Note15"},{"parameters":{"fileSelector":"={{ $('Initialisation Variables Scrapping').item.json.downloadDir}}/statistiques.html","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-1472,720],"id":"7347f994-26e0-44a7-8735-03367a5ce9f4","name":"Lecture du fichier html","notesInFlow":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[448,720],"id":"315b89c7-7752-48e9-97d5-7051c400a26e","name":"Format en xlsx","notesInFlow":true}],"connections":{"Transfert FTP":{"main":[[{"node":"Extract XLSX","type":"main","index":0}]]},"Extract XLSX":{"main":[[{"node":"Structuration data","type":"main","index":0}]]},"Limit DEBUG":{"main":[[{"node":"Agent Fichier controlleur","type":"main","index":0}]]},"Structuration data":{"main":[[{"node":"Limit DEBUG","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Agent Fichier controlleur","type":"ai_languageModel","index":0}]]},"Parse en json":{"main":[[{"node":"Format en xlsx","type":"main","index":0}]]},"Agent Fichier controlleur":{"main":[[{"node":"Parse en json","type":"main","index":0}]]},"API RobotFramework":{"main":[[{"node":"Lecture du fichier html","type":"main","index":0}]]},"Initialisation Variables Scrapping":{"main":[[{"node":"API RobotFramework","type":"main","index":0}]]},"Point d'entrée HTTP externe":{"main":[[{"node":"Initialisation Variables Scrapping","type":"main","index":0}]]},"Start Manuel":{"main":[[{"node":"Initialisation Variables Scrapping","type":"main","index":0}]]},"Start Sous-Workflow":{"main":[[{"node":"Initialisation Variables Scrapping","type":"main","index":0}]]},"Lecture du fichier html":{"main":[[{"node":"Transfert FTP","type":"main","index":0}]]},"Format en xlsx":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"7d0a4fa9-ee71-4c24-979f-74baaf26935a","triggerCount":0,"shared":[{"createdAt":"2025-08-14T07:15:09.180Z","updatedAt":"2025-08-14T07:15:09.180Z","role":"workflow:owner","workflowId":"rZNgGwn3e5SYdCza","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}