backups/workflow-data-mapping-22-10-2025.json
{"createdAt":"2025-08-04T21:01:33.088Z","updatedAt":"2025-08-05T07:28:00.688Z","id":"4IYh9X08aJbjcKfy","name":"data-mapping","active":false,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Index_Model","formFields":{"values":[{"fieldLabel":"Index-Model","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-80,272],"id":"b753c894-931a-4bca-a9c3-ab472ce410ab","name":"On form submission","webhookId":"4bde4eeb-52e9-445e-a545-07496fad131e"},{"parameters":{"formTitle":"Index Mapping","formFields":{"values":[{"fieldLabel":"Index Mapping","fieldType":"file","multipleFiles":false}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-80,0],"id":"b61db30f-56db-4402-b532-17c673da6da1","name":"On form submission1","webhookId":"abfdf37f-8444-4e89-9e3d-30e81ab1892e"},{"parameters":{"operation":"xlsx","binaryPropertyName":"Index_Model","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[112,272],"id":"512a9b5e-ff5f-4e19-aa11-56c363c86198","name":"DATA-MODEL","notesInFlow":true},{"parameters":{"operation":"xlsx","binaryPropertyName":"Index_Mapping","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[128,0],"id":"cd23741b-eaa0-4179-bdd7-1f8d7df8e264","name":"Extract from File","notesInFlow":true},{"parameters":{"rule":{"interval":[{}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-352,352],"id":"51d063f5-bd03-4a9e-a21e-71d0503883b2","name":"Schedule Trigger"},{"parameters":{"formTitle":"Designation à mapper","formFields":{"values":[{"fieldLabel":"Designation à mapper","fieldType":"file"}]},"options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[-96,544],"id":"2eee5066-3d62-4a44-8343-737e1291b3a8","name":"On form submission2","webhookId":"5797abd5-acf0-4de9-9473-29b70fd9a8c4"},{"parameters":{"operation":"xlsx","binaryPropertyName":"Designation___mapper","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[112,544],"id":"8ff01aa3-123b-4305-8d37-561a3c24ea41","name":"Designation to map","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"67c5f3ec-62f8-46c3-ac30-9171079dd1ea","name":"Code_M","value":"={{ $json[\"Code M\"] }}","type":"string"},{"id":"67c47b58-f3c9-49c6-bee3-a7210f6e7344","name":"Designation_Alternative","value":"={{ $json[\"Designation mapping\"] }}","type":"string"},{"id":"f510ecb2-67e4-45cc-81c4-b5093c434199","name":"Index_Model","value":"={{ $json[\"Index Model\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[608,0],"id":"db823256-6ee6-47d9-ac0a-1f5e5956af26","name":"Edit Fields"},{"parameters":{"assignments":{"assignments":[{"id":"58445a46-8e86-4513-b363-f279ec4502c1","name":"Designation_to_Map","value":"={{ $json[\"Designation mapping\"] }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[592,544],"id":"2f11f29e-80fa-45b7-ae36-a36cc1d2a0eb","name":"Edit Fields1"},{"parameters":{"mode":"combine","advanced":true,"mergeByFields":{"values":[{"field1":"Designation_Alternative","field2":"Designation_to_Map"}]},"options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[992,304],"id":"3bf041eb-fdf3-4a1b-9b5a-466fb210dfb0","name":"Merge","notesInFlow":true}],"connections":{"On form submission":{"main":[[{"node":"DATA-MODEL","type":"main","index":0}]]},"On form submission1":{"main":[[{"node":"Extract from File","type":"main","index":0}]]},"Extract from File":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Schedule Trigger":{"main":[[{"node":"DATA-MODEL","type":"main","index":0},{"node":"Extract from File","type":"main","index":0},{"node":"Designation to map","type":"main","index":0}]]},"On form submission2":{"main":[[{"node":"Designation to map","type":"main","index":0}]]},"Designation to map":{"main":[[{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Merge","type":"main","index":1}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"DATA-MODEL":[{"json":{"Code M":"M10573","Désignation":"ABACAVIR / LAMIVUDINE 600/300MG 30CP BGN"}},{"json":{"Code M":"M12058","Désignation":"ABIRATERONE ACETATE 500MG 60CP BGN"}},{"json":{"Code M":"M00614","Désignation":"ACAMPROSATE 333MG 180CP GR BGN"}},{"json":{"Code M":"M00022","Désignation":"ACAMPROSATE 333MG 60CP GR BGN"}},{"json":{"Code M":"M00023","Désignation":"ACARBOSE 100MG 90CP BGN"}},{"json":{"Code M":"M00025","Désignation":"ACARBOSE 50MG 90CP BGN"}},{"json":{"Code M":"M01438","Désignation":"ACEBUTOLOL 200MG 30CP BGN"}},{"json":{"Code M":"M00581","Désignation":"ACEBUTOLOL 200MG 90CP BGN"}},{"json":{"Code M":"M01442","Désignation":"ACEBUTOLOL 400MG 30CP BGN"}},{"json":{"Code M":"M00027","Désignation":"ACECLOFENAC 100MG 30CP BGN"}},{"json":{"Code M":"M12818","Désignation":"ACEROLA 1G 30CP BGC"}},{"json":{"Code M":"M12586","Désignation":"ACETYLCYSTEINE 200MG PPS 18SAC BGC"}},{"json":{"Code M":"M00400","Désignation":"ACETYLLEUCINE 500MG 30CP BGN"}},{"json":{"Code M":"M01477","Désignation":"ACICLOVIR 200MG 25CP BGN"}},{"json":{"Code M":"M01338","Désignation":"ACICLOVIR 5% CREME 10G BGN"}},{"json":{"Code M":"M01476","Désignation":"ACICLOVIR 800MG 35CP BGN"}},{"json":{"Code M":"M01426","Désignation":"ACICLOVIR 5% CREME 2G BGC"}},{"json":{"Code M":"M13619","Désignation":"ACIDE ACETYL 100MG 30CP  BGN"}},{"json":{"Code M":"M10624","Désignation":"ACIDE ACETYL 75MG 30CP DISP BGN"}},{"json":{"Code M":"M13547","Désignation":"ACIDE ACETYL 75MG 90CP GR BGN"}},{"json":{"Code M":"M01267","Désignation":"ACIDE ALENDRONIQUE 70MG 12CP BGN"}},{"json":{"Code M":"M01268","Désignation":"ACIDE ALENDRONIQUE 70MG 4CP BGN"}},{"json":{"Code M":"M10019","Désignation":"ACIDE FOLIQUE 0,4MG 30CP BGN"}},{"json":{"Code M":"M13597","Désignation":"ACIDE FOLIQUE 0,4MG 90CP BGN"}},{"json":{"Code M":"M10460","Désignation":"ACIDE FUSIDIQUE 2% CREME 15G BGR"}},{"json":{"Code M":"M00586","Désignation":"ACIDE URSODESOXYCHOLIQUE 250MG 20CP BGN"}},{"json":{"Code M":"M11212","Désignation":"ACIDE URSODESOXYCHOLIQUE 500MG 60CP BGN"}},{"json":{"Code M":"M13068","Désignation":"ACIDE ZOLEDRO 4MG/100ML SOL PERF BGR"}},{"json":{"Code M":"M13581","Désignation":"ACIDE ZOLEDRONIQUE 5MG 100ML BGN"}},{"json":{"Code M":"M10609","Désignation":"AGOMELATINE 25MG 28CP BGN"}},{"json":{"Code M":"M13864","Désignation":"ALFA AMYLASE 200UCEIP 200ML BGC"}},{"json":{"Code M":"M13870","Désignation":"ALFA AMYLASE 3000UCEIP 18CP BGC"}},{"json":{"Code M":"M01237","Désignation":"ALFUZOSINE 10MG 30CP LP BGN"}},{"json":{"Code M":"M90194","Désignation":"ALFUSOZINE 10MG 30CP LP EVOLUGEN"}},{"json":{"Code M":"M11404","Désignation":"ALGINATE NA 500/267MG SUSP BUV 12SAC BGC"}},{"json":{"Code M":"M10013","Désignation":"ALLOPURINOL 100MG 28CP BGN"}},{"json":{"Code M":"M10014","Désignation":"ALLOPURINOL 200MG 28CP BGN"}},{"json":{"Code M":"M10015","Désignation":"ALLOPURINOL 300MG 28CP BGN"}},{"json":{"Code M":"M00588","Désignation":"ALMOTRIPTAN 12,5MG 12CP BGN"}},{"json":{"Code M":"M00587","Désignation":"ALMOTRIPTAN 12,5MG 6CP BGN"}},{"json":{"Code M":"M01333","Désignation":"ALPRAZOLAM 0.25MG 30CP BGN"}},{"json":{"Code M":"M01334","Désignation":"ALPRAZOLAM 0.5MG 30CP BGN"}},{"json":{"Code M":"M01109","Désignation":"AMBROXOL 0.6% SOL BUV 100ML BGC"}},{"json":{"Code M":"M01110","Désignation":"AMBROXOL 30MG 20CP BGC"}},{"json":{"Code M":"M01427","Désignation":"AMIODARONE 200MG 30CP BGN"}},{"json":{"Code M":"M01332","Désignation":"AMISULPRIDE 100MG 30CP BGN"}},{"json":{"Code M":"M01349","Désignation":"AMISULPRIDE 200MG 60CP BGN"}},{"json":{"Code M":"M01292","Désignation":"AMISULPRIDE 400MG 30CP BGN"}},{"json":{"Code M":"M01128","Désignation":"AMLODIPINE 10MG 30GE BGN"}},{"json":{"Code M":"M01127","Désignation":"AMLODIPINE 10MG 90GE BGN"}},{"json":{"Code M":"M01126","Désignation":"AMLODIPINE 5MG 30GE BGN"}},{"json":{"Code M":"M01125","Désignation":"AMLODIPINE 5MG 90GE BGN"}},{"json":{"Code M":"M10593","Désignation":"AMLODIPINE/VALSARTAN 10/160MG 30CP BGN"}},{"json":{"Code M":"M10594","Désignation":"AMLODIPINE/VALSARTAN 10/160MG 90CP BGN"}},{"json":{"Code M":"M10597","Désignation":"AMLODIPINE/VALSARTAN 5/160MG 30CP BGN"}},{"json":{"Code M":"M10598","Désignation":"AMLODIPINE/VALSARTAN 5/160MG 90CP BGN"}},{"json":{"Code M":"M10601","Désignation":"AMLODIPINE/VALSARTAN 5/80MG 30CP BGN"}},{"json":{"Code M":"M10602","Désignation":"AMLODIPINE/VALSARTAN 5/80MG 90CP BGN"}},{"json":{"Code M":"M10477","Désignation":"AMOROLFINE 5% VERNIS 2.5ML 20 SPAT BGR"}},{"json":{"Code M":"M10437","Désignation":"AMOROLFINE 5% VERNIS 2.5ML 30SPAT BGC"}},{"json":{"Code M":"M01428","Désignation":"AMOX. ACIDE CLAV 100/12.5MG PPS 60ML BGN"}},{"json":{"Code M":"M01429","Désignation":"AMOX. ACIDE CLAV 100/12.5MG PPS 30ML BGN"}},{"json":{"Code M":"M01434","Désignation":"AMOX. ACIDE CLAV 1G/125MG PPS 12SAC BGN"}},{"json":{"Code M":"M01435","Désignation":"AMOX. ACIDE CLAV 1G/125MG PPS 8SAC BGN"}},{"json":{"Code M":"M01433","Désignation":"AMOX. ACIDE CLAV 500/62.5MG 16CP BGN"}},{"json":{"Code M":"M01432","Désignation":"AMOX. ACIDE CLAV 500/62.5MG 24CP BGN"}},{"json":{"Code M":"M11258","Désignation":"AMOXICILLINE 1G 14CP DISP BGR"}},{"json":{"Code M":"M11257","Désignation":"AMOXICILLINE 1G 6CP DISP BGR"}},{"json":{"Code M":"M13914","Désignation":"AMOXICILLINE 500MG/5ML PPS 60ML BGR"}},{"json":{"Code M":"M01527","Désignation":"AMOXICILLINE 125MG/5ML PPS 60ML BGN"}},{"json":{"Code M":"M01526","Désignation":"AMOXICILLINE 250MG/5ML PPS 60ML BGN"}},{"json":{"Code M":"M01525","Désignation":"AMOXICILLINE 500MG/5ML PPS 60ML BGN"}},{"json":{"Code M":"M01528","Désignation":"AMOXICILLINE 500MG 12GE BGN"}},{"json":{"Code M":"M11456","Désignation":"ALC DICHLO/AMYL 1.20/0.6MG 24CP SUC BGC"}},{"json":{"Code M":"M13278","Désignation":"AMYLM/DICHLO/LIDO 223/446/600MG 20ML BGC"}},{"json":{"Code M":"M10591","Désignation":"ANAGRELIDE 0.5MG 100GE BGN"}},{"json":{"Code M":"M00031","Désignation":"ANASTROZOLE 1MG 30CP BGN"}},{"json":{"Code M":"M01381","Désignation":"ANASTROZOLE 1MG 90CP BGN"}},{"json":{"Code M":"M11548","Désignation":"APOMORPHINE 5MG/ML 10SOL INJ BGN "}},{"json":{"Code M":"M10618","Désignation":"APREPITANT 125MG/80MG 3GE BGN "}},{"json":{"Code M":"M10283","Désignation":"APREPITANT 80MG 2GE BGN"}},{"json":{"Code M":"M10962","Désignation":"ARIPIPRAZOLE 5MG 28CP BGR"}},{"json":{"Code M":"M13473","Désignation":"ARIPIPRAZOLE 10MG 28CP BGN"}},{"json":{"Code M":"M13470","Désignation":"ARIPIPRAZOLE 10MG 28CP ORO DISP BGN"}},{"json":{"Code M":"M13474","Désignation":"ARIPIPRAZOLE 15MG 28CP BGN"}},{"json":{"Code M":"M13471","Désignation":"ARIPIPRAZOLE 15MG 28CP ORO DISP BGN"}},{"json":{"Code M":"M13472","Désignation":"ARIPIPRAZOLE 5MG 28CP BGN"}},{"json":{"Code M":"M10367","Désignation":"ATAZANAVIR 150MG 60GE BGN"}},{"json":{"Code M":"M10368","Désignation":"ATAZANAVIR 200MG 60GE BGN"}},{"json":{"Code M":"M10369","Désignation":"ATAZANAVIR 300MG 30GE BGN"}},{"json":{"Code M":"M01142","Désignation":"ATENOLOL 100MG 30CP BGN"}},{"json":{"Code M":"M01177","Désignation":"ATENOLOL 100MG 90CP BGN"}},{"json":{"Code M":"M01408","Désignation":"ATENOLOL 50MG 30CP BGN"}},{"json":{"Code M":"M01175","Désignation":"ATENOLOL 50MG 90CP BGN"}},{"json":{"Code M":"M10159","Désignation":"ATENOLOL NIFEDIPINE 50/20MG 30GE BGN"}},{"json":{"Code M":"M10160","Désignation":"ATENOLOL NIFEDIPINE 50/20MG 90GE BGN"}},{"json":{"Code M":"M12332","Désignation":"ATORVASTATINE 10MG 30CP BGN"}},{"json":{"Code M":"M12333","Désignation":"ATORVASTATINE 10MG 90CP BGN"}},{"json":{"Code M":"M12329","Désignation":"ATORVASTATINE 20MG 30CP BGN"}},{"json":{"Code M":"M12330","Désignation":"ATORVASTATINE 20MG 90CP BGN"}},{"json":{"Code M":"M12335","Désignation":"ATORVASTATINE 40MG 30CP BGN"}},{"json":{"Code M":"M12336","Désignation":"ATORVASTATINE 40MG 90CP BGN"}},{"json":{"Code M":"M12338","Désignation":"ATORVASTATINE 80MG 30CP BGN"}},{"json":{"Code M":"M12339","Désignation":"ATORVASTATINE 80MG 90CP BGN"}},{"json":{"Code M":"M11412","Désignation":"ATOVAQUONE 750MG/5ML SUSP BUV 226ML BGN"}},{"json":{"Code M":"M13847","Désignation":"ATOVAQUONE/PROGUANIL 250/100MG 12CP BGR"}},{"json":{"Code M":"M00484","Désignation":"ATOVAQUONE PROGUANIL 250/100MG 12CP BGN"}},{"json":{"Code M":"M00485","Désignation":"ATOVAQUONE PROGUANIL 62,5/25MG 12CP BGN"}},{"json":{"Code M":"M12376","Désignation":"AZITHROMYCINE 250MG 6CP BGR"}},{"json":{"Code M":"M00034","Désignation":"BETAHISTINE 24MG 60CP BGN"}},{"json":{"Code M":"M00037","Désignation":"BETAMETHASONE 0.05% CREME 30G BGN"}},{"json":{"Code M":"M00035","Désignation":"BETAMETHASONE 0.5% SOL BUV 30ML BGN"}},{"json":{"Code M":"M00036","Désignation":"BETAMETHASONE 2MG CP DISP BGN"}},{"json":{"Code M":"M10140","Désignation":"BETAXOLOL 20MG 30CP BGN"}},{"json":{"Code M":"M10141","Désignation":"BETAXOLOL 20MG 90CP BGN"}},{"json":{"Code M":"M00038","Désignation":"BICALUTAMIDE 50MG 30CP BGN"}},{"json":{"Code M":"M10657","Désignation":"BILASTINE 20MG 30CP BGN"}},{"json":{"Code M":"M13425","Désignation":"BIMATOPROST 0.1MG/ML COLL 3ML BGN"}},{"json":{"Code M":"M10209","Désignation":"BIMATOP/TIMO 0,3/0,5 MG/ML COLL 3ML BGN"}},{"json":{"Code M":"M10027","Désignation":"BISACODYL 5MG 30CP GR BGC"}},{"json":{"Code M":"M00046","Désignation":"BISOPROLOL HCTZ 10/6.25MG 30CP BGN"}},{"json":{"Code M":"M00233","Désignation":"BISOPROLOL HCTZ 10/6.25MG 90CP BGN"}},{"json":{"Code M":"M00044","Désignation":"BISOPROLOL HCTZ 2.5/6.25MG 30CP BGN"}},{"json":{"Code M":"M00231","Désignation":"BISOPROLOL HCTZ 2.5/6.25MG 90CP BGN"}},{"json":{"Code M":"M00045","Désignation":"BISOPROLOL HCTZ 5/6.25MG 30CP BGN"}},{"json":{"Code M":"M00232","Désignation":"BISOPROLOL HCTZ 5/6.25MG 90CP BGN"}},{"json":{"Code M":"M12427","Désignation":"BISOPROLOL 10MG 30CP NOR"}},{"json":{"Code M":"M12428","Désignation":"BISOPROLOL 10MG 90CP NOR"}},{"json":{"Code M":"M12437","Désignation":"BISOPROLOL 10MG 30CP REF"}},{"json":{"Code M":"M12438","Désignation":"BISOPROLOL 10MG 90CP REF"}},{"json":{"Code M":"M12429","Désignation":"BISOPROLOL 1.25MG 30CP REF"}},{"json":{"Code M":"M12430","Désignation":"BISOPROLOL 1.25MG 90CP REF"}},{"json":{"Code M":"M12431","Désignation":"BISOPROLOL 2.5MG 30CP REF"}},{"json":{"Code M":"M12432","Désignation":"BISOPROLOL 2.5MG 90CP REF"}},{"json":{"Code M":"M12433","Désignation":"BISOPROLOL 3.75MG 30CP REF"}},{"json":{"Code M":"M12434","Désignation":"BISOPROLOL 5MG 30CP REF"}},{"json":{"Code M":"M12435","Désignation":"BISOPROLOL 5MG 90CP REF"}},{"json":{"Code M":"M12436","Désignation":"BISOPROLOL 7.5MG 30CP REF"}},{"json":{"Code M":"M00047","Désignation":"BORAX AC.BORIQU 12/18MG SOL 5ML 20UN BGN"}},{"json":{"Code M":"M12407","Désignation":"BORAX/ACIDE BOR 12MG/18MG 20 COLL BGC"}},{"json":{"Code M":"M11346","Désignation":"BOSUTINIB 100MG 28CP BGN"}},{"json":{"Code M":"M13582","Désignation":"BOSUTINIB 400MG 28CP BGN"}},{"json":{"Code M":"M11344","Désignation":"BOSUTINIB 500MG 28CP BGN"}},{"json":{"Code M":"M11480","Désignation":"BRIMONIDINE 2MG/ML COLL 5ML BGN"}},{"json":{"Code M":"M11161","Désignation":"BRIMONIDINE /TIMOLOL 5ML COLL BGN"}},{"json":{"Code M":"M00592","Désignation":"BRINZOLAMIDE 0,01% COLL 5ML BGN"}},{"json":{"Code M":"M10710","Désignation":"BRINZOL/TIMOLOL 10/5MG COLL 5ML BGN"}},{"json":{"Code M":"M01490","Désignation":"BROMAZEPAM 6MG 30CP BGN"}},{"json":{"Code M":"M01294","Désignation":"BUDESONIDE 0.5MG/2ML SUSP INH 20UN BGN"}},{"json":{"Code M":"M01293","Désignation":"BUDESONIDE 1MG/2ML SUSP INH 20UN BGN"}},{"json":{"Code M":"M01062","Désignation":"BUPRENORPHINE 0.4MG 7CP ORO DISP BGN"}},{"json":{"Code M":"M01061","Désignation":"BUPRENORPHINE 2MG 7CP BGN"}},{"json":{"Code M":"M01060","Désignation":"BUPRENORPHINE 8MG 7CP ORO DISP BGN"}},{"json":{"Code M":"M01407","Désignation":"CALCIUM D3 500MG/400UI 60CP SUC BGN"}},{"json":{"Code M":"M00259","Désignation":"CANDESARTAN 16MG 30CP BGN"}},{"json":{"Code M":"M00260","Désignation":"CANDESARTAN 16MG 90CP BGN"}},{"json":{"Code M":"M00486","Désignation":"CANDESARTAN 32MG 30CP BGN"}},{"json":{"Code M":"M00257","Désignation":"CANDESARTAN 4MG 30CP BGN"}},{"json":{"Code M":"M00258","Désignation":"CANDESARTAN 4MG 90CP BGN"}},{"json":{"Code M":"M00255","Désignation":"CANDESARTAN 8MG 30CP BGN"}},{"json":{"Code M":"M00256","Désignation":"CANDESARTAN 8MG 90CP BGN"}},{"json":{"Code M":"M00488","Désignation":"CANDESARTAN HCTZ 16MG/12,5MG  30CP BGN"}},{"json":{"Code M":"M00489","Désignation":"CANDESARTAN HCTZ 16MG/12,5MG 90CP BGN"}},{"json":{"Code M":"M00567","Désignation":"CANDESARTAN HCTZ 8MG/12,5MG 30CP BGN"}},{"json":{"Code M":"M00487","Désignation":"CANDESARTAN HCTZ 8 MG/12,5MG 90CP BGN"}},{"json":{"Code M":"M10945","Désignation":"CAPECITABINE 150MG 60CP BGN"}},{"json":{"Code M":"M10946","Désignation":"CAPECITABINE 500MG 120 CP BGN"}},{"json":{"Code M":"M01483","Désignation":"CAPTOPRIL 25MG 30CP BGN"}},{"json":{"Code M":"M01482","Désignation":"CAPTOPRIL 50MG 30CP BGN"}},{"json":{"Code M":"M01339","Désignation":"CAPTOPRIL HCTZ 50/25MG 28CP BGN"}},{"json":{"Code M":"M00379","Désignation":"CAPTOPRIL HCTZ 50/25MG 84CP BGN"}},{"json":{"Code M":"M01392","Désignation":"CARBOCISTEINE 2% SOL BUV 125ML BGC"}},{"json":{"Code M":"M01111","Désignation":"CARBOCISTEINE 5% SOL BUV 200ML BGC"}},{"json":{"Code M":"M01275","Désignation":"CARVEDILOL 12.5MG 28CP BGN"}},{"json":{"Code M":"M00262","Désignation":"CARVEDILOL 25MG 28CP BGN"}},{"json":{"Code M":"M00261","Désignation":"CARVEDILOL 6.25MG 28CP BGN"}},{"json":{"Code M":"M01481","Désignation":"CEFADROXIL 500MG 12GE BGN"}},{"json":{"Code M":"M01121","Désignation":"CEFIXIME 200MG 8CP BGN"}},{"json":{"Code M":"M90195","Désignation":"CEFIXIME 200MG 8CP EVOLUGEN"}},{"json":{"Code M":"M01123","Désignation":"CEFPODOXIME 100MG 10CP BGN"}},{"json":{"Code M":"M00049","Désignation":"CEFPODOXIME 40MG/5ML PPS 100ML BGN"}},{"json":{"Code M":"M00050","Désignation":"CEFPODOXIME 40MG/5ML PPS 50ML BGN"}},{"json":{"Code M":"M01375","Désignation":"CEFTRIAXONE 1G/3.5ML SOL INJ IM BGN"}},{"json":{"Code M":"M01374","Désignation":"CEFTRIAXONE 1G/10ML SOL INJ IV BGN"}},{"json":{"Code M":"M01537","Désignation":"CEFUROXIME 250MG 8CP BGN"}},{"json":{"Code M":"M01507","Désignation":"CEFUROXIME 500MG 8CP BGN"}},{"json":{"Code M":"M00593","Désignation":"CELECOXIB 100MG 30GE BGN"}},{"json":{"Code M":"M00594","Désignation":"CELECOXIB 200MG 30GE BGN"}},{"json":{"Code M":"M01389","Désignation":"CELIPROLOL 200MG 28CP BGN"}},{"json":{"Code M":"M00582","Désignation":"CELIPROLOL 200MG 84CP BGN"}},{"json":{"Code M":"M01209","Désignation":"CELIPROLOL 200MG 28CP EVOLUGEN"}},{"json":{"Code M":"M01326","Désignation":"CETIRIZINE 10MG 15CP BGN"}},{"json":{"Code M":"M01320","Désignation":"CETIRIZINE 10MG/ML SOL BUV 15ML BGN"}},{"json":{"Code M":"M01285","Désignation":"CETIRIZINE 10MG 7CP BGC"}},{"json":{"Code M":"M00611","Désignation":"CETYLPYRID/LYSOZYME 1.5/20MG 36CP BGC"}},{"json":{"Code M":"M12962","Désignation":"CHARBON/LEVURE 109MG/108,5MG 30 GE BGC"}},{"json":{"Code M":"M10328","Désignation":"CHLOR BENZA BENZY 25/250MG/4ML 250ML BGN"}},{"json":{"Code M":"M11685","Désignation":"CHLOR BENZA BENZY 25/250MG/4ML 100ML BGN"}},{"json":{"Code M":"M10330","Désignation":"CHLOR BENZA BENZY 25/250MG/4ML 50ML BGC"}},{"json":{"Code M":"M13365","Désignation":"CHLORHEXIDINE 0.12% FLAC 200ML BGN"}},{"json":{"Code M":"M11269","Désignation":"CHLORHEXIDINE 0.12% SOL 300ML BGN"}},{"json":{"Code M":"M00051","Désignation":"CHLORHEX/CHLOR 0.5ML/0.5G SOL 90ML BGN"}},{"json":{"Code M":"M10133","Désignation":"CHLORHEX/CHLOR 0.5ML/0.5G SOL 200ML BGC"}},{"json":{"Code M":"M10211","Désignation":"CHOLECALCIFEROL 100000UI SOL BUV AMP BGN"}},{"json":{"Code M":"M13637","Désignation":"CHOLECALCIFEROL 200000UI  SOL 1 AMP BGN"}},{"json":{"Code M":"M13629","Désignation":"CHOLECALCIFEROL 50000UI SOL 1 AMP BGN"}},{"json":{"Code M":"M13630","Désignation":"CHOLECALCIFEROL 50000UI SOL  2 AMP BGN"}},{"json":{"Code M":"M13631","Désignation":"CHOLECALCIFEROL 50000UI SOL  4 AMP BGN"}},{"json":{"Code M":"M13635","Désignation":"CHOLECALCIFEROL 80000UI SOL  1 AMP BGN"}},{"json":{"Code M":"M00490","Désignation":"CICLETANINE 50MG 30GE BGN"}},{"json":{"Code M":"M00491","Désignation":"CICLETANINE 50MG 90GE BGN"}},{"json":{"Code M":"M00055","Désignation":"CICLOPIROX 8% VERNIS 3ML BGN"}},{"json":{"Code M":"M11546","Désignation":"CICLOPIROX OLAMINE 1.5% SHAMP 100ML BGN"}},{"json":{"Code M":"M00623","Désignation":"CICLOPIROX OLAMINE 1% CREME 30G BGN"}},{"json":{"Code M":"M10652","Désignation":"CINACALCET 30MG 28CP BGN"}},{"json":{"Code M":"M10654","Désignation":"CINACALCET 60MG 28CP BGN"}},{"json":{"Code M":"M10650","Désignation":"CINACALCET 90MG 28CP BGN"}},{"json":{"Code M":"M01336","Désignation":"CIPROFLOXACINE 250MG 12CP BGN"}},{"json":{"Code M":"M01335","Désignation":"CIPROFLOXACINE 500MG 12CP BGN"}},{"json":{"Code M":"M02499","Désignation":"CITALOPRAM 20MG 28CP BGN"}},{"json":{"Code M":"M01080","Désignation":"CLARITHROMYCINE 250MG 10CP BGN"}},{"json":{"Code M":"M00058","Désignation":"CLARITHROMYCINE 500MG 10CP LM BGN"}},{"json":{"Code M":"M00059","Désignation":"CLARITHROMYCINE 500MG 5CP LM BGN"}},{"json":{"Code M":"M01085","Désignation":"CLARITHROMYCINE 500MG 10CP BGN"}},{"json":{"Code M":"M01084","Désignation":"CLARITHROMYCINE 500MG 14CP BGN"}},{"json":{"Code M":"M01081","Désignation":"CLARITHROMYCINE 250MG 10CP EVOLUGEN"}},{"json":{"Code M":"M01082","Désignation":"CLARITHROMYCINE 500MG 14P EVOLUGEN"}},{"json":{"Code M":"M12587","Désignation":"CLOPIDOGREL 75MG 30CP BGN"}},{"json":{"Code M":"M10154","Désignation":"CLOXACILLINE 500MG 16GE BGN"}},{"json":{"Code M":"M11241","Désignation":"CLOZAPINE 100MG 14CP BGN"}},{"json":{"Code M":"M11243","Désignation":"CLOZAPINE 100MG 28CP BGN"}},{"json":{"Code M":"M11239","Désignation":"CLOZAPINE 25MG 28CP BGN"}},{"json":{"Code M":"M00263","Désignation":"CROMOGLYCATE NA 2% COLL 5ML BGN"}},{"json":{"Code M":"M11576","Désignation":"CYAMEMAZINE 100MG 25CP BGN"}},{"json":{"Code M":"M11578","Désignation":"CYAMEMAZINE 25MG 30CP BGN"}},{"json":{"Code M":"M00473","Désignation":"CYSTINE B6 500MG/50MG 120CP BGC"}},{"json":{"Code M":"M13875","Désignation":"CYSTI TEST KIT B25"}},{"json":{"Code M":"M10797","Désignation":"DABIGATRAN ETEXILATE 110MG 30GE BGN"}},{"json":{"Code M":"M10798","Désignation":"DABIGATRAN ETEXILATE 110MG 60GE BGN"}},{"json":{"Code M":"M10794","Désignation":"DABIGATRAN ETEXILATE 150MG 60GE BGN"}},{"json":{"Code M":"M10803","Désignation":"DABIGATRAN ETEXILATE 75MG 30GE BGN"}},{"json":{"Code M":"M10739","Désignation":"DARUNAVIR 600MG 60CP BGN"}},{"json":{"Code M":"M10741","Désignation":"DARUNAVIR 800MG 30CP BGN"}},{"json":{"Code M":"M10680","Désignation":"DASATINIB 100MG 30CP BGN"}},{"json":{"Code M":"M10694","Désignation":"DASATINIB 140MG 30CP BGN"}},{"json":{"Code M":"M10674","Désignation":"DASATINIB 20MG 60CP BGN"}},{"json":{"Code M":"M10676","Désignation":"DASATINIB 50MG 60CP BGN"}},{"json":{"Code M":"M10678","Désignation":"DASATINIB 70MG 60CP BGN"}},{"json":{"Code M":"M12439","Désignation":"DEFERASIROX 180MG 30CP BGN"}},{"json":{"Code M":"M12096","Désignation":"DEFERASIROX 360MG 30CP BGN"}},{"json":{"Code M":"M12098","Désignation":"DEFERASIROX 90MG 30CP BGN"}},{"json":{"Code M":"M00266","Désignation":"DESLORATADINE 0.5MG/ML SOL BUV 150ML BGN"}},{"json":{"Code M":"M00264","Désignation":"DESLORATADINE 5MG 15CP BGN"}},{"json":{"Code M":"M00265","Désignation":"DESLORATADINE 5MG 30CP BGN"}},{"json":{"Code M":"M12862","Désignation":"DESMOPRESSINE 120µG 100CP SUBL BGN"}},{"json":{"Code M":"M12863","Désignation":"DESMOPRESSINE 120µG 30CP SUBL BGN"}},{"json":{"Code M":"M12866","Désignation":"DESMOPRESSINE 240µG 30CP SUBL BGN"}},{"json":{"Code M":"M12868","Désignation":"DESMOPRESSINE 60µG 100CP SUBL BGN"}},{"json":{"Code M":"M12869","Désignation":"DESMOPRESSINE 60µG 30CP SUBL BGN"}},{"json":{"Code M":"M00415","Désignation":"DESOGESTREL 0,075MG 28CP BGN"}},{"json":{"Code M":"M00416","Désignation":"DESOGESTREL 0,075MG 84CP BGN"}},{"json":{"Code M":"M01387","Désignation":"DESO/ETHIN 150/20µG 21CP BGN"}},{"json":{"Code M":"M01386","Désignation":"DESO/ETHIN 150/20µG 3X21CP BGN"}},{"json":{"Code M":"M01385","Désignation":"DESO/ETHIN 150/30µG 21CP BGN"}},{"json":{"Code M":"M01384","Désignation":"DESO/ETHIN 150/30µG 3X21CP BGN"}},{"json":{"Code M":"M00401","Désignation":"DESO/ETHIN 150µG/30µG 21+7CP BGU"}},{"json":{"Code M":"M00402","Désignation":"DESO/ETHIN 150µG/30µG 3X21+7CP BGU"}},{"json":{"Code M":"M10054","Désignation":"DEXPANTHENOL 5% POMMADE 100G BGC"}},{"json":{"Code M":"M11450","Désignation":"DEXTROMETHORPH 1.5MG/1ML SOL B 125ML BGN"}},{"json":{"Code M":"M11451","Désignation":"DEXTROMETHORPH 1.5MG/1ML SOL B 250ML BGN"}},{"json":{"Code M":"M00064","Désignation":"DIACEREINE 50MG 30GE BGN"}},{"json":{"Code M":"M01118","Désignation":"DICLOFENAC 1% GEL 50G BGR"}},{"json":{"Code M":"M13853","Désignation":"DICLOFENAC 2% GEL 30G BGC"}},{"json":{"Code M":"M01093","Désignation":"DICLOFENAC 1% GEL 100G BGN"}},{"json":{"Code M":"M11690","Désignation":"DICLOFENAC 75MG 30CP LP BGN"}},{"json":{"Code M":"M00387","Désignation":"DICLOFENAC 1% GEL 100ML REF"}},{"json":{"Code M":"M10439","Désignation":"DILTIAZEM 200MG 30GE LP BGR"}},{"json":{"Code M":"M10440","Désignation":"DILTIAZEM 200MG 90GE LP BGR"}},{"json":{"Code M":"M10441","Désignation":"DILTIAZEM 300MG 30GE LP BGR"}},{"json":{"Code M":"M10442","Désignation":"DILTIAZEM 300MG 90GE LP BGR"}},{"json":{"Code M":"M01410","Désignation":"DIOSMINE 600MG 30CP BGC"}},{"json":{"Code M":"M11307","Désignation":"DOMPERIDONE 10MG 20CP ORO DISP BGN"}},{"json":{"Code M":"M11304","Désignation":"DOMPERIDONE 10MG 20CP BGN"}},{"json":{"Code M":"M00268","Désignation":"DONEPEZIL 10MG 28CP BGN"}},{"json":{"Code M":"M00267","Désignation":"DONEPEZIL 5MG 28CP BGN"}},{"json":{"Code M":"M12138","Désignation":"DORZOLAMIDE 20MG/ML COLL 5ML BGR"}},{"json":{"Code M":"M11529","Désignation":"DORZOLAMIDE/TIMOLOL 20/5MG COLL BGR"}},{"json":{"Code M":"M01436","Désignation":"DOXYCYCLINE 100MG 15CP BGN"}},{"json":{"Code M":"M11692","Désignation":"DOXYCYCLINE 100MG 30CP BGN"}},{"json":{"Code M":"M01437","Désignation":"DOXYCYCLINE 100MG 5CP BGN"}},{"json":{"Code M":"M10040","Désignation":"DOXYLAMINE 15MG 10CP BGC"}},{"json":{"Code M":"M10058","Désignation":"DULOXETINE 30MG 28GE GR BGN"}},{"json":{"Code M":"M10059","Désignation":"DULOXETINE 60MG 28GE GR BGN"}},{"json":{"Code M":"M10062","Désignation":"DUTASTERIDE 0,5MG 30 CAPS BGN"}},{"json":{"Code M":"M10732","Désignation":"DUTAST/TAMSUL CHLOR 0.5/0.4MG 30GE BGN"}},{"json":{"Code M":"M12122","Désignation":"EAU DE MER HYPERTONIQUE SOL 50ML BGC"}},{"json":{"Code M":"M12123","Désignation":"EAU DE MER ISOTONIQUE SOL 100ML BGC"}},{"json":{"Code M":"M00271","Désignation":"EBASTINE 10MG 30 ORO DISP BGN"}},{"json":{"Code M":"M10399","Désignation":"EBASTINE 10MG 15CP BGN"}},{"json":{"Code M":"M00270","Désignation":"EBASTINE 10MG 30CP BGN"}},{"json":{"Code M":"M00374","Désignation":"ECONAZOLE 1% CREME 30G BGN"}},{"json":{"Code M":"M10126","Désignation":"ECONAZOLE 1% POUDRE  30G BGN"}},{"json":{"Code M":"M00391","Désignation":"ECONAZOLE 150MG 1 CAPS LP BGN"}},{"json":{"Code M":"M10806","Désignation":"EFA/EMTR/TEN DISO 600/200/245MG 30CP BGN"}},{"json":{"Code M":"M11009","Désignation":"ELETRIPTAN 20MG 6CP BGR"}},{"json":{"Code M":"M11011","Désignation":"ELETRIPTAN 40MG 10CP BGR"}},{"json":{"Code M":"M11010","Désignation":"ELETRIPTAN 40MG 6CP BGR"}},{"json":{"Code M":"M10819","Désignation":"EMTRI/TENO DISO 200/245MG 30CP BGN"}},{"json":{"Code M":"M01417","Désignation":"ENALAPRIL 20MG 28CP BGN"}},{"json":{"Code M":"M01416","Désignation":"ENALAPRIL 5MG 28CP BGN"}},{"json":{"Code M":"M01317","Désignation":"ENALAPRIL HCTZ 20/12.5MG 28CP BGN"}},{"json":{"Code M":"M00381","Désignation":"ENALAPRIL HCTZ 20/12.5MG 84CP BGN"}},{"json":{"Code M":"M10285","Désignation":"ENALAPRIL/LERCANIDIPINE 20/10MG 30CP BGN"}},{"json":{"Code M":"M10286","Désignation":"ENALAPRIL/LERCANIDIPINE 20/10MG 90CP BGN"}},{"json":{"Code M":"M13353","Désignation":"ENOXAPARINE 100MG/ML SOL INJ 10UN BGN"}},{"json":{"Code M":"M13354","Désignation":"ENOXAPARINE 20MG/0.2ML SOL INJ2UN BGN"}},{"json":{"Code M":"M13355","Désignation":"ENOXAPARINE 20MG/0.2ML SOL INJ 6UN BGN"}},{"json":{"Code M":"M13356","Désignation":"ENOXAPARINE 40MG/0.4ML SOL INJ 2UN BGN"}},{"json":{"Code M":"M13357","Désignation":"ENOXAPARINE 40MG/0.4ML SOL INJ 6UN BGN"}},{"json":{"Code M":"M13358","Désignation":"ENOXAPARINE 60MG/0.6ML SOL INJ 10U BGN"}},{"json":{"Code M":"M13359","Désignation":"ENOXAPARINE 60MG/0.6ML SOL INJ 2UN BGN"}},{"json":{"Code M":"M13360","Désignation":"ENOXAPARINE 80MG/0.8ML SOL INJ 10U BGN"}},{"json":{"Code M":"M13361","Désignation":"ENOXAPARINE 80MG/0.8ML SOL INJ 2UN BGN"}},{"json":{"Code M":"M10343","Désignation":"ENTECAVIR 0.5MG 30CP BGN"}},{"json":{"Code M":"M10344","Désignation":"ENTECAVIR 1MG 30CP BGN"}},{"json":{"Code M":"M10320","Désignation":"EPLERENONE 25MG 30CP BGN"}},{"json":{"Code M":"M10321","Désignation":"EPLERENONE 25MG 90CP BGN"}},{"json":{"Code M":"M10326","Désignation":"EPLERENONE 50MG 30CP BGN"}},{"json":{"Code M":"M10327","Désignation":"EPLERENONE 50MG 90CP BGN"}},{"json":{"Code M":"M10684","Désignation":"ERLOTINIB 100MG 30CP BGN"}},{"json":{"Code M":"M10686","Désignation":"ERLOTINIB 150MG 30CP BGN"}},{"json":{"Code M":"M10682","Désignation":"ERLOTINIB 25MG 30CP BGN"}},{"json":{"Code M":"M00497","Désignation":"ESCITALOPRAM 10MG 28CP BGN"}},{"json":{"Code M":"M00498","Désignation":"ESCITALOPRAM 15MG 28CP BGN"}},{"json":{"Code M":"M00499","Désignation":"ESCITALOPRAM 20MG 28CP BGN"}},{"json":{"Code M":"M00495","Désignation":"ESCITALOPRAM 5MG 14CP BGN"}},{"json":{"Code M":"M00496","Désignation":"ESCITALOPRAM 5MG 28CP BGN"}},{"json":{"Code M":"M00077","Désignation":"ESOMEPRAZOLE 20MG 14GE GR BGN"}},{"json":{"Code M":"M00078","Désignation":"ESOMEPRAZOLE 20MG 28GE GR BGN"}},{"json":{"Code M":"M00079","Désignation":"ESOMEPRAZOLE 20MG 7GE GR BGN"}},{"json":{"Code M":"M00080","Désignation":"ESOMEPRAZOLE 40MG 14GE GR BGN"}},{"json":{"Code M":"M00081","Désignation":"ESOMEPRAZOLE 40MG 28GE GR BGN"}},{"json":{"Code M":"M12197","Désignation":"ESOMEPRAZOLE 20MG 14GE GR BGC"}},{"json":{"Code M":"M12196","Désignation":"ESOMEPRAZOLE 20MG 7GE GR BGC"}},{"json":{"Code M":"M12661","Désignation":"ETHIN/DROSP 0.02/3MG 21CP BGR"}},{"json":{"Code M":"M12662","Désignation":"ETHIN/DROSP 0.02/3MG 63CP BGR"}},{"json":{"Code M":"M12663","Désignation":"ETHIN/DROSP 0.03/3MG 21CP BGR"}},{"json":{"Code M":"M12664","Désignation":"ETHIN/DROSP 0.03/3MG 63CP BGR"}},{"json":{"Code M":"M12659","Désignation":"ETHIN/DROSP 0.02/3MG 28CP BGU"}},{"json":{"Code M":"M12660","Désignation":"ETHIN/DROSP 0.02/3MG 84CP BGU"}},{"json":{"Code M":"M12162","Désignation":"ETHINYL/ETONOG 15/120µG 24h 1 SYST BGN"}},{"json":{"Code M":"M12163","Désignation":"ETHINYL/ETONOG 15/120µG 24h 3 SYST BGN"}},{"json":{"Code M":"M11109","Désignation":"ETORICOXIB 30MG 28CP BGN"}},{"json":{"Code M":"M11107","Désignation":"ETORICOXIB 60MG 28CP BGN"}},{"json":{"Code M":"M10705","Désignation":"EVEROLIMUS 10MG 30CP BGN"}},{"json":{"Code M":"M10706","Désignation":"EVEROLIMUS 2.5MG 30CP BGN"}},{"json":{"Code M":"M10704","Désignation":"EVEROLIMUS 5MG 30CP BGN"}},{"json":{"Code M":"M11435","Désignation":"EXEMESTANE 25MG 30CP BGR"}},{"json":{"Code M":"M11350","Désignation":"EZETIMIBE/ATORVASTATINE 10/10MG 30CP BGN"}},{"json":{"Code M":"M12872","Désignation":"EZETIMIBE/ATORVASTATINE 10/10MG 90CP BGN"}},{"json":{"Code M":"M11352","Désignation":"EZETIMIBE/ATORVASTATINE 10/20MG 30CP BGN"}},{"json":{"Code M":"M12874","Désignation":"EZETIMIBE/ATORVASTATINE 10/20MG 90CP BGN"}},{"json":{"Code M":"M11354","Désignation":"EZETIMIBE/ATORVASTATINE 10/40MG 30CP BGN"}},{"json":{"Code M":"M12876","Désignation":"EZETIMIBE/ATORVASTATINE 10/40MG 90CP BGN"}},{"json":{"Code M":"M11356","Désignation":"EZETIMIBE/ATORVASTATINE 10/80MG 30CP BGN"}},{"json":{"Code M":"M12878","Désignation":"EZETIMIBE/ATORVASTATINE 10/80MG 90CP BGN"}},{"json":{"Code M":"M10181","Désignation":"EZETIMIBE 10MG 30CP BGN"}},{"json":{"Code M":"M10716","Désignation":"EZETIMIBE 10MG 90CP BGN"}},{"json":{"Code M":"M10629","Désignation":"EZETIMIBE/SIMVASTATINE 10/20MG 30CP BGN"}},{"json":{"Code M":"M10630","Désignation":"EZETIMIBE/SIMVASTATINE 10/20MG 90CP BGN"}},{"json":{"Code M":"M10635","Désignation":"EZETIMIBE/SIMVASTATINE 10/40MG 30CP BGN"}},{"json":{"Code M":"M10636","Désignation":"EZETIMIBE/SIMVASTATINE 10/40MG 90CP BGN"}},{"json":{"Code M":"M10718","Désignation":"FEBUXOSTAT 120MG 28CP BGN"}},{"json":{"Code M":"M10720","Désignation":"FEBUXOSTAT 80MG 28CP BGN"}},{"json":{"Code M":"M01406","Désignation":"FENOFIBRATE 100MG 30GE BGN"}},{"json":{"Code M":"M00272","Désignation":"FENOFIBRATE 145MG 30CP BGN"}},{"json":{"Code M":"M00273","Désignation":"FENOFIBRATE 145MG 90CP BGN"}},{"json":{"Code M":"M01243","Désignation":"FENOFIBRATE 160MG 30CP BGN"}},{"json":{"Code M":"M01242","Désignation":"FENOFIBRATE 160MG 90CP BGN"}},{"json":{"Code M":"M01420","Désignation":"FENOFIBRATE 200MG 30GE BGN"}},{"json":{"Code M":"M01258","Désignation":"FENOFIBRATE 200MG 90GE BGN"}},{"json":{"Code M":"M01369","Désignation":"FENOFIBRATE 300MG 30GE BGN"}},{"json":{"Code M":"M01421","Désignation":"FENOFIBRATE 67MG 60GE BGN"}},{"json":{"Code M":"M11499","Désignation":"FENTANYL 100µG PATCH 5UN BGR"}},{"json":{"Code M":"M11500","Désignation":"FENTANYL 12µG PATCH 5UN BGR"}},{"json":{"Code M":"M11496","Désignation":"FENTANYL 25µG PATCH 5UN BGR"}},{"json":{"Code M":"M11497","Désignation":"FENTANYL 50µG PATCH 5UN BGR"}},{"json":{"Code M":"M11498","Désignation":"FENTANYL 75µG PATCH 5UN BGR"}},{"json":{"Code M":"M12567","Désignation":"FENTANYL 100µG 10CP ORO DISP BGN"}},{"json":{"Code M":"M12568","Désignation":"FENTANYL 100µG 30CP ORO DISP BGN"}},{"json":{"Code M":"M12575","Désignation":"FENTANYL 200µG 10CP ORO DISP BGN"}},{"json":{"Code M":"M12576","Désignation":"FENTANYL 200µG 30CP ORO DISP BGN"}},{"json":{"Code M":"M12571","Désignation":"FENTANYL 300µG 10CP ORO DISP BGN"}},{"json":{"Code M":"M12572","Désignation":"FENTANYL 300µG 30CP ORO DISP BGN"}},{"json":{"Code M":"M12579","Désignation":"FENTANYL 400µG 10CP ORO DISP BGN"}},{"json":{"Code M":"M12580","Désignation":"FENTANYL 400µG 30CP ORO DISP BGN"}},{"json":{"Code M":"M12589","Désignation":"FENTANYL 600µG 30CP ORO DISP BGN"}},{"json":{"Code M":"M12565","Désignation":"FENTANYL 800µG 30CP ORO DISP BGN"}},{"json":{"Code M":"M11103","Désignation":"FESOTERODINE 4MG 30CP LP BGN"}},{"json":{"Code M":"M11101","Désignation":"FESOTERODINE 8MG 30CP LP BGN"}},{"json":{"Code M":"M00089","Désignation":"FEXOFENADINE 120MG 15CP BGN"}},{"json":{"Code M":"M00090","Désignation":"FEXOFENADINE 180MG 15CP BGN"}},{"json":{"Code M":"M00091","Désignation":"FINASTERIDE 1MG 28CP BGN"}},{"json":{"Code M":"M01014","Désignation":"FINASTERIDE 1MG 84CP BGN"}},{"json":{"Code M":"M00092","Désignation":"FINASTERIDE 5MG 28CP BGN"}},{"json":{"Code M":"M10627","Désignation":"FINGOLIMOD 0.5MG 28GE BGN"}},{"json":{"Code M":"M01095","Désignation":"FLECAINIDE 100MG 30CP BGN"}},{"json":{"Code M":"M00094","Désignation":"FLECAINIDE 100MG 30GE LP BGN"}},{"json":{"Code M":"M00095","Désignation":"FLECAINIDE 150MG 30GE LP BGN"}},{"json":{"Code M":"M00096","Désignation":"FLECAINIDE 200MG 30GE LP BGN"}},{"json":{"Code M":"M00097","Désignation":"FLECAINIDE 50MG 30GE LP BGN"}},{"json":{"Code M":"M01302","Désignation":"FLUCONAZOLE 100MG 7GE BGN"}},{"json":{"Code M":"M01182","Désignation":"FLUCONAZOLE 10MG/ML PPS 35ML BGN"}},{"json":{"Code M":"M01298","Désignation":"FLUCONAZOLE 200MG 30GE BGN"}},{"json":{"Code M":"M01299","Désignation":"FLUCONAZOLE 200MG 7GE BGN"}},{"json":{"Code M":"M01304","Désignation":"FLUCONAZOLE 50MG 7GE BGN"}},{"json":{"Code M":"M01331","Désignation":"FLUOXETINE 20MG/5ML SOL BUV 70ML BGN"}},{"json":{"Code M":"M01091","Désignation":"FLUOXETINE 20MG 28CP DISP BGN"}},{"json":{"Code M":"M01419","Désignation":"FLUOXETINE 20MG 14GE BGN"}},{"json":{"Code M":"M00274","Désignation":"FLUVASTATINE 20MG 30GE BGN"}},{"json":{"Code M":"M00275","Désignation":"FLUVASTATINE 20MG 90GE BGN"}},{"json":{"Code M":"M00276","Désignation":"FLUVASTATINE 40MG 30GE BGN"}},{"json":{"Code M":"M00277","Désignation":"FLUVASTATINE 40MG 90GE BGN"}},{"json":{"Code M":"M10925","Désignation":"FORMOTEROL 12µG 30GE BGN"}},{"json":{"Code M":"M10926","Désignation":"FORMOTEROL 12µG 60GE BGN"}},{"json":{"Code M":"M00278","Désignation":"FOSFOMYCINE TROMETA 3G SOL BUV 1SAC BGN"}},{"json":{"Code M":"M00106","Désignation":"FOSINOPRIL 10MG 30CP BGN"}},{"json":{"Code M":"M00107","Désignation":"FOSINOPRIL 10MG 90CP BGN"}},{"json":{"Code M":"M00108","Désignation":"FOSINOPRIL 20MG 30CP BGN"}},{"json":{"Code M":"M00109","Désignation":"FOSINOPRIL 20MG 90CP BGN"}},{"json":{"Code M":"M00110","Désignation":"FOSINOPRIL HCTZ 20/12.5MG 30CP BGN"}},{"json":{"Code M":"M00111","Désignation":"FOSINOPRIL HCTZ 20/12.5MG 90CP BGN"}},{"json":{"Code M":"M12833","Désignation":"FROVATRIPTAN 2,5MG 12CP BGN"}},{"json":{"Code M":"M12511","Désignation":"FULVESTRANT 250MG SOL INJ 5ML BGN"}},{"json":{"Code M":"M01542","Désignation":"FUROSEMIDE 20MG 30CP BGN"}},{"json":{"Code M":"M01489","Désignation":"FUROSEMIDE 40MG 30CP BGN"}},{"json":{"Code M":"M10825","Désignation":"FUSIDATE DE SODIUM 250MG 10CP BGN"}},{"json":{"Code M":"M01217","Désignation":"GABAPENTINE 100MG 90GE BGN"}},{"json":{"Code M":"M01218","Désignation":"GABAPENTINE 300MG 90GE BGN"}},{"json":{"Code M":"M01308","Désignation":"GABAPENTINE 400MG 90GE BGN"}},{"json":{"Code M":"M01188","Désignation":"GABAPENTINE 600MG 90CP BGN"}},{"json":{"Code M":"M01187","Désignation":"GABAPENTINE 800MG 90CP BGN"}},{"json":{"Code M":"M00280","Désignation":"GALANTAMINE 16MG 28GE LP BGN"}},{"json":{"Code M":"M00281","Désignation":"GALANTAMINE 24MG 28GE LP BGN"}},{"json":{"Code M":"M00279","Désignation":"GALANTAMINE 8MG 28GE LP BGN"}},{"json":{"Code M":"M10633","Désignation":"GEFITINIB 250MG 30CP BGN"}},{"json":{"Code M":"M12665","Désignation":"GESTODENE/ETHIN 60/15µg 28CP BGR"}},{"json":{"Code M":"M12666","Désignation":"GESTODENE/ETHIN 60/15µg 84CP BGR"}},{"json":{"Code M":"M01214","Désignation":"GESTO/ETHIN 75/20µG 3X21CP BGN"}},{"json":{"Code M":"M01212","Désignation":"GESTO/ETHIN 75/30µG 3X21CP BGN"}},{"json":{"Code M":"M00112","Désignation":"GINKGO 40MG 30CP BGC"}},{"json":{"Code M":"M00113","Désignation":"GINKGO 40MG 90CP BGC"}},{"json":{"Code M":"M01236","Désignation":"GLIBENCLAMIDE 2.5MG 60CP BGN"}},{"json":{"Code M":"M01235","Désignation":"GLIBENCLAMIDE 5MG 20CP BGN"}},{"json":{"Code M":"M01222","Désignation":"GLIBENCLAMIDE 5MG 90CP BGN"}},{"json":{"Code M":"M01007","Désignation":"GLICLAZIDE 30MG 180CP LM BGR"}},{"json":{"Code M":"M01056","Désignation":"GLICLAZIDE 30MG 30CP LM BGR"}},{"json":{"Code M":"M01055","Désignation":"GLICLAZIDE 30MG 60CP LM BGR"}},{"json":{"Code M":"M10167","Désignation":"GLICLAZIDE 60MG 30CP LM BGN"}},{"json":{"Code M":"M10168","Désignation":"GLICLAZIDE 60MG 90CP LM BGN"}},{"json":{"Code M":"M01159","Désignation":"GLICLAZIDE 80MG 180CP BGN"}},{"json":{"Code M":"M01469","Désignation":"GLICLAZIDE 80MG 20CP BGN"}},{"json":{"Code M":"M01468","Désignation":"GLICLAZIDE 80MG 60CP BGN"}},{"json":{"Code M":"M01256","Désignation":"GLIMEPIRIDE 1MG 30CP BGR"}},{"json":{"Code M":"M01255","Désignation":"GLIMEPIRIDE 1MG 90CP BGR"}},{"json":{"Code M":"M01266","Désignation":"GLIMEPIRIDE 2MG 30CP BGR"}},{"json":{"Code M":"M01254","Désignation":"GLIMEPIRIDE 2MG 90CP BGR"}},{"json":{"Code M":"M01253","Désignation":"GLIMEPIRIDE 3MG 30CP BGR"}},{"json":{"Code M":"M01252","Désignation":"GLIMEPIRIDE 3MG 90CP BGR"}},{"json":{"Code M":"M01251","Désignation":"GLIMEPIRIDE 4MG 30CP BGR"}},{"json":{"Code M":"M01250","Désignation":"GLIMEPIRIDE 4MG 90CPE BGR"}},{"json":{"Code M":"M10923","Désignation":"GLYC/VAS/PARAF 15/8/2% CREME Gé 250G BGN"}},{"json":{"Code M":"M00119","Désignation":"HEXETIDINE 0.001 SOL 200ML BGC"}},{"json":{"Code M":"M12268","Désignation":"HYDROXYZINE 25MG 30CP BGN"}},{"json":{"Code M":"M01486","Désignation":"IBUPROFENE 200MG 30CP BGN"}},{"json":{"Code M":"M01195","Désignation":"IBUPROFENE 400MG 20CP BGN"}},{"json":{"Code M":"M00122","Désignation":"IBUPROFENE 200MG 20CP BGC"}},{"json":{"Code M":"M12124","Désignation":"IBUPROFENE 200MG 20SUSP SAC BGC"}},{"json":{"Code M":"M13369","Désignation":"IBUPROFENE 400MG 10CAPS BGC"}},{"json":{"Code M":"M00123","Désignation":"IBUPROFENE 400MG 10CP BGC"}},{"json":{"Code M":"M12125","Désignation":"IBUPROFENE 400MG 10SUSP SAC BGC"}},{"json":{"Code M":"M11444","Désignation":"IBUPROFENE 400MG 12CP BGC"}},{"json":{"Code M":"M11319","Désignation":"IMATINIB 100MG 60CP BGN"}},{"json":{"Code M":"M11318","Désignation":"IMATINIB 400MG 30CP BGN"}},{"json":{"Code M":"M12940","Désignation":"IMMUNITE 20 CP BGC"}},{"json":{"Code M":"M00124","Désignation":"INDAPAMIDE 1.5MG 30CP LP BGN"}},{"json":{"Code M":"M00125","Désignation":"INDAPAMIDE 1.5MG 90CP LP BGN"}},{"json":{"Code M":"M01538","Désignation":"INDAPAMIDE 2.5MG 30CP BGN"}},{"json":{"Code M":"M12488","Désignation":"INT. MARRON D'INDE JAMBE LEGERE 30GE"}},{"json":{"Code M":"M12854","Désignation":"INT. MARRON D'INDE JAMBE LEGERE 60GE"}},{"json":{"Code M":"M12482","Désignation":"INT. MARRON D'INDE PHLEBOGEL 100G GEL"}},{"json":{"Code M":"M12486","Désignation":"INT. MARRON D'INDE COMPLEXE H 90ML SOL"}},{"json":{"Code M":"M12487","Désignation":"INT. MARRON D'INDE TRANSIT 200ML SOL BUV"}},{"json":{"Code M":"M10972","Désignation":"IRBESARTAN 150MG 30CP BGR"}},{"json":{"Code M":"M11259","Désignation":"IRBESARTAN 150MG 90CP BGR"}},{"json":{"Code M":"M10973","Désignation":"IRBESARTAN 300MG 30CP BGR"}},{"json":{"Code M":"M11260","Désignation":"IRBESARTAN 300MG 90CP BGR"}},{"json":{"Code M":"M10971","Désignation":"IRBESARTAN 75MG 30CP BGR"}},{"json":{"Code M":"M10974","Désignation":"IRBESARTAN 75MG 90CP BGR"}},{"json":{"Code M":"M00517","Désignation":"IRBESARTAN HCTZ 150MG/12,5MG 30CP BGN"}},{"json":{"Code M":"M00518","Désignation":"IRBESARTAN HCTZ 150MG/12,5MG 90CP BGN"}},{"json":{"Code M":"M00519","Désignation":"IRBESARTAN HCTZ 300MG/12,5MG 30CP BGN"}},{"json":{"Code M":"M00520","Désignation":"IRBESARTAN HCTZ 300MG/12,5MG 90CP BGN"}},{"json":{"Code M":"M00521","Désignation":"IRBESARTAN HCTZ 300MG/25MG 30CP BGN"}},{"json":{"Code M":"M00522","Désignation":"IRBESARTAN HCTZ 300MG/25MG 90CP BGN"}},{"json":{"Code M":"M10784","Désignation":"IVABRADINE 5MG 56CP BGN"}},{"json":{"Code M":"M10786","Désignation":"IVABRADINE 7.5MG 56CP BGN"}},{"json":{"Code M":"M11133","Désignation":"IVERMECTINE 3MG 4CP BGN"}},{"json":{"Code M":"M12051","Désignation":"KETOCONAZOLE 2% CREME 15G BGN"}},{"json":{"Code M":"M00128","Désignation":"KETOCONAZOLE 2% GEL 1UN BGN"}},{"json":{"Code M":"M00127","Désignation":"KETOCONAZOLE 2% GEL SAC 8UN BGN"}},{"json":{"Code M":"M01439","Désignation":"KETOPROFENE 2.5% GEL 60G BGN"}},{"json":{"Code M":"M00568","Désignation":"KETOPROFENE 100MG 20CP LP BGN"}},{"json":{"Code M":"M10668","Désignation":"LACOSAMIDE 100MG 56CP BGN"}},{"json":{"Code M":"M10670","Désignation":"LACOSAMIDE 150MG 56CP BGN"}},{"json":{"Code M":"M10672","Désignation":"LACOSAMIDE 200MG 56CP BGN"}},{"json":{"Code M":"M12449","Désignation":"LACOSAMIDE 50MG 14CP BGN"}},{"json":{"Code M":"M10665","Désignation":"LACOSAMIDE 50MG 56CP BGN"}},{"json":{"Code M":"M01493","Désignation":"LACTULOSE 10G/15ML SOL BUV 20SAC BGN"}},{"json":{"Code M":"M01541","Désignation":"LACTULOSE 66.5% SOL BUV 200ML BGN"}},{"json":{"Code M":"M01202","Désignation":"LAMOTRIGINE 100MG 30CP DISP BGN"}},{"json":{"Code M":"M01201","Désignation":"LAMOTRIGINE 200MG 30CP DISP BGN"}},{"json":{"Code M":"M01204","Désignation":"LAMOTRIGINE 25MG 30CP DISP BGN"}},{"json":{"Code M":"M01203","Désignation":"LAMOTRIGINE 50MG 30CP DISP BGN"}},{"json":{"Code M":"M11320","Désignation":"LANSOPRAZOLE 15MG 15GE GR BGR"}},{"json":{"Code M":"M11321","Désignation":"LANSOPRAZOLE 15MG 30GE GR BGR"}},{"json":{"Code M":"M11324","Désignation":"LANSOPRAZOLE 30MG 14GE GR BGR"}},{"json":{"Code M":"M11325","Désignation":"LANSOPRAZOLE 30MG 28GE GR BGR"}},{"json":{"Code M":"M11323","Désignation":"LANSOPRAZOLE 30MG 7GE GR BGR"}},{"json":{"Code M":"M10553","Désignation":"LANSOPRAZOLE 15MG 14CP ORO DISP BGN"}},{"json":{"Code M":"M10554","Désignation":"LANSOPRAZOLE 15MG 28CP ORO DISP BGN"}},{"json":{"Code M":"M10555","Désignation":"LANSOPRAZOLE 30MG 14CP ORO DISP BGN"}},{"json":{"Code M":"M10556","Désignation":"LANSOPRAZOLE 30MG 28CP ORO DISP BGN"}},{"json":{"Code M":"M13063","Désignation":"LATANOPROST 50µG COLL BGR"}},{"json":{"Code M":"M13064","Désignation":"LATANOPROST 50µG COLL 3UN BGR"}},{"json":{"Code M":"M10165","Désignation":"LATA/TIMOLOL 50µg/5MG 2.5ML 3COLL BGN"}},{"json":{"Code M":"M10163","Désignation":"LATA/TIMOLOL 50µG/5MG 2.5ML 1COLL BGN"}},{"json":{"Code M":"M12888","Désignation":"LEFLUNOMIDE 10MG 30CP BGN"}},{"json":{"Code M":"M12890","Désignation":"LEFLUNOMIDE 20MG 30CP BGN"}},{"json":{"Code M":"M00133","Désignation":"LERCANIDIPINE 10MG 30CP BGN"}},{"json":{"Code M":"M00229","Désignation":"LERCANIDIPINE 10MG 90CP BGN"}},{"json":{"Code M":"M00134","Désignation":"LERCANIDIPINE 20MG 30CP BGN"}},{"json":{"Code M":"M00230","Désignation":"LERCANIDIPINE 20MG 90CP BGN"}},{"json":{"Code M":"M00135","Désignation":"LETROZOLE 2.5MG 30CP BGN"}},{"json":{"Code M":"M00290","Désignation":"LEVETIRACETAM 1000MG 60CP BGN"}},{"json":{"Code M":"M00288","Désignation":"LEVETIRACETAM 250MG 60CP BGN"}},{"json":{"Code M":"M00289","Désignation":"LEVETIRACETAM 500MG 60CP BGN"}},{"json":{"Code M":"M00340","Désignation":"LEVOCETIRIZINE 5MG 14CP BGN"}},{"json":{"Code M":"M00341","Désignation":"LEVOCETIRIZINE 5MG 28CP BGN"}},{"json":{"Code M":"M10038","Désignation":"LEVO/CARB/ENTA 100/25/200MG 100CP BGN"}},{"json":{"Code M":"M10037","Désignation":"LEVO/CARB/ENTA 125/31.25/200MG 100CP BGN"}},{"json":{"Code M":"M10033","Désignation":"LEVO/CARB/ENTA 150/37,5/200MG 100CP BGN"}},{"json":{"Code M":"M10605","Désignation":"LEVO/CARB/ENTA 175/43.75/200MG 100CP BGN"}},{"json":{"Code M":"M10031","Désignation":"LEVO/CARB/ENTA 200/50/200MG 100CP BGN"}},{"json":{"Code M":"M10029","Désignation":"LEVO/CARB/ENTA 50/12,5/200MG 100CP BGN"}},{"json":{"Code M":"M10035","Désignation":"LEVO/CARB/ENTA 75/18,75/200MG 100CP BGN"}},{"json":{"Code M":"M00136","Désignation":"LEVOFLOXACINE 500MG 5CP BGN"}},{"json":{"Code M":"M01238","Désignation":"LEVONORGESTREL 1.5MG 1CP BGN"}},{"json":{"Code M":"M11027","Désignation":"LEVONO / ETHINYL 0.1MG/0.02MG 21CP BGN "}},{"json":{"Code M":"M11028","Désignation":"LEVONO / ETHINYL 0.1MG/0.02MG 63CP BGN "}},{"json":{"Code M":"M11032","Désignation":"LEVONO / ETHINYL 0.1MG/0.02MG 84CP BGU"}},{"json":{"Code M":"M12216","Désignation":"LEVURE 100MG 20SAC BGC"}},{"json":{"Code M":"M12213","Désignation":"LEVURE 200MG 10GE BGC"}},{"json":{"Code M":"M12214","Désignation":"LEVURE 200MG 30GE BGC"}},{"json":{"Code M":"M13912","Désignation":"LEVURE 50MG 40GE BGC"}},{"json":{"Code M":"M11605","Désignation":"LIBMYRIS 40MG SOL INJ SERINGUE 2UN"}},{"json":{"Code M":"M11607","Désignation":"LIBMYRIS 40MG 2SOL INJ STYLO"}},{"json":{"Code M":"M13862","Désignation":"LIBMYRIS 80MG 1SOL INJ SERINGUE"}},{"json":{"Code M":"M01190","Désignation":"LIDOCAINE / PRILOCAINE 5% CREME BGN"}},{"json":{"Code M":"M10085","Désignation":"LIDOCAINE / PRILOCAINE 5 % 1 PATCH BGN"}},{"json":{"Code M":"M12119","Désignation":"LIERRE GRIMPANT SOL BUV 100ML BGC"}},{"json":{"Code M":"M01290","Désignation":"LISINOPRIL 20MG 28CP BGN"}},{"json":{"Code M":"M01291","Désignation":"LISINOPRIL 5MG 28CP BGN"}},{"json":{"Code M":"M01307","Désignation":"LISINOPRIL HCTZ 20/12.5MG 28CP BGN"}},{"json":{"Code M":"M00386","Désignation":"LISINOPRIL HCTZ 20/12.5MG 84CP BGN"}},{"json":{"Code M":"M12188","Désignation":"LOPERAMIDE 2MG 12CP ORO DISP BGC"}},{"json":{"Code M":"M01008","Désignation":"LOPERAMIDE 2MG 20GE BGN"}},{"json":{"Code M":"M00354","Désignation":"LOPERAMIDE 2MG 12GE BGC"}},{"json":{"Code M":"M01090","Désignation":"LORATADINE 10MG 15CP BGN"}},{"json":{"Code M":"M00355","Désignation":"LORATADINE 10MG 7CP BGC"}},{"json":{"Code M":"M00147","Désignation":"LOSARTAN 100MG 30CP BGN"}},{"json":{"Code M":"M00228","Désignation":"LOSARTAN 100MG 90CP BGN"}},{"json":{"Code M":"M00148","Désignation":"LOSARTAN 50MG 30CP BGN"}},{"json":{"Code M":"M00220","Désignation":"LOSARTAN 50MG 90CP BGN"}},{"json":{"Code M":"M00149","Désignation":"LOSARTAN HCTZ 100/25MG 30CP BGR"}},{"json":{"Code M":"M00235","Désignation":"LOSARTAN HCTZ 100/25MG 90CP BGR"}},{"json":{"Code M":"M00295","Désignation":"LOSARTAN HCTZ 50/12.5MG 30CP BGR"}},{"json":{"Code M":"M00296","Désignation":"LOSARTAN HCTZ 50/12.5MG 90CP BGR"}},{"json":{"Code M":"M00577","Désignation":"LOSARTAN HCTZ 100/12,5MG 30CP BGN"}},{"json":{"Code M":"M00578","Désignation":"LOSARTAN HCTZ 100/12,5MG 90CP BGN"}},{"json":{"Code M":"M12413","Désignation":"MACROGOL 4000 4G 20SAC PPS BGN"}},{"json":{"Code M":"M00297","Désignation":"MACROGOL 4000 10G PPS 20SAC BGN"}},{"json":{"Code M":"M12218","Désignation":"MAGNESIUM 300MG 30CP BGC"}},{"json":{"Code M":"M00477","Désignation":"MAGNESIUM B6 48/5MG 50CP BGC"}},{"json":{"Code M":"M00530","Désignation":"MANIDIPINE 10MG 30CP BGN"}},{"json":{"Code M":"M00531","Désignation":"MANIDIPINE 10MG 90CP BGN"}},{"json":{"Code M":"M00565","Désignation":"MANIDIPINE 20MG 30CP BGN"}},{"json":{"Code M":"M00566","Désignation":"MANIDIPINE 20MG 90CP BGN"}},{"json":{"Code M":"M12956","Désignation":"MELATONINE 30 CP BGC"}},{"json":{"Code M":"M00151","Désignation":"MELOXICAM 15MG 14CP BGN"}},{"json":{"Code M":"M00152","Désignation":"MELOXICAM 7.5MG 14CP BGN"}},{"json":{"Code M":"M00434","Désignation":"MEMANTINE 10MG 56CP BGN"}},{"json":{"Code M":"M00435","Désignation":"MEMANTINE 20MG 28CP BGN"}},{"json":{"Code M":"M10105","Désignation":"METFORMINE 500MG 30CP BGR"}},{"json":{"Code M":"M10106","Désignation":"METFORMINE 500MG 90CP BGR"}},{"json":{"Code M":"M02519","Désignation":"METFORMINE 850MG 30CP BGR"}},{"json":{"Code M":"M02520","Désignation":"METFORMINE 850MG 90CP BGR"}},{"json":{"Code M":"M02521","Désignation":"METFORMINE 1000MG 30CP BGN"}},{"json":{"Code M":"M02522","Désignation":"METFORMINE 1000MG 90CP BGN"}},{"json":{"Code M":"M13548","Désignation":"METHYLPHENIDATE 18MG 28CP LP BGN"}},{"json":{"Code M":"M13550","Désignation":"METHYLPHENIDATE 36MG 28CP LP BGN"}},{"json":{"Code M":"M13552","Désignation":"METHYLPHENIDATE 54MG 28CP LP BGN"}},{"json":{"Code M":"M11758","Désignation":"METRONIDAZOLE 250MG 20CP BGN"}},{"json":{"Code M":"M11551","Désignation":"METRONIDAZOLE 500MG 14CP BGN"}},{"json":{"Code M":"M11550","Désignation":"METRONIDAZOLE 500MG 4CP BGN"}},{"json":{"Code M":"M01383","Désignation":"MIANSERINE 10MG 30CP BGN"}},{"json":{"Code M":"M01382","Désignation":"MIANSERINE 30MG 30CP BGN"}},{"json":{"Code M":"M01388","Désignation":"MIANSERINE 60MG 14CP BGN"}},{"json":{"Code M":"M11150","Désignation":"MIDODRINE CHLORHYDRATE 2.5MG 30CP BGN"}},{"json":{"Code M":"M11158","Désignation":"MIDODRINE CHLORHYDRATE 2.5MG 90CP BGN"}},{"json":{"Code M":"M01504","Désignation":"MINERVA 35µG 21CP BGN"}},{"json":{"Code M":"M01503","Désignation":"MINERVA 35µG 3X21CP BGN"}},{"json":{"Code M":"M12200","Désignation":"MINOXIDIL 2% SOL 60ML BGC"}},{"json":{"Code M":"M12411","Désignation":"MINOXIDIL 5% 60ML SOL BGC"}},{"json":{"Code M":"M01193","Désignation":"MIRTAZAPINE 15MG 30CP ORO DISP BGN"}},{"json":{"Code M":"M00153","Désignation":"MODAFINIL 100MG 30CP BGN"}},{"json":{"Code M":"M01415","Désignation":"MOLSIDOMINE 2MG 30CP BGN"}},{"json":{"Code M":"M01414","Désignation":"MOLSIDOMINE 2MG 90CP BGN"}},{"json":{"Code M":"M01413","Désignation":"MOLSIDOMINE 4MG 30CP BGN"}},{"json":{"Code M":"M10189","Désignation":"MOMETASONE 50µG SUSP 120UN BGN"}},{"json":{"Code M":"M11649","Désignation":"MONTELUKAST 10MG 28CP BGR"}},{"json":{"Code M":"M11648","Désignation":"MONTELUKAST 5MG 28CP BGR"}},{"json":{"Code M":"M00537","Désignation":"MOXIFLOXACINE 400MG 5CP BGN"}},{"json":{"Code M":"M00538","Désignation":"MOXIFLOXACINE 400MG 7CP BGN"}},{"json":{"Code M":"M01139","Désignation":"MOXONIDINE 0.2MG 30CP BGN"}},{"json":{"Code M":"M01137","Désignation":"MOXONIDINE 0.4MG 30CP BGN"}},{"json":{"Code M":"M12217","Désignation":"MULTIVITAMINES ET MINERAUX 20CP EFF BGC"}},{"json":{"Code M":"M10064","Désignation":"MUPIROCINE 2 % POMMADE 15G BGN"}},{"json":{"Code M":"M00472","Désignation":"MYCOPHENOLATE 250MG 100GE BGN"}},{"json":{"Code M":"M00154","Désignation":"MYCOPHENOLATE 500MG 50CP BGN"}},{"json":{"Code M":"M00343","Désignation":"NARATRIPTAN 2.5MG 12CP BGN"}},{"json":{"Code M":"M00342","Désignation":"NARATRIPTAN 2.5MG 6CP BGN"}},{"json":{"Code M":"M00155","Désignation":"NEBIVOLOL 5MG 30CP BGN"}},{"json":{"Code M":"M00156","Désignation":"NEBIVOLOL 5MG 90CP BGN"}},{"json":{"Code M":"M10754","Désignation":"NEBIVOLOL HCTZ 5/12.5MG 30CP BGN"}},{"json":{"Code M":"M10755","Désignation":"NEBIVOLOL HCTZ 5/12.5MG 90CP BGN"}},{"json":{"Code M":"M10752","Désignation":"NEBIVOLOL HCTZ 5/25MG 30CP BGN"}},{"json":{"Code M":"M10753","Désignation":"NEBIVOLOL HCTZ 5/25MG 90CP BGN"}},{"json":{"Code M":"M13450","Désignation":"NEFOPAM 20MG/2ML SOL INJ 5UN BGN"}},{"json":{"Code M":"M00157","Désignation":"NICORANDIL 10MG 30CP BGN"}},{"json":{"Code M":"M00158","Désignation":"NICORANDIL 20MG 30CP BGN"}},{"json":{"Code M":"M01361","Désignation":"NORFLOXACINE 400MG 10CP BGN"}},{"json":{"Code M":"M13891","Désignation":"NUCOLSAN 30 sachets BGC"}},{"json":{"Code M":"M00301","Désignation":"OFLOXACINE 1.5MG/0.5ML SOL 20UN BGN"}},{"json":{"Code M":"M01353","Désignation":"OFLOXACINE 200MG 10CP BGN"}},{"json":{"Code M":"M01191","Désignation":"OFLOXACINE 200MG 10CP EVOLUGEN"}},{"json":{"Code M":"M00325","Désignation":"OLANZAPINE 10MG 28CP BGN"}},{"json":{"Code M":"M00328","Désignation":"OLANZAPINE 10MG 28CP ORO DISP BGN"}},{"json":{"Code M":"M00323","Désignation":"OLANZAPINE 5MG 28CP BGN"}},{"json":{"Code M":"M00326","Désignation":"OLANZAPINE 5MG 28CP ORO DISP BGN"}},{"json":{"Code M":"M00324","Désignation":"OLANZAPINE 7.5MG 28CP BGN"}},{"json":{"Code M":"M12320","Désignation":"OMEPRAZOLE 10MG 14GE GR BGN"}},{"json":{"Code M":"M01310","Désignation":"OMEPRAZOLE 10MG 28GE GR BGN"}},{"json":{"Code M":"M12321","Désignation":"OMEPRAZOLE 10MG 28GE GR BGN"}},{"json":{"Code M":"M12324","Désignation":"OMEPRAZOLE 20MG 14GE GR BGN"}},{"json":{"Code M":"M01344","Désignation":"OMEPRAZOLE 20MG 28GE BGN"}},{"json":{"Code M":"M12325","Désignation":"OMEPRAZOLE 20MG 28GE GR BGN"}},{"json":{"Code M":"M12323","Désignation":"OMEPRAZOLE 20MG 7GE GR BGN"}},{"json":{"Code M":"M00562","Désignation":"OMEPRAZOLE 20MG 14GE GR BGC"}},{"json":{"Code M":"M01342","Désignation":"OMEPRAZOLE 20MG 7GE GR BGC"}},{"json":{"Code M":"M11014","Désignation":"ONDANSETRON 8MG 2CP ORO DISP BGN"}},{"json":{"Code M":"M11015","Désignation":"ONDANSETRON 8MG 4CP ORO DISP BGN"}},{"json":{"Code M":"M11012","Désignation":"ONDANSETRON 8MG 2CP BGN"}},{"json":{"Code M":"M11013","Désignation":"ONDANSETRON 8MG 4CP BGN"}},{"json":{"Code M":"M00160","Désignation":"OXOMEMAZINE 0.33MG/ML SOL BUV 150ML BGN"}},{"json":{"Code M":"M00161","Désignation":"OXOMEMAZINE 0.33MG/ML SIROP 150ML BGN"}},{"json":{"Code M":"M00376","Désignation":"OXOMEMAZINE 0.33MG/ML SOL BUV 150ML BGC"}},{"json":{"Code M":"M01380","Désignation":"OXYBUTYNINE 5MG 60CP BGN"}},{"json":{"Code M":"M00606","Désignation":"OXYCODONE 10MG 28CP LP BGN"}},{"json":{"Code M":"M11476","Désignation":"OXYCODONE 15MG 28CP LP BGN"}},{"json":{"Code M":"M00607","Désignation":"OXYCODONE 20MG 28CP LP BGN"}},{"json":{"Code M":"M11477","Désignation":"OXYCODONE 30MG 28CP LP BGN"}},{"json":{"Code M":"M00608","Désignation":"OXYCODONE 40MG 28CP LP BGN"}},{"json":{"Code M":"M00605","Désignation":"OXYCODONE 5MG 28CP LP BGN"}},{"json":{"Code M":"M11478","Désignation":"OXYCODONE 60MG 28CP LP BGN"}},{"json":{"Code M":"M00609","Désignation":"OXYCODONE 80MG 28CP LP BGN"}},{"json":{"Code M":"M10881","Désignation":"PALIPERIDONE 100MG SUSP INJ 1UN LP BGN"}},{"json":{"Code M":"M10888","Désignation":"PALIPERIDONE 150MG SUSP INJ 1UN LP BGN"}},{"json":{"Code M":"M10873","Désignation":"PALIPERIDONE 25MG SUSP INJ 1UN LP BGN"}},{"json":{"Code M":"M10876","Désignation":"PALIPERIDONE 50MG SUSP INJ 1UN LP BGN"}},{"json":{"Code M":"M10879","Désignation":"PALIPERIDONE 75MG SUSP INJ 1UN LP BGN"}},{"json":{"Code M":"M12992","Désignation":"PANSEMENT HYDROCELLUL 10x10CM 16UN"}},{"json":{"Code M":"M13850","Désignation":"PANSEMENT HYDROCELLUL 10x25CM 10UN"}},{"json":{"Code M":"M13851","Désignation":"PANSEMENT HYDROCELLUL 10x30CM 10UN"}},{"json":{"Code M":"M13391","Désignation":"PANSEMENT HYDROCELLUL 12.5x12.5CM 16UN"}},{"json":{"Code M":"M13393","Désignation":"PANSEMENT HYDROCELLUL 14x15CM 16UN"}},{"json":{"Code M":"M13848","Désignation":"PANSEMENT HYDROCELLUL 17.5x17.5CM 10UN"}},{"json":{"Code M":"M13849","Désignation":"PANSEMENT HYDROCELLUL 17.5x23CM 10UN"}},{"json":{"Code M":"M12990","Désignation":"PANSEMENT HYDROCELLUL 7.5x8.5CM 16UN"}},{"json":{"Code M":"M13396","Désignation":"PANSEMENT HYDROCELLUL 10x20CM 10UN"}},{"json":{"Code M":"M12984","Désignation":"PANSEMENT HYDROCELLUL 5x5CM 10UN"}},{"json":{"Code M":"M12998","Désignation":"PANSEMENT HYDROCELLUL 6x12CM 10UN"}},{"json":{"Code M":"M13000","Désignation":"PANSEMENT HYDROCELLUL 9x15CM 10UN"}},{"json":{"Code M":"M13395","Désignation":"PANSEMENT HYDROCELLUL 15x18CM 16UN"}},{"json":{"Code M":"M12996","Désignation":"PANSEMENT HYDROCELLUL 11.5x14CM 16UN"}},{"json":{"Code M":"M12994","Désignation":"PANSEMENT HYDROCELLUL 9x11CM 16UN"}},{"json":{"Code M":"M13852","Désignation":"PANSEMENT HYDROCELLUL 18x22CM 10UN"}},{"json":{"Code M":"M13104","Désignation":"PANSEMENT SUPERABSORB 12,5x12,5CM 10UN"}},{"json":{"Code M":"M13105","Désignation":"PANSEMENT SUPERABSORB 12,5x22,5CM 10UN"}},{"json":{"Code M":"M13106","Désignation":"PANSEMENT SUPERABSORB 17,5x23CM 10UN"}},{"json":{"Code M":"M13107","Désignation":"PANSEMENT SUPERABSORB 20x30CM 10UN"}},{"json":{"Code M":"M13108","Désignation":"PANSEMENT SUPERABSORB 20x42,5CM 10UN"}},{"json":{"Code M":"M13110","Désignation":"PANSEMENT PLAIE ET BRULURE 10x10CM 10UN"}},{"json":{"Code M":"M13112","Désignation":"PANSEMENT PLAIE ET BRULURE 10x40CM 10UN"}},{"json":{"Code M":"M13109","Désignation":"PANSEMENT PLAIE ET BRULURE 5x5CM 5UN"}},{"json":{"Code M":"M00162","Désignation":"PANTOPRAZOLE 20MG 14CP GR BGN"}},{"json":{"Code M":"M00163","Désignation":"PANTOPRAZOLE 20MG 28CP GR BGN"}},{"json":{"Code M":"M00164","Désignation":"PANTOPRAZOLE 40MG 14CP GR BGN"}},{"json":{"Code M":"M00165","Désignation":"PANTOPRAZOLE 40MG 28CP GR BGN"}},{"json":{"Code M":"M00166","Désignation":"PANTOPRAZOLE 40MG 7CP GR BGN"}},{"json":{"Code M":"M01377","Désignation":"PARACETAMOL 1000MG 8CP EFF BGN"}},{"json":{"Code M":"M01337","Désignation":"PARACETAMOL 1000MG 8CP BGN"}},{"json":{"Code M":"M00358","Désignation":"PARACETAMOL 500MG 16CP BGN"}},{"json":{"Code M":"M01362","Désignation":"PARACETAMOL 500MG 16CP EFF BGN"}},{"json":{"Code M":"M01540","Désignation":"PARACETAMOL 500MG 16GE BGN"}},{"json":{"Code M":"M12204","Désignation":"PARACETAMOL 1G 8CP BGC"}},{"json":{"Code M":"M12960","Désignation":"PARACETAMOL 500MG 16CP BGC"}},{"json":{"Code M":"M10353","Désignation":"PARA/CAF/COD 400/50/20MG 18GE BGN"}},{"json":{"Code M":"M12600","Désignation":"PARACETAMOL COD 500/30MG 16CP BGN"}},{"json":{"Code M":"M01287","Désignation":"PAROXETINE 20MG 14CP BGN"}},{"json":{"Code M":"M12938","Désignation":"PASTILLES GORGE 20CP SUC BGC"}},{"json":{"Code M":"M10234","Désignation":"PERINDOPRIL ARGININE 10MG 30CP BGN"}},{"json":{"Code M":"M10235","Désignation":"PERINDOPRIL ARGININE 10MG 90CP BGN"}},{"json":{"Code M":"M10236","Désignation":"PERINDOPRIL ARGININE 2,5MG 30CP BGN"}},{"json":{"Code M":"M10237","Désignation":"PERINDOPRIL ARGININE 2,5MG 90CP BGN"}},{"json":{"Code M":"M10238","Désignation":"PERINDOPRIL ARGININE 5MG 30CP BGN"}},{"json":{"Code M":"M10239","Désignation":"PERINDOPRIL ARGININE 5MG 90CP BGN"}},{"json":{"Code M":"M10255","Désignation":"PERIND ARGI / INDAP 2.5/0.625MG 30CP BGN"}},{"json":{"Code M":"M10256","Désignation":"PERIND ARGI / INDAP 2.5/0.625MG 90CP BGN"}},{"json":{"Code M":"M10251","Désignation":"PERIND ARGI / INDAP 5/1.25MG 30CP BGN"}},{"json":{"Code M":"M10252","Désignation":"PERIND ARGI / INDAP 5/1.25MG 90CP BGN"}},{"json":{"Code M":"M00216","Désignation":"PERINDOPRIL 2MG 30CP BGN"}},{"json":{"Code M":"M00217","Désignation":"PERINDOPRIL 2MG 90CP BGN"}},{"json":{"Code M":"M00218","Désignation":"PERINDOPRIL 4MG 30CP BGN"}},{"json":{"Code M":"M00219","Désignation":"PERINDOPRIL 4MG 90CP BGN"}},{"json":{"Code M":"M00240","Désignation":"PERINDOPRIL 8MG 30CP BGN"}},{"json":{"Code M":"M00241","Désignation":"PERINDOPRIL 8MG 90CP BGN"}},{"json":{"Code M":"M00394","Désignation":"PERIND. / INDAPAMIDE 2/0.625MG 30CP BGN"}},{"json":{"Code M":"M00395","Désignation":"PERIND. / INDAPAMIDE 2/0.625MG 90CP BGN"}},{"json":{"Code M":"M00396","Désignation":"PERIND. / INDAPAMIDE 4/1.25MG 30CP BGN"}},{"json":{"Code M":"M00397","Désignation":"PERIND. / INDAPAMIDE 4/1.25MG 90CP BGN"}},{"json":{"Code M":"M01263","Désignation":"PERLEANE 21CP BGN"}},{"json":{"Code M":"M01262","Désignation":"PERLEANE 3X21CP BGN"}},{"json":{"Code M":"M12657","Désignation":"PHIZOE 0.02/3MG 28CP BGU"}},{"json":{"Code M":"M12658","Désignation":"PHIZOE 0.02/3MG 84CP BGU"}},{"json":{"Code M":"M11482","Désignation":"PHLOROGLUCINOL 80MG 10CP ORO DISP BGR"}},{"json":{"Code M":"M10112","Désignation":"PHLOROGLUCINOL 160MG 5CP ORO DISP BGN"}},{"json":{"Code M":"M13599","Désignation":"PHLOROGLUCINOL 80MG 10CP ORO DISP BGC"}},{"json":{"Code M":"M01208","Désignation":"PINAVERIUM 100MG 30CP BGN"}},{"json":{"Code M":"M01463","Désignation":"PIRACETAM 400MG 90CP BGN"}},{"json":{"Code M":"M01462","Désignation":"PIRACETAM 800MG 45CP BGN"}},{"json":{"Code M":"M12502","Désignation":"PIRFENIDONE 267MG 252CP BGN"}},{"json":{"Code M":"M12499","Désignation":"PIRFENIDONE 801MG 84CP BGN"}},{"json":{"Code M":"M01512","Désignation":"PIROXICAM 10MG 30GE BGN"}},{"json":{"Code M":"M01511","Désignation":"PIROXICAM 20MG 15GE BGN"}},{"json":{"Code M":"M00226","Désignation":"PRAMIPEXOLE 0.18MG 100CP BGN"}},{"json":{"Code M":"M00171","Désignation":"PRAMIPEXOLE 0.18MG 30CP BGN"}},{"json":{"Code M":"M00227","Désignation":"PRAMIPEXOLE 0.7MG 100CP BGN"}},{"json":{"Code M":"M00172","Désignation":"PRAMIPEXOLE 0.7MG 30CP BGN"}},{"json":{"Code M":"M12556","Désignation":"PRASUGREL 10MG 30CP BGR"}},{"json":{"Code M":"M02504","Désignation":"PRAVASTATINE 10MG 28CP BGN"}},{"json":{"Code M":"M02503","Désignation":"PRAVASTATINE 20MG 28CP BGN"}},{"json":{"Code M":"M02502","Désignation":"PRAVASTATINE 20MG 84CP BGN"}},{"json":{"Code M":"M02501","Désignation":"PRAVASTATINE 40MG 28CP BGN"}},{"json":{"Code M":"M02500","Désignation":"PRAVASTATINE 40MG 84CP BGN"}},{"json":{"Code M":"M00474","Désignation":"PRAZEPAM 10MG 40CP BGN"}},{"json":{"Code M":"M01400","Désignation":"PREDNISOLONE 20MG 20CP EFF BGN"}},{"json":{"Code M":"M00173","Désignation":"PREDNISOLONE 20MG 20CP ORO DISP BGN"}},{"json":{"Code M":"M01324","Désignation":"PREDNISONE 20MG 20CP BGN"}},{"json":{"Code M":"M01325","Désignation":"PREDNISONE 5MG 30CP BGN"}},{"json":{"Code M":"M10919","Désignation":"PREGABALINE 100MG 84GE BGR"}},{"json":{"Code M":"M10920","Désignation":"PREGABALINE 150MG 56GE BGR"}},{"json":{"Code M":"M10921","Désignation":"PREGABALINE 200MG 84GE BGR"}},{"json":{"Code M":"M10915","Désignation":"PREGABALINE 25MG 56GE BGR"}},{"json":{"Code M":"M10916","Désignation":"PREGABALINE 25MG 84GE BGR"}},{"json":{"Code M":"M10922","Désignation":"PREGABALINE 300MG 56GE BGR"}},{"json":{"Code M":"M10917","Désignation":"PREGABALINE 50MG 84GE BGR"}},{"json":{"Code M":"M10918","Désignation":"PREGABALINE 75MG 56GE BGR"}},{"json":{"Code M":"M13892","Désignation":"PROBAFLOR BIOGARAN 30GE BGC"}},{"json":{"Code M":"M01394","Désignation":"PROGESTERONE 100MG 30 CAPS BGN"}},{"json":{"Code M":"M01390","Désignation":"PROGESTERONE 200MG 15 CAPS BGN"}},{"json":{"Code M":"M11673","Désignation":"PROGESTERONE 200MG 45 CAPS BGN"}},{"json":{"Code M":"M00454","Désignation":"FLUTI/SALMET 125/25µG SUSP INH 120UN BGN"}},{"json":{"Code M":"M00455","Désignation":"FLUTI/SALMET 250/25µG SUSP INH 120UN BGN"}},{"json":{"Code M":"M00558","Désignation":"FLUTI/SALMET 100/50µG AIRMASTER 60UN BGN"}},{"json":{"Code M":"M00559","Désignation":"FLUTI/SALMET 250/50µG AIRMASTER 60UN BGN"}},{"json":{"Code M":"M00560","Désignation":"FLUTI/SALMET 500/50µG AIRMASTER 60UN BGN"}},{"json":{"Code M":"M00572","Désignation":"PROPRANOLOL 40MG 50CP BGN"}},{"json":{"Code M":"M10078","Désignation":"QUETIAPINE 300MG 30CP LP BGN"}},{"json":{"Code M":"M10079","Désignation":"QUETIAPINE 300MG 60CP LP BGN"}},{"json":{"Code M":"M10081","Désignation":"QUETIAPINE 400MG 30CP LP BGN"}},{"json":{"Code M":"M10080","Désignation":"QUETIAPINE 400MG 60CP LP BGN"}},{"json":{"Code M":"M11037","Désignation":"QUETIAPINE 50MG 10CP LP BGN"}},{"json":{"Code M":"M10077","Désignation":"QUETIAPINE 50MG 30CP LP BGN"}},{"json":{"Code M":"M01186","Désignation":"QUINAPRIL 20MG 28CP BGN"}},{"json":{"Code M":"M13197","Désignation":"RABEPRAZOLE 20MG 14CP BGR"}},{"json":{"Code M":"M13198","Désignation":"RABEPRAZOLE 20MG 28CP BGR"}},{"json":{"Code M":"M10000","Désignation":"RABEPRAZOLE 10MG 14CP GR BGN"}},{"json":{"Code M":"M10001","Désignation":"RABEPRAZOLE 10MG 28CP GR BGN"}},{"json":{"Code M":"M10939","Désignation":"RACECADOTRIL 100MG 20GE BGR"}},{"json":{"Code M":"M10936","Désignation":"RACECADOTRIL 100MG 10GE BGC"}},{"json":{"Code M":"M00432","Désignation":"RALOXIFENE 60MG 28CP BGN"}},{"json":{"Code M":"M00433","Désignation":"RALOXIFENE 60MG 84CP BGN"}},{"json":{"Code M":"M01246","Désignation":"RAMIPRIL 10MG 30CP BGN"}},{"json":{"Code M":"M01180","Désignation":"RAMIPRIL 10MG 90CP BGN"}},{"json":{"Code M":"M01261","Désignation":"RAMIPRIL 1.25MG 30CP BGN"}},{"json":{"Code M":"M01225","Désignation":"RAMIPRIL 1.25MG 90CP BGN"}},{"json":{"Code M":"M01260","Désignation":"RAMIPRIL 2.5MG 30CP BGN"}},{"json":{"Code M":"M00388","Désignation":"RAMIPRIL 2.5MG 90CP BGN"}},{"json":{"Code M":"M01247","Désignation":"RAMIPRIL 5MG 30CP BGN"}},{"json":{"Code M":"M01224","Désignation":"RAMIPRIL 5MG 90CP BGN"}},{"json":{"Code M":"M10156","Désignation":"RAMIPRIL HCTZ 5MG/12,5MG 30CP BGN"}},{"json":{"Code M":"M11473","Désignation":"RAMIPRIL HCTZ 5/12.5MG 90CP BGN"}},{"json":{"Code M":"M10250","Désignation":"RASAGILINE 1MG 30CP BGN"}},{"json":{"Code M":"M00223","Désignation":"REPAGLINIDE 0.5MG 270CP BGN"}},{"json":{"Code M":"M00178","Désignation":"REPAGLINIDE 0.5MG 90CP BGN"}},{"json":{"Code M":"M00224","Désignation":"REPAGLINIDE 1MG 270CP BGN"}},{"json":{"Code M":"M00179","Désignation":"REPAGLINIDE 1MG 90CP BGN"}},{"json":{"Code M":"M00225","Désignation":"REPAGLINIDE 2MG 270CP BGN"}},{"json":{"Code M":"M00180","Désignation":"REPAGLINIDE 2MG 90CP BGN"}},{"json":{"Code M":"M01539","Désignation":"RILMENIDINE 1MG 30CP BGN"}},{"json":{"Code M":"M01179","Désignation":"RILMENIDINE 1MG 90CP BGN"}},{"json":{"Code M":"M00544","Désignation":"RILUZOLE 50MG 56CP BGN"}},{"json":{"Code M":"M11309","Désignation":"RISEDRONATE 75MG 2CP BGR"}},{"json":{"Code M":"M11310","Désignation":"RISEDRONATE 75MG 6CP BGR"}},{"json":{"Code M":"M11521","Désignation":"RISEDRONATE 35MG 12CP BGN"}},{"json":{"Code M":"M11520","Désignation":"RISEDRONATE 35MG 4CP BGN"}},{"json":{"Code M":"M01107","Désignation":"RISPERIDONE 1MG 60CP BGN"}},{"json":{"Code M":"M01106","Désignation":"RISPERIDONE 2MG 60CP BGN"}},{"json":{"Code M":"M01105","Désignation":"RISPERIDONE 4MG 30CP BGN"}},{"json":{"Code M":"M13895","Désignation":"RIVAROXABAN 10MG 30CP BGN"}},{"json":{"Code M":"M13894","Désignation":"RIVAROXABAN 15MG 28CP BGN"}},{"json":{"Code M":"M13893","Désignation":"RIVAROXABAN 20MG 28CP BGN"}},{"json":{"Code M":"M00601","Désignation":"RIVASTIGMINE 1,5MG 56GE BGN"}},{"json":{"Code M":"M00602","Désignation":"RIVASTIGMINE 3MG 56GE BGN"}},{"json":{"Code M":"M00603","Désignation":"RIVASTIGMINE 4,5MG 56GE BGN"}},{"json":{"Code M":"M00457","Désignation":"RIVASTIGMINE 4.6MG/24H PATCH 30UN BGN"}},{"json":{"Code M":"M00604","Désignation":"RIVASTIGMINE 6MG 56GE BGN"}},{"json":{"Code M":"M00564","Désignation":"RIVASTIGMINE 9.5MG/24H PATCH 30UN BGN"}},{"json":{"Code M":"M10241","Désignation":"RIZATRIPTAN 10MG 12CP ORO DISP BGN"}},{"json":{"Code M":"M10240","Désignation":"RIZATRIPTAN 10MG 6CP ORO DISP BGN"}},{"json":{"Code M":"M00305","Désignation":"ROPINIROLE 2MG 28CP LP BGN"}},{"json":{"Code M":"M00306","Désignation":"ROPINIROLE 4MG 28CP LP BGN"}},{"json":{"Code M":"M00307","Désignation":"ROPINIROLE 8MG 28CP LP BGN"}},{"json":{"Code M":"M13038","Désignation":"ROSUVASTATINE 10MG 30CP BGR"}},{"json":{"Code M":"M13039","Désignation":"ROSUVASTATINE 10MG 90CP BGR"}},{"json":{"Code M":"M13040","Désignation":"ROSUVASTATINE 20MG 30CP BGR"}},{"json":{"Code M":"M13041","Désignation":"ROSUVASTATINE 20MG 90CP BGR"}},{"json":{"Code M":"M13035","Désignation":"ROSUVASTATINE 5MG 30CP BGR"}},{"json":{"Code M":"M13036","Désignation":"ROSUVASTATINE 5MG 90CP BGR"}},{"json":{"Code M":"M01364","Désignation":"ROXITHROMYCINE 150MG 10CP BGN"}},{"json":{"Code M":"M01363","Désignation":"ROXITHROMYCINE 150MG 16CP BGN"}},{"json":{"Code M":"M11127","Désignation":"RUPATADINE 10MG 30CP BGN"}},{"json":{"Code M":"M10759","Désignation":"SAXAGLIPTINE 5MG 30CP BGN"}},{"json":{"Code M":"M01216","Désignation":"SERTRALINE 25MG 7GE BGN"}},{"json":{"Code M":"M01283","Désignation":"SERTRALINE 50MG 28GE BGN"}},{"json":{"Code M":"M12120","Désignation":"SERUM PHY 0,9% 40x5ML SOL BGC"}},{"json":{"Code M":"M13103","Désignation":"SET 5 PANSEMENTS PLAIE CHRONIQUE DETER"}},{"json":{"Code M":"M13102","Désignation":"SET DE 5 PANSEMENTS PLAIE CHRONIQUE MECH"}},{"json":{"Code M":"M13101","Désignation":"SET DE 5 PANSEMENTS PLAIE CHRONIQUE STD"}},{"json":{"Code M":"M13100","Désignation":"SET 3 PANSEMENTS POST OP GDE PLAIE AGRAF"}},{"json":{"Code M":"M13099","Désignation":"SET 3 PANSEMENTS POST OP GDE PLAIE"}},{"json":{"Code M":"M13097","Désignation":"SET DE 3 PANSEMENTS POST OP PETITE PLAIE"}},{"json":{"Code M":"M13098","Désignation":"SET DE 3 PANSEMENT POST OP PLAIE MOYENNE"}},{"json":{"Code M":"M10878","Désignation":"SEVELAMER 2.4G 90PPS BGN"}},{"json":{"Code M":"M10707","Désignation":"SEVELAMER 800MG 180CP BGN"}},{"json":{"Code M":"M00546","Désignation":"SILDENAFIL 100MG 12CP BGN"}},{"json":{"Code M":"M00430","Désignation":"SILDENAFIL 100MG 4CP BGN"}},{"json":{"Code M":"M00431","Désignation":"SILDENAFIL 100MG 8CP BGN"}},{"json":{"Code M":"M00545","Désignation":"SILDENAFIL 50MG 12CP BGN"}},{"json":{"Code M":"M00428","Désignation":"SILDENAFIL 50MG 4CP BGN"}},{"json":{"Code M":"M00429","Désignation":"SILDENAFIL 50MG 8CP BGN"}},{"json":{"Code M":"M10763","Désignation":"SILODOSINE 4MG 30GE BGN"}},{"json":{"Code M":"M10764","Désignation":"SILODOSINE 8MG 30GE BGN"}},{"json":{"Code M":"M01189","Désignation":"SIMVASTATINE 10MG 28CP BGN"}},{"json":{"Code M":"M01034","Désignation":"SIMVASTATINE 20MG 28CP BGN"}},{"json":{"Code M":"M01033","Désignation":"SIMVASTATINE 20MG 84CP BGN"}},{"json":{"Code M":"M01120","Désignation":"SIMVASTATINE 40MG 28CP BGN"}},{"json":{"Code M":"M01119","Désignation":"SIMVASTATINE 40MG 84CP BGN"}},{"json":{"Code M":"M90197","Désignation":"SIMVASTATINE 20MG 28CP EVOLUGEN"}},{"json":{"Code M":"M02489","Désignation":"SIMVASTATINE 20MG 84CP EVOLUGEN"}},{"json":{"Code M":"M90198","Désignation":"SIMVASTATINE 40MG 28CP EVOLUGEN"}},{"json":{"Code M":"M02488","Désignation":"SIMVASTATINE 40MG 84CP EVOLUGEN"}},{"json":{"Code M":"M12830","Désignation":"SIROP PROPOLIS BGC"}},{"json":{"Code M":"M13466","Désignation":"SITAGLIPTINE 100MG 30 CP BGR"}},{"json":{"Code M":"M13468","Désignation":"SITAGLIPTINE 50MG 30 CP BGR"}},{"json":{"Code M":"M13276","Désignation":"SITAGLIPTINE/METFORMINE 50MG/1G 60CP BGR"}},{"json":{"Code M":"M13873","Désignation":"SOIN LAVANT APAISANT FLAC250ML BGC"}},{"json":{"Code M":"M13872","Désignation":"SOIN LAVANT QUOTIDIEN FLAC250ML BGC"}},{"json":{"Code M":"M12942","Désignation":"ANTI POUX SOL 200ML BGC"}},{"json":{"Code M":"M12558","Désignation":"SOLIFENACINE 10MG 30CP BGR"}},{"json":{"Code M":"M12557","Désignation":"SOLIFENACINE 5MG 30CP BGR"}},{"json":{"Code M":"M10849","Désignation":"SORAFENIB 200MG 112CP BGN"}},{"json":{"Code M":"M01396","Désignation":"SOTALOL 160MG 30CP BGN"}},{"json":{"Code M":"M01397","Désignation":"SOTALOL 80MG 30CP BGN"}},{"json":{"Code M":"M01200","Désignation":"SPIRAMYCINE 3MUI 10CP BGN"}},{"json":{"Code M":"M01199","Désignation":"SPIRAMYCINE 3MUI 16CP BGN"}},{"json":{"Code M":"M01296","Désignation":"SPIRA/METRO 1.5MUI/250MG 10CP BGN"}},{"json":{"Code M":"M01297","Désignation":"SPIRA/METRO 0.75MUI/125MG 20CP BGN"}},{"json":{"Code M":"M01465","Désignation":"SPIRONOLACTONE ALTIZIDE 25/15MG 30CP BGN"}},{"json":{"Code M":"M01151","Désignation":"SPIRONOLACTONE ALTIZIDE 25/15MG 90CP BGN"}},{"json":{"Code M":"M00335","Désignation":"SPIRONOLACTONE 25MG 30CP BGN"}},{"json":{"Code M":"M00336","Désignation":"SPIRONOLACTONE 25MG 90CP BGN"}},{"json":{"Code M":"M01466","Désignation":"SPIRONOLACTONE 50MG 30CP BGN"}},{"json":{"Code M":"M01154","Désignation":"SPIRONOLACTONE 50MG 90CP BGN"}},{"json":{"Code M":"M01485","Désignation":"SPIRONOLACTONE 75MG 30CP BGN"}},{"json":{"Code M":"M00389","Désignation":"SPIRONOLACTONE 75MG 90CP BGN"}},{"json":{"Code M":"M13903","Désignation":"STYLET MYCOSE ONGLE 1SERUM BGC"}},{"json":{"Code M":"M10760","Désignation":"SUNITINIB 12.5MG 28GE BGN"}},{"json":{"Code M":"M10761","Désignation":"SUNITINIB 25MG 28GE BGN"}},{"json":{"Code M":"M12408","Désignation":"SUNITINIB 37.5MG 28GE BGN"}},{"json":{"Code M":"M10762","Désignation":"SUNITINIB 50MG 28GE BGN"}},{"json":{"Code M":"M10177","Désignation":"TADALAFIL 10 MG 4 CP BGN"}},{"json":{"Code M":"M12176","Désignation":"TADALAFIL 20MG 12CP BGN"}},{"json":{"Code M":"M12177","Désignation":"TADALAFIL 20MG 24CP BGN"}},{"json":{"Code M":"M10178","Désignation":"TADALAFIL 20 MG 4 CP BGN"}},{"json":{"Code M":"M10179","Désignation":"TADALAFIL 20 MG 8CP BGN"}},{"json":{"Code M":"M10175","Désignation":"TADALAFIL 2,5 MG 28CP BGN"}},{"json":{"Code M":"M10176","Désignation":"TADALAFIL 5 MG 28CP BGN"}},{"json":{"Code M":"M11123","Désignation":"TADALAFIL 5MG 84CP BGN"}},{"json":{"Code M":"M01500","Désignation":"TAMOXIFENE 10MG 30CP BGN"}},{"json":{"Code M":"M01499","Désignation":"TAMOXIFENE 20MG 30CP BGN"}},{"json":{"Code M":"M00412","Désignation":"TAMSULOSINE 0.4MG 30CP LP BGN"}},{"json":{"Code M":"M01270","Désignation":"TAMSULOSINE 0.4MG 30GE LP BGN"}},{"json":{"Code M":"M00547","Désignation":"TELMISARTAN 40MG 30CP BGN"}},{"json":{"Code M":"M00548","Désignation":"TELMISARTAN 40MG 90CP BGN"}},{"json":{"Code M":"M00549","Désignation":"TELMISARTAN 80MG 30CP BGN"}},{"json":{"Code M":"M00550","Désignation":"TELMISARTAN 80MG 90CP BGN"}},{"json":{"Code M":"M00551","Désignation":"TELMISARTAN HCTZ 40MG/12,5MG 30CP BGN"}},{"json":{"Code M":"M00552","Désignation":"TELMISARTAN HCTZ 40MG/12,5MG 90CP BGN"}},{"json":{"Code M":"M00553","Désignation":"TELMISARTAN HCTZ 80MG/12,5MG 30CP BGN"}},{"json":{"Code M":"M00554","Désignation":"TELMISARTAN HCTZ 80MG/12,5MG 90CP BGN"}},{"json":{"Code M":"M00555","Désignation":"TELMISARTAN HCTZ 80MG/25MG 30CP BGN"}},{"json":{"Code M":"M00556","Désignation":"TELMISARTAN HCTZ 80MG/25MG 90CP BGN"}},{"json":{"Code M":"M10226","Désignation":"TENOFOVIR DISOP 245MG 30CP BGN"}},{"json":{"Code M":"M01350","Désignation":"TERAZOSINE 5MG 28CP BGN"}},{"json":{"Code M":"M00194","Désignation":"TERBINAFINE 1% CREME 15G BGN"}},{"json":{"Code M":"M01210","Désignation":"TERBINAFINE 250MG 28CP BGN"}},{"json":{"Code M":"M00584","Désignation":"TERBUTALINE 5MG/2ML 50SOL INH BGN"}},{"json":{"Code M":"M11087","Désignation":"TERIFLUNOMIDE 14MG 28CP BGN"}},{"json":{"Code M":"M11255","Désignation":"TERIPARATIDE 20µG/80µL SOL INJ 1UN BGN"}},{"json":{"Code M":"M01379","Désignation":"THIOCOLCHICOSIDE 4MG 12CP BGN"}},{"json":{"Code M":"M01378","Désignation":"THIOCOLCHICOSIDE 4MG 24CP BGN"}},{"json":{"Code M":"M10138","Désignation":"TIANEPTINE 12,5MG 28CP BGN"}},{"json":{"Code M":"M12178","Désignation":"TIOTROPIUM 18µG 30GE BGN"}},{"json":{"Code M":"M11422","Désignation":"TIXOCORTOL 1% SUSP 10ML BGN"}},{"json":{"Code M":"M12458","Désignation":"TOLVAPTAN 15/45MG 56CP BGN"}},{"json":{"Code M":"M12462","Désignation":"TOLVAPTAN 30/60MG 56CP BGN"}},{"json":{"Code M":"M12464","Désignation":"TOLVAPTAN 30/90MG 56CP BGN"}},{"json":{"Code M":"M11504","Désignation":"TOPIRAMATE 100MG 28CP BGR"}},{"json":{"Code M":"M11505","Désignation":"TOPIRAMATE 200MG 28CP BGR"}},{"json":{"Code M":"M11503","Désignation":"TOPIRAMATE 50MG 28CP BGR"}},{"json":{"Code M":"M13555","Désignation":"TRAMADOL 100MG 10CP LP BGR"}},{"json":{"Code M":"M11533","Désignation":"TRAMADOL 100MG 30CP LP BGR"}},{"json":{"Code M":"M13556","Désignation":"TRAMADOL 150MG 10CP LP BGR"}},{"json":{"Code M":"M11532","Désignation":"TRAMADOL 150MG 30CP LP BGR"}},{"json":{"Code M":"M13557","Désignation":"TRAMADOL 200MG 10CP LP BGR"}},{"json":{"Code M":"M11535","Désignation":"TRAMADOL 200MG 30CP LP BGR"}},{"json":{"Code M":"M13554","Désignation":"TRAMADOL 50MG 10GE BGN"}},{"json":{"Code M":"M01447","Désignation":"TRAMADOL 50MG 30GE BGN"}},{"json":{"Code M":"M11263","Désignation":"TRAMADOL /PARA. 37.5/325MG 20CP BGR"}},{"json":{"Code M":"M00202","Désignation":"TRANDOLAPRIL 0.50MG 28GE BGN"}},{"json":{"Code M":"M00203","Désignation":"TRANDOLAPRIL 0.50MG 84GE BGN"}},{"json":{"Code M":"M00204","Désignation":"TRANDOLAPRIL 2MG 28GE BGN"}},{"json":{"Code M":"M01066","Désignation":"TRANDOLAPRIL 2MG 84GE BGN"}},{"json":{"Code M":"M00206","Désignation":"TRANDOLAPRIL 4MG 28GE BGN"}},{"json":{"Code M":"M00207","Désignation":"TRANDOLAPRIL 4MG 84GE BGN"}},{"json":{"Code M":"M00557","Désignation":"TRAVOPROST 0,004% SOL 2,5 ML BGN"}},{"json":{"Code M":"M10220","Désignation":"TRAVOPROST/TIMO 40µG/ML 5MG/ML COLL BGN"}},{"json":{"Code M":"M01244","Désignation":"TRIMEBUTINE 100MG 30CP BGN"}},{"json":{"Code M":"M01245","Désignation":"TRIMEBUTINE 200MG 30CP BGN"}},{"json":{"Code M":"M00563","Désignation":"TRIMEBUTINE 100MG 20CP BGC"}},{"json":{"Code M":"M01520","Désignation":"TRIMETAZIDINE 20MG 60CP BGN"}},{"json":{"Code M":"M00471","Désignation":"TRIMETAZIDINE 35MG 60CP LM BGN"}},{"json":{"Code M":"M12420","Désignation":"TRODANGINE KIT 25 BAND TEST BGC"}},{"json":{"Code M":"M12406","Désignation":"TROLAMINE 0.67% EMULSION 93G BGC"}},{"json":{"Code M":"M12554","Désignation":"ULIPRISTAL ACETATE 30MG 1CP BGN"}},{"json":{"Code M":"M11152","Désignation":"URAPIDIL 30MG 30GE LP BGN"}},{"json":{"Code M":"M13878","Désignation":"URAPIDIL 30MG 30GE LP BGN"}},{"json":{"Code M":"M10872","Désignation":"URAPIDIL 60MG 30GE LP BGN"}},{"json":{"Code M":"M00208","Désignation":"VALACICLOVIR 500MG 10CP BGN"}},{"json":{"Code M":"M01067","Désignation":"VALACICLOVIR 500MG 112CP BGN"}},{"json":{"Code M":"M00209","Désignation":"VALACICLOVIR 500MG 42CP BGN"}},{"json":{"Code M":"M10083","Désignation":"VALGANCICLOVIR 450MG 60CP BGN"}},{"json":{"Code M":"M00211","Désignation":"VALSARTAN 160MG 30CP BGN"}},{"json":{"Code M":"M00237","Désignation":"VALSARTAN 160MG 90CP BGN"}},{"json":{"Code M":"M00212","Désignation":"VALSARTAN 40MG 30CP BGN"}},{"json":{"Code M":"M00238","Désignation":"VALSARTAN 40MG 90CP BGN"}},{"json":{"Code M":"M00210","Désignation":"VALSARTAN 80MG 30CP BGN"}},{"json":{"Code M":"M00236","Désignation":"VALSARTAN 80MG 90CP BGN"}},{"json":{"Code M":"M00338","Désignation":"VALSARTAN HCTZ 160/12.5MG 30CP BGN"}},{"json":{"Code M":"M00469","Désignation":"VALSARTAN HCTZ 160/12.5MG 90CP BGN"}},{"json":{"Code M":"M00337","Désignation":"VALSARTAN HCTZ 160/25MG 30CP BGN"}},{"json":{"Code M":"M01024","Désignation":"VALSARTAN HCTZ 160/25MG 90CP BGN"}},{"json":{"Code M":"M00339","Désignation":"VALSARTAN HCTZ 80/12.5MG 30CP BGN"}},{"json":{"Code M":"M00479","Désignation":"VALSARTAN HCTZ 80/12.5MG 90CP BGN"}},{"json":{"Code M":"M10331","Désignation":"VARDENAFIL 10MG 4CP BGN"}},{"json":{"Code M":"M10332","Désignation":"VARDENAFIL 10MG 8CP BGN"}},{"json":{"Code M":"M10335","Désignation":"VARDENAFIL 20MG 12CP BGN"}},{"json":{"Code M":"M10699","Désignation":"VARDENAFIL 20MG 20CP BGN"}},{"json":{"Code M":"M10333","Désignation":"VARDENAFIL 20MG 4CP BGN"}},{"json":{"Code M":"M10334","Désignation":"VARDENAFIL 20MG 8CP BGN"}},{"json":{"Code M":"M10700","Désignation":"VARDENAFIL 5MG 4CP BGN"}},{"json":{"Code M":"M00214","Désignation":"VENLAFAXINE 37.5MG 30GE LP BGN"}},{"json":{"Code M":"M00215","Désignation":"VENLAFAXINE 75MG 30GE LP BGN"}},{"json":{"Code M":"M01515","Désignation":"VERAPAMIL 240MG 30GE LP BGN"}},{"json":{"Code M":"M10823","Désignation":"VILDAGLIPTINE 50MG 30CP BGN"}},{"json":{"Code M":"M10824","Désignation":"VILDAGLIPTINE 50MG 60CP BGN"}},{"json":{"Code M":"M10822","Désignation":"VILDAGLI/METFOR CHLOR 50/1000MG 60CP BGN"}},{"json":{"Code M":"M11381","Désignation":"VORICONAZOLE 200MG 14CP BGN"}},{"json":{"Code M":"M11383","Désignation":"VORICONAZOLE 200MG 28CP BGN"}},{"json":{"Code M":"M11385","Désignation":"VORICONAZOLE 200MG 56CP BGN"}},{"json":{"Code M":"M11516","Désignation":"VORICONAZOLE 50MG 28CP BGN"}},{"json":{"Code M":"M11517","Désignation":"VORICONAZOLE 50MG 56CP BGN"}},{"json":{"Code M":"M00314","Désignation":"ZOLMITRIPTAN 2.5MG 12CP ORO DISP BGN"}},{"json":{"Code M":"M00313","Désignation":"ZOLMITRIPTAN 2.5MG 6CP ORO DISP BGN"}},{"json":{"Code M":"M10258","Désignation":"ZOLMITRIPTAN 2.5 MG 12CP BGN"}},{"json":{"Code M":"M10257","Désignation":"ZOLMITRIPTAN 2.5 MG 6CP BGN"}},{"json":{"Code M":"M01368","Désignation":"ZOLPIDEM 10MG 14CP BGN"}},{"json":{"Code M":"M13569","Désignation":"ZOLPIDEM 10MG 7CP BGN"}},{"json":{"Code M":"M01440","Désignation":"ZOPICLONE 7.5MG 14CP BGN"}},{"json":{"Code M":"M01441","Désignation":"ZOPICLONE 7.5MG 5CP BGN"}}],"Extract from File":[{"json":{"Code M":"M13864","Index Model":"ALFA AMYLASE 200UCEIP 200ML BGC","Designation mapping":"ALFA AMYLASE BIOGARAN CONSEIL 200U.CEIP/ML FL/200ML"}},{"json":{"Code M":"M13870","Index Model":"ALFA AMYLASE 3000UCEIP 18CP BGC","Designation mapping":"ALFA AMYLASE BIOGARAN CONSEIL 3000U.CEIP B/18 COMP ENROBES"}},{"json":{"Code M":"M01237","Index Model":"ALFUZOSINE 10MG 30CP LP BGN","Designation mapping":"ALFUZOSINE BIOG LP 10MG CPR B/30"}},{"json":{"Code M":"M01334","Index Model":"ALPRAZOLAM 0.5MG 30CP BGN","Designation mapping":"ALPRAZOLAM BIOGARAN 0.50MG B/30 COMP SECABLES"}},{"json":{"Code M":"M01127","Index Model":"AMLODIPINE 10MG 90GE BGN","Designation mapping":"AMLODIPINE 10MG B/90 GELULES BIOGARAN"}},{"json":{"Code M":"M01126","Index Model":"AMLODIPINE 5MG 30GE BGN","Designation mapping":"AMLODIPINE 5MG B/30 GELULES BIOGARAN"}},{"json":{"Code M":"M10593","Index Model":"AMLODIPINE/VALSARTAN 10/160MG 30CP BGN","Designation mapping":"AMLODIPINE VALSARTAN BIOG 10MG/160MG CPR B/30"}},{"json":{"Code M":"M10594","Index Model":"AMLODIPINE/VALSARTAN 10/160MG 90CP BGN","Designation mapping":"AMLODIPINE VALSARTAN BIOG 10MG/160MG CPR PEL B/90"}},{"json":{"Code M":"M10597","Index Model":"AMLODIPINE/VALSARTAN 5/160MG 30CP BGN","Designation mapping":"AMLODIPINE VALSARTAN BIOG 5MG/160MG CP PELL B/30"}},{"json":{"Code M":"M10598","Index Model":"AMLODIPINE/VALSARTAN 5/160MG 90CP BGN","Designation mapping":"AMLODIPINE VALSARTAN BIOG 5MG/160MG CP PEL B/90"}},{"json":{"Code M":"M10601","Index Model":"AMLODIPINE/VALSARTAN 5/80MG 30CP BGN","Designation mapping":"AMLODIPINE VALSARTAN BIOG 5MG/80MG CPR PELL B/30"}},{"json":{"Code M":"M01527","Index Model":"AMOXICILLINE 125MG/5ML PPS 60ML BGN","Designation mapping":"AMOXICILLINE BIOGARAN 125MG PDR SUSP 60ML"}},{"json":{"Code M":"M01526","Index Model":"AMOXICILLINE 250MG/5ML PPS 60ML BGN","Designation mapping":"AMOXICILLINE BIOGARAN 250MG PDR SUSP 60ML"}},{"json":{"Code M":"M11258","Index Model":"AMOXICILLINE 1G 14CP DISP BGR","Designation mapping":"AMOXICILLINE BIOGARAN 1GR 14CES DISP"}},{"json":{"Code M":"M11257","Index Model":"AMOXICILLINE 1G 6CP DISP BGR","Designation mapping":"AMOXICILLINE BIOGARAN 1GR 6CES DISP"}},{"json":{"Code M":"M00031","Index Model":"ANASTROZOLE 1MG 30CP BGN","Designation mapping":"ANASTROZOLE BIOGARAN 1MG CPR PELL B/30"}},{"json":{"Code M":"M01408","Index Model":"ATENOLOL 50MG 30CP BGN","Designation mapping":"ATENOLOL 50MG B/30 COMP SECABLES BIOGARAN"}},{"json":{"Code M":"M00484","Index Model":"ATOVAQUONE PROGUANIL 250/100MG 12CP BGN","Designation mapping":"ATOVAQUONE / PROGUANIL BIOGARAN 250MG/100MG B/12 COMP PELL."}},{"json":{"Code M":"M00485","Index Model":"ATOVAQUONE PROGUANIL 62","Designation mapping":"5/25MG 12CP BGN","__EMPTY":"ATOVAQUONE / PROGUANIL BIOGARAN 62.5MG/25MG ENF. B/12 COMP PELL."}},{"json":{"Code M":"M00036","Index Model":"BETAMETHASONE 2MG CP DISP BGN","Designation mapping":"BETAMETHASONE BIOGARAN 2MG B/20 COMP DISP. SEC."}},{"json":{"Code M":"M00038","Index Model":"BICALUTAMIDE 50MG 30CP BGN","Designation mapping":"BICALUTAMIDE 50MG B/30 COMP BIOGARAN"}},{"json":{"Code M":"M12429","Index Model":"BISOPROLOL 1.25MG 30CP REF","Designation mapping":"BISOPROLOL BIOGARAN 1,25MG CP B/30"}},{"json":{"Code M":"M12437","Index Model":"BISOPROLOL 10MG 30CP REF","Designation mapping":"BISOPROLOL BIOGARAN 10MG CPR PELL SEC B/30"}},{"json":{"Code M":"M12431","Index Model":"BISOPROLOL 2.5MG 30CP REF","Designation mapping":"BISOPROLOL BIOGARAN 2.5MG CPR PELL SEC B/30"}},{"json":{"Code M":"M11480","Index Model":"BRIMONIDINE 2MG/ML COLL 5ML BGN","Designation mapping":"BRIMONIDINE BIOGARAN 2MG/ML COLL FL/5ML"}},{"json":{"Code M":"M00592","Index Model":"BRINZOLAMIDE 0","Designation mapping":"01% COLL 5ML BGN","__EMPTY":"BRINZOLAMIDE BIOGARAN 10MG/ML COLLYRE FL/5ML"}},{"json":{"Code M":"M01490","Index Model":"BROMAZEPAM 6MG 30CP BGN","Designation mapping":"BROMAZEPAM 6MG B/30 COMP BIOGARAN"}},{"json":{"Code M":"M10945","Index Model":"CAPECITABINE 150MG 60CP BGN","Designation mapping":"CAPECITABINE 150MG B/60 COMP BIOGARAN"}},{"json":{"Code M":"M10946","Index Model":"CAPECITABINE 500MG 120 CP BGN","Designation mapping":"CAPECITABINE 500MG B/120 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M01121","Index Model":"CEFIXIME 200MG 8CP BGN","Designation mapping":"CEFIXIME BIOG 200MG CPR PELL B/8"}},{"json":{"Code M":"M01374","Index Model":"CEFTRIAXONE 1G/10ML SOL INJ IV BGN","Designation mapping":"CEFTRIAXONE BIOG IV 1G/10ML PDRE SOL INJ B/1"}},{"json":{"Code M":"M01375","Index Model":"CEFTRIAXONE 1G/3.5ML SOL INJ IM BGN","Designation mapping":"CEFTRIAXONE BIOG IM 1GR/3,5ML PDRE PR SOL INJ B/1"}},{"json":{"Code M":"M00593","Index Model":"CELECOXIB 100MG 30GE BGN","Designation mapping":"CELECOXIB 100MG B/30 COMP BIOGARAN"}},{"json":{"Code M":"M00594","Index Model":"CELECOXIB 200MG 30GE BGN","Designation mapping":"CELECOXIB 200MG B/30 GELULES BIOGARAN"}},{"json":{"Code M":"M01389","Index Model":"CELIPROLOL 200MG 28CP BGN","Designation mapping":"CELIPROLOL 200MG B/28 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M01080","Index Model":"CLARITHROMYCINE 250MG 10CP BGN","Designation mapping":"CLARITHROMYCINE BIOG 250MG B/10 COMP"}},{"json":{"Code M":"M01085","Index Model":"CLARITHROMYCINE 500MG 10CP BGN","Designation mapping":"CLARITHROMYCINE BIOGARAN 500MG B/10 COMP PELLICULES"}},{"json":{"Code M":"M00264","Index Model":"DESLORATADINE 5MG 15CP BGN","Designation mapping":"DESLORATADINE BIOG 5MG B/15 COMP PELLICULES"}},{"json":{"Code M":"M11304","Index Model":"DOMPERIDONE 10MG 20CP BGN","Designation mapping":"DOMPERIDONE 10MG B/20 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M11529","Index Model":"DORZOLAMIDE/TIMOLOL 20/5MG COLL BGR","Designation mapping":"DORZOLAMINE / TIMOLOL BIOGARAN 20MG/5MG/ML COLLYRE B/1"}},{"json":{"Code M":"M10040","Index Model":"DOXYLAMINE 15MG 10CP BGC","Designation mapping":"DOXYLAMINE BIOGARAN CONSEIL 15MG B/10 COMP SEC."}},{"json":{"Code M":"M10062","Index Model":"DUTASTERIDE 0","Designation mapping":"5MG 30 CAPS BGN","__EMPTY":"DUTASTERIDE 0.5MG B/30 CAPSULES MOLLES BIOGARAN"}},{"json":{"Code M":"M01417","Index Model":"ENALAPRIL 20MG 28CP BGN","Designation mapping":"ENALAPRIL 20MG B/28 COMP SECABLES BIOGARAN"}},{"json":{"Code M":"M13356","Index Model":"ENOXAPARINE 40MG/0.4ML SOL INJ 2UN BGN","Designation mapping":"ENOXAPARINE BIOGARAN CRUSIA 4000UI 40MG/0.4ML SOL. INJ. SERINGUE B/2"}},{"json":{"Code M":"M13355","Index Model":"ENOXAPARINE 20MG/0.2ML SOL INJ 6UN BGN","Designation mapping":"ENOXAPARINE BIOGARAN CRUSIA 2000UI 20MG/0.2ML SOL. INJ. SERINGUE B/2"}},{"json":{"Code M":"M13359","Index Model":"ENOXAPARINE 60MG/0.6ML SOL INJ 2UN BGN","Designation mapping":"ENOXAPARINE BIOGARAN CRUSIA 6000UI/0.6ML SOL INJ. SERINGUE B/2"}},{"json":{"Code M":"M13361","Index Model":"ENOXAPARINE 80MG/0.8ML SOL INJ 2UN BGN","Designation mapping":"ENOXAPARINE BIOGARAN CRUSIA 8000UI 80MG/0.8ML SOL. INJ. SERINGUE B/2"}},{"json":{"Code M":"M00096","Index Model":"FLECAINIDE 200MG 30GE LP BGN","Designation mapping":"FLECAINIDE BIO LP 200MG B/30 GELU."}},{"json":{"Code M":"M01195","Index Model":"IBUPROFENE 400MG 20CP BGN","Designation mapping":"IBUPROFENE 400MG B/20 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M00123","Index Model":"IBUPROFENE 400MG 10CP BGC","Designation mapping":"IBUPROFENE CONSEIL 400MG B/10 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M10972","Index Model":"IRBESARTAN 150MG 30CP BGR","Designation mapping":"IRBESARTAN 150MG B/30 COMP. PELLICULES BIOGARAN"}},{"json":{"Code M":"M10973","Index Model":"IRBESARTAN 300MG 30CP BGR","Designation mapping":"IRBESARTAN 300MG B/30 COMP. PELLICULES BIOGARAN"}},{"json":{"Code M":"M10971","Index Model":"IRBESARTAN 75MG 30CP BGR","Designation mapping":"IRBESARTAN 75MG B/30 COMP. PELLICULES BIOGARAN"}},{"json":{"Code M":"M00517","Index Model":"IRBESARTAN HCTZ 150MG/12","Designation mapping":"5MG 30CP BGN","__EMPTY":"IRBESARTAN/HCTZ BIOG 150MG/12,5MG CP B/30"}},{"json":{"Code M":"M00519","Index Model":"IRBESARTAN HCTZ 300MG/12","Designation mapping":"5MG 30CP BGN","__EMPTY":"IRBESARTAN/HCTZ BIOG 300MG/12,5MG CP B/30"}},{"json":{"Code M":"M00521","Index Model":"IRBESARTAN HCTZ 300MG/25MG 30CP BGN","Designation mapping":"IRBESARTAN/HCTZ BGR 300MG/25MG COMP PELLICULES B/30"}},{"json":{"Code M":"M00568","Index Model":"KETOPROFENE 100MG 20CP LP BGN","Designation mapping":"KETOPROFEN LP 100MG B/20 COMP BIOGARAN"}},{"json":{"Code M":"M10165","Index Model":"LATA/TIMOLOL 50µg/5MG 2.5ML 3COLL BGN","Designation mapping":"LATANOPROST/TIMOLOL 50UG/5MG COLLYRE B/1 BIOGARAN"}},{"json":{"Code M":"M00135","Index Model":"LETROZOLE 2.5MG 30CP BGN","Designation mapping":"LETROZOLE 2.5MG B/30 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M00290","Index Model":"LEVETIRACETAM 1000MG 60CP BGN","Designation mapping":"LEVETIRACETAM 1000MG B/60 COMP PELLICULES SECABLES BIOGARAN"}},{"json":{"Code M":"M00288","Index Model":"LEVETIRACETAM 250MG 60CP BGN","Designation mapping":"LEVETIRACETAM 250MG B/60 COMP PELLICULES SECABLES BIOGARAN"}},{"json":{"Code M":"M00289","Index Model":"LEVETIRACETAM 500MG 60CP BGN","Designation mapping":"LEVETIRACETAM 500MG B/60 COMP. PELLICULES SACABLES BIOGARAN"}},{"json":{"Code M":"M02521","Index Model":"METFORMINE 1000MG 30CP BGN","Designation mapping":"METFORMINE 1000MG B/30 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M10105","Index Model":"METFORMINE 500MG 30CP BGR","Designation mapping":"METFORMINE 500MG B/30 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M02519","Index Model":"METFORMINE 850MG 30CP BGR","Designation mapping":"METFORMINE 850MG B/30 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M00155","Index Model":"NEBIVOLOL 5MG 30CP BGN","Designation mapping":"NEBIVOLOL 5MG B/30 COMP SECABLES"}},{"json":{"Code M":"M12324","Index Model":"OMEPRAZOLE 20MG 14GE GR BGN","Designation mapping":"OMEPRAZOLE 20MG B/14 GELULES GASTRO-RESISTANTES BIOGARAN"}},{"json":{"Code M":"M01462","Index Model":"PIRACETAM 800MG 45CP BGN","Designation mapping":"PIRACETAM BIOGARAN 800MG B/45 COMP SEC."}},{"json":{"Code M":"M00572","Index Model":"PROPRANOLOL 40MG 50CP BGN","Designation mapping":"PROPRANOLOL BIOGARAN 40MG B/50 COMP. SECABLES"}},{"json":{"Code M":"M10939","Index Model":"RACECADOTRIL 100MG 20GE BGR","Designation mapping":"RACECADOTRIL 100MG B/20 GELULES BIOGARAN"}},{"json":{"Code M":"M01107","Index Model":"RISPERIDONE 1MG 60CP BGN","Designation mapping":"RISPERIDONE 1MG B/60 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M01106","Index Model":"RISPERIDONE 2MG 60CP BGN","Designation mapping":"RISPERIDONE 2MG B/60 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M00431","Index Model":"SILDENAFIL 100MG 8CP BGN","Designation mapping":"SILDENAFIL 100MG B/8 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M01466","Index Model":"SPIRONOLACTONE 50MG 30CP BGN","Designation mapping":"SPIRONOLACTONE BIOGARAN 50MG B/30 COMP SEC."}},{"json":{"Code M":"M10177","Index Model":"TADALAFIL 10 MG 4 CP BGN","Designation mapping":"TADALAFIL BIOGARAN 10MG B/4 COMP. PELLICULES"}},{"json":{"Code M":"M10178","Index Model":"TADALAFIL 20 MG 4 CP BGN","Designation mapping":"TADALAFIL BIOGARAN 20MG B/4 COMP. PELLICULES"}},{"json":{"Code M":"M00314","Index Model":"ZOLMITRIPTAN 2.5MG 12CP ORO DISP BGN","Designation mapping":"ZOLMITRIPTAN BIOGARAN 2.5MG B/12 COMP ORODISPERSIBLE"}},{"json":{"Code M":"M00313","Index Model":"ZOLMITRIPTAN 2.5MG 6CP ORO DISP BGN","Designation mapping":"ZOLMITRIPTAN BIOGARAN 2.5MG B/6 COMP ORODISPERSIBLE"}}],"Designation to map":[{"json":{"Code M":"M13864","Index Model":"ALFA AMYLASE 200UCEIP 200ML BGC","Designation mapping":"ALFA AMYLASE BIOGARAN CONSEIL 200U.CEIP/ML FL/200ML"}},{"json":{"Code M":"M13870","Index Model":"ALFA AMYLASE 3000UCEIP 18CP BGC","Designation mapping":"ALFA AMYLASE BIOGARAN CONSEIL 3000U.CEIP B/18 COMP ENROBES"}},{"json":{"Code M":"M01237","Index Model":"ALFUZOSINE 10MG 30CP LP BGN","Designation mapping":"ALFUZOSINE BIOG LP 10MG CPR B/30"}},{"json":{"Code M":"M01334","Index Model":"ALPRAZOLAM 0.5MG 30CP BGN","Designation mapping":"ALPRAZOLAM BIOGARAN 0.50MG B/30 COMP SECABLES"}},{"json":{"Code M":"M01127","Index Model":"AMLODIPINE 10MG 90GE BGN","Designation mapping":"AMLODIPINE 10MG B/90 GELULES BIOGARAN"}},{"json":{"Code M":"M01126","Index Model":"AMLODIPINE 5MG 30GE BGN","Designation mapping":"AMLODIPINE 5MG B/30 GELULES BIOGARAN"}},{"json":{"Code M":"M10593","Index Model":"AMLODIPINE/VALSARTAN 10/160MG 30CP BGN","Designation mapping":"AMLODIPINE VALSARTAN BIOG 10MG/160MG CPR B/30"}},{"json":{"Code M":"M10594","Index Model":"AMLODIPINE/VALSARTAN 10/160MG 90CP BGN","Designation mapping":"AMLODIPINE VALSARTAN BIOG 10MG/160MG CPR PEL B/90"}},{"json":{"Code M":"M10597","Index Model":"AMLODIPINE/VALSARTAN 5/160MG 30CP BGN","Designation mapping":"AMLODIPINE VALSARTAN BIOG 5MG/160MG CP PELL B/30"}},{"json":{"Code M":"M10598","Index Model":"AMLODIPINE/VALSARTAN 5/160MG 90CP BGN","Designation mapping":"AMLODIPINE VALSARTAN BIOG 5MG/160MG CP PEL B/90"}},{"json":{"Code M":"M10601","Index Model":"AMLODIPINE/VALSARTAN 5/80MG 30CP BGN","Designation mapping":"AMLODIPINE VALSARTAN BIOG 5MG/80MG CPR PELL B/30"}},{"json":{"Code M":"M01527","Index Model":"AMOXICILLINE 125MG/5ML PPS 60ML BGN","Designation mapping":"AMOXICILLINE BIOGARAN 125MG PDR SUSP 60ML"}},{"json":{"Code M":"M01526","Index Model":"AMOXICILLINE 250MG/5ML PPS 60ML BGN","Designation mapping":"AMOXICILLINE BIOGARAN 250MG PDR SUSP 60ML"}},{"json":{"Code M":"M11258","Index Model":"AMOXICILLINE 1G 14CP DISP BGR","Designation mapping":"AMOXICILLINE BIOGARAN 1GR 14CES DISP"}},{"json":{"Code M":"M11257","Index Model":"AMOXICILLINE 1G 6CP DISP BGR","Designation mapping":"AMOXICILLINE BIOGARAN 1GR 6CES DISP"}},{"json":{"Code M":"M00031","Index Model":"ANASTROZOLE 1MG 30CP BGN","Designation mapping":"ANASTROZOLE BIOGARAN 1MG CPR PELL B/30"}},{"json":{"Code M":"M01408","Index Model":"ATENOLOL 50MG 30CP BGN","Designation mapping":"ATENOLOL 50MG B/30 COMP SECABLES BIOGARAN"}},{"json":{"Code M":"M00484","Index Model":"ATOVAQUONE PROGUANIL 250/100MG 12CP BGN","Designation mapping":"ATOVAQUONE / PROGUANIL BIOGARAN 250MG/100MG B/12 COMP PELL."}},{"json":{"Code M":"M00485","Index Model":"ATOVAQUONE PROGUANIL 62","Designation mapping":"5/25MG 12CP BGN","__EMPTY":"ATOVAQUONE / PROGUANIL BIOGARAN 62.5MG/25MG ENF. B/12 COMP PELL."}},{"json":{"Code M":"M00036","Index Model":"BETAMETHASONE 2MG CP DISP BGN","Designation mapping":"BETAMETHASONE BIOGARAN 2MG B/20 COMP DISP. SEC."}},{"json":{"Code M":"M00038","Index Model":"BICALUTAMIDE 50MG 30CP BGN","Designation mapping":"BICALUTAMIDE 50MG B/30 COMP BIOGARAN"}},{"json":{"Code M":"M12429","Index Model":"BISOPROLOL 1.25MG 30CP REF","Designation mapping":"BISOPROLOL BIOGARAN 1,25MG CP B/30"}},{"json":{"Code M":"M12437","Index Model":"BISOPROLOL 10MG 30CP REF","Designation mapping":"BISOPROLOL BIOGARAN 10MG CPR PELL SEC B/30"}},{"json":{"Code M":"M12431","Index Model":"BISOPROLOL 2.5MG 30CP REF","Designation mapping":"BISOPROLOL BIOGARAN 2.5MG CPR PELL SEC B/30"}},{"json":{"Code M":"M11480","Index Model":"BRIMONIDINE 2MG/ML COLL 5ML BGN","Designation mapping":"BRIMONIDINE BIOGARAN 2MG/ML COLL FL/5ML"}},{"json":{"Code M":"M00592","Index Model":"BRINZOLAMIDE 0","Designation mapping":"01% COLL 5ML BGN","__EMPTY":"BRINZOLAMIDE BIOGARAN 10MG/ML COLLYRE FL/5ML"}},{"json":{"Code M":"M01490","Index Model":"BROMAZEPAM 6MG 30CP BGN","Designation mapping":"BROMAZEPAM 6MG B/30 COMP BIOGARAN"}},{"json":{"Code M":"M10945","Index Model":"CAPECITABINE 150MG 60CP BGN","Designation mapping":"CAPECITABINE 150MG B/60 COMP BIOGARAN"}},{"json":{"Code M":"M10946","Index Model":"CAPECITABINE 500MG 120 CP BGN","Designation mapping":"CAPECITABINE 500MG B/120 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M01121","Index Model":"CEFIXIME 200MG 8CP BGN","Designation mapping":"CEFIXIME BIOG 200MG CPR PELL B/8"}},{"json":{"Code M":"M01374","Index Model":"CEFTRIAXONE 1G/10ML SOL INJ IV BGN","Designation mapping":"CEFTRIAXONE BIOG IV 1G/10ML PDRE SOL INJ B/1"}},{"json":{"Code M":"M01375","Index Model":"CEFTRIAXONE 1G/3.5ML SOL INJ IM BGN","Designation mapping":"CEFTRIAXONE BIOG IM 1GR/3,5ML PDRE PR SOL INJ B/1"}},{"json":{"Code M":"M00593","Index Model":"CELECOXIB 100MG 30GE BGN","Designation mapping":"CELECOXIB 100MG B/30 COMP BIOGARAN"}},{"json":{"Code M":"M00594","Index Model":"CELECOXIB 200MG 30GE BGN","Designation mapping":"CELECOXIB 200MG B/30 GELULES BIOGARAN"}},{"json":{"Code M":"M01389","Index Model":"CELIPROLOL 200MG 28CP BGN","Designation mapping":"CELIPROLOL 200MG B/28 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M01080","Index Model":"CLARITHROMYCINE 250MG 10CP BGN","Designation mapping":"CLARITHROMYCINE BIOG 250MG B/10 COMP"}},{"json":{"Code M":"M01085","Index Model":"CLARITHROMYCINE 500MG 10CP BGN","Designation mapping":"CLARITHROMYCINE BIOGARAN 500MG B/10 COMP PELLICULES"}},{"json":{"Code M":"M00264","Index Model":"DESLORATADINE 5MG 15CP BGN","Designation mapping":"DESLORATADINE BIOG 5MG B/15 COMP PELLICULES"}},{"json":{"Code M":"M11304","Index Model":"DOMPERIDONE 10MG 20CP BGN","Designation mapping":"DOMPERIDONE 10MG B/20 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M11529","Index Model":"DORZOLAMIDE/TIMOLOL 20/5MG COLL BGR","Designation mapping":"DORZOLAMINE / TIMOLOL BIOGARAN 20MG/5MG/ML COLLYRE B/1"}},{"json":{"Code M":"M10040","Index Model":"DOXYLAMINE 15MG 10CP BGC","Designation mapping":"DOXYLAMINE BIOGARAN CONSEIL 15MG B/10 COMP SEC."}},{"json":{"Code M":"M10062","Index Model":"DUTASTERIDE 0","Designation mapping":"5MG 30 CAPS BGN","__EMPTY":"DUTASTERIDE 0.5MG B/30 CAPSULES MOLLES BIOGARAN"}},{"json":{"Code M":"M01417","Index Model":"ENALAPRIL 20MG 28CP BGN","Designation mapping":"ENALAPRIL 20MG B/28 COMP SECABLES BIOGARAN"}},{"json":{"Code M":"M13356","Index Model":"ENOXAPARINE 40MG/0.4ML SOL INJ 2UN BGN","Designation mapping":"ENOXAPARINE BIOGARAN CRUSIA 4000UI 40MG/0.4ML SOL. INJ. SERINGUE B/2"}},{"json":{"Code M":"M13355","Index Model":"ENOXAPARINE 20MG/0.2ML SOL INJ 6UN BGN","Designation mapping":"ENOXAPARINE BIOGARAN CRUSIA 2000UI 20MG/0.2ML SOL. INJ. SERINGUE B/2"}},{"json":{"Code M":"M13359","Index Model":"ENOXAPARINE 60MG/0.6ML SOL INJ 2UN BGN","Designation mapping":"ENOXAPARINE BIOGARAN CRUSIA 6000UI/0.6ML SOL INJ. SERINGUE B/2"}},{"json":{"Code M":"M13361","Index Model":"ENOXAPARINE 80MG/0.8ML SOL INJ 2UN BGN","Designation mapping":"ENOXAPARINE BIOGARAN CRUSIA 8000UI 80MG/0.8ML SOL. INJ. SERINGUE B/2"}},{"json":{"Code M":"M00096","Index Model":"FLECAINIDE 200MG 30GE LP BGN","Designation mapping":"FLECAINIDE BIO LP 200MG B/30 GELU."}},{"json":{"Code M":"M01195","Index Model":"IBUPROFENE 400MG 20CP BGN","Designation mapping":"IBUPROFENE 400MG B/20 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M00123","Index Model":"IBUPROFENE 400MG 10CP BGC","Designation mapping":"IBUPROFENE CONSEIL 400MG B/10 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M10972","Index Model":"IRBESARTAN 150MG 30CP BGR","Designation mapping":"IRBESARTAN 150MG B/30 COMP. PELLICULES BIOGARAN"}},{"json":{"Code M":"M10973","Index Model":"IRBESARTAN 300MG 30CP BGR","Designation mapping":"IRBESARTAN 300MG B/30 COMP. PELLICULES BIOGARAN"}},{"json":{"Code M":"M10971","Index Model":"IRBESARTAN 75MG 30CP BGR","Designation mapping":"IRBESARTAN 75MG B/30 COMP. PELLICULES BIOGARAN"}},{"json":{"Code M":"M00517","Index Model":"IRBESARTAN HCTZ 150MG/12","Designation mapping":"5MG 30CP BGN","__EMPTY":"IRBESARTAN/HCTZ BIOG 150MG/12,5MG CP B/30"}},{"json":{"Code M":"M00519","Index Model":"IRBESARTAN HCTZ 300MG/12","Designation mapping":"5MG 30CP BGN","__EMPTY":"IRBESARTAN/HCTZ BIOG 300MG/12,5MG CP B/30"}},{"json":{"Code M":"M00521","Index Model":"IRBESARTAN HCTZ 300MG/25MG 30CP BGN","Designation mapping":"IRBESARTAN/HCTZ BGR 300MG/25MG COMP PELLICULES B/30"}},{"json":{"Code M":"M00568","Index Model":"KETOPROFENE 100MG 20CP LP BGN","Designation mapping":"KETOPROFEN LP 100MG B/20 COMP BIOGARAN"}},{"json":{"Code M":"M10165","Index Model":"LATA/TIMOLOL 50µg/5MG 2.5ML 3COLL BGN","Designation mapping":"LATANOPROST/TIMOLOL 50UG/5MG COLLYRE B/1 BIOGARAN"}},{"json":{"Code M":"M00135","Index Model":"LETROZOLE 2.5MG 30CP BGN","Designation mapping":"LETROZOLE 2.5MG B/30 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M00290","Index Model":"LEVETIRACETAM 1000MG 60CP BGN","Designation mapping":"LEVETIRACETAM 1000MG B/60 COMP PELLICULES SECABLES BIOGARAN"}},{"json":{"Code M":"M00288","Index Model":"LEVETIRACETAM 250MG 60CP BGN","Designation mapping":"LEVETIRACETAM 250MG B/60 COMP PELLICULES SECABLES BIOGARAN"}},{"json":{"Code M":"M00289","Index Model":"LEVETIRACETAM 500MG 60CP BGN","Designation mapping":"LEVETIRACETAM 500MG B/60 COMP. PELLICULES SACABLES BIOGARAN"}},{"json":{"Code M":"M02521","Index Model":"METFORMINE 1000MG 30CP BGN","Designation mapping":"METFORMINE 1000MG B/30 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M10105","Index Model":"METFORMINE 500MG 30CP BGR","Designation mapping":"METFORMINE 500MG B/30 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M02519","Index Model":"METFORMINE 850MG 30CP BGR","Designation mapping":"METFORMINE 850MG B/30 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M00155","Index Model":"NEBIVOLOL 5MG 30CP BGN","Designation mapping":"NEBIVOLOL 5MG B/30 COMP SECABLES"}},{"json":{"Code M":"M12324","Index Model":"OMEPRAZOLE 20MG 14GE GR BGN","Designation mapping":"OMEPRAZOLE 20MG B/14 GELULES GASTRO-RESISTANTES BIOGARAN"}},{"json":{"Code M":"M01462","Index Model":"PIRACETAM 800MG 45CP BGN","Designation mapping":"PIRACETAM BIOGARAN 800MG B/45 COMP SEC."}},{"json":{"Code M":"M00572","Index Model":"PROPRANOLOL 40MG 50CP BGN","Designation mapping":"PROPRANOLOL BIOGARAN 40MG B/50 COMP. SECABLES"}},{"json":{"Code M":"M10939","Index Model":"RACECADOTRIL 100MG 20GE BGR","Designation mapping":"RACECADOTRIL 100MG B/20 GELULES BIOGARAN"}},{"json":{"Code M":"M01107","Index Model":"RISPERIDONE 1MG 60CP BGN","Designation mapping":"RISPERIDONE 1MG B/60 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M01106","Index Model":"RISPERIDONE 2MG 60CP BGN","Designation mapping":"RISPERIDONE 2MG B/60 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M00431","Index Model":"SILDENAFIL 100MG 8CP BGN","Designation mapping":"SILDENAFIL 100MG B/8 COMP PELLICULES BIOGARAN"}},{"json":{"Code M":"M01466","Index Model":"SPIRONOLACTONE 50MG 30CP BGN","Designation mapping":"SPIRONOLACTONE BIOGARAN 50MG B/30 COMP SEC."}},{"json":{"Code M":"M10177","Index Model":"TADALAFIL 10 MG 4 CP BGN","Designation mapping":"TADALAFIL BIOGARAN 10MG B/4 COMP. PELLICULES"}},{"json":{"Code M":"M10178","Index Model":"TADALAFIL 20 MG 4 CP BGN","Designation mapping":"TADALAFIL BIOGARAN 20MG B/4 COMP. PELLICULES"}},{"json":{"Code M":"M00314","Index Model":"ZOLMITRIPTAN 2.5MG 12CP ORO DISP BGN","Designation mapping":"ZOLMITRIPTAN BIOGARAN 2.5MG B/12 COMP ORODISPERSIBLE"}},{"json":{"Code M":"M00313","Index Model":"ZOLMITRIPTAN 2.5MG 6CP ORO DISP BGN","Designation mapping":"ZOLMITRIPTAN BIOGARAN 2.5MG B/6 COMP ORODISPERSIBLE"}}]},"versionId":"5c1b8c8a-ed92-4476-acb0-118cb512ea59","triggerCount":0,"shared":[{"createdAt":"2025-08-14T07:14:56.067Z","updatedAt":"2025-08-14T07:14:56.067Z","role":"workflow:owner","workflowId":"4IYh9X08aJbjcKfy","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}