backups/workflow-robot-1-22-10-2025.json
{"createdAt":"2025-09-16T07:24:39.046Z","updatedAt":"2025-10-22T12:30:42.686Z","id":"jFPZvs2fz6bUOi89","name":"robot-1","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-240,208],"id":"0f0c55f7-eba3-415d-ad7b-819b8642c26a","name":"When clicking ‘Execute workflow’"},{"parameters":{"mode":"raw","jsonOutput":"{\n  \"token\": \"\"\n\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-32,208],"id":"8fe7dfa4-b219-471d-97c8-8bbcc2d8a7ba","name":"set token","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"7a39c4ab-8b1a-48eb-b003-a453aa19b378","name":"ClientAccountKey","value":"={{ $json.Data[0].AccountKey }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[416,208],"id":"0c5f2457-34d3-4191-a515-c3de196c62da","name":"GetClientAccountKey"},{"parameters":{"url":"https://gateway.saxobank.com/sim/openapi/port/v1/accounts","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$json.token }}"},{"name":"Accept","value":"application/json"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[176,208],"id":"e665aa8c-96d3-49db-8520-8103edcfe1de","name":"LoginToSaxoTrading","notesInFlow":true},{"parameters":{"mode":"raw","jsonOutput":"={\n  \"orderId\": \"{{ $json.OrderId }}\",\n  \"status\": \"order_placed\",\n  \"timestamp\": \"{{$now.format('dd-MM-yyyy THH:mm:ss.SSSZ')}}\"\n}\n","options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[816,432],"id":"3cc6e10a-2474-4e50-8d4d-fc0b89792937","name":"RecordStockOrder"},{"parameters":{"method":"POST","url":"https://gateway.saxobank.com/sim/openapi/trade/v2/orders","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$('set token').item.json.token }}"},{"name":"Accept","value":"application/json"},{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"Uic\": 16,\n  \"BuySell\": \"Buy\",\n  \"AssetType\": \"FxSpot\",\n  \"Amount\": 100000,\n  \"OrderPrice\": 7,\n  \"OrderType\": \"Limit\",\n  \"OrderRelation\": \"StandAlone\",\n  \"ManualOrder\": true,\n  \"OrderDuration\": {\n    \"DurationType\": \"GoodTillCancel\"\n  },\n  \"AccountKey\": \"{{$json.ClientAccountKey}}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,432],"id":"7a19fe09-557f-4dda-a2f9-581ab23bdbc0","name":"Passage d'ordre FX Spot","notesInFlow":true},{"parameters":{"url":"https://gateway.saxobank.com/sim/openapi/ref/v1/instruments?KeyWords=DKK&AssetTypes=FxSpot","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Accept","value":"application/json"},{"name":"Authorization","value":"=Bearer  {{ $('set token').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[608,-32],"id":"184bbd3b-15bc-4230-b9e2-15f4eb9a26b7","name":"Recherche d'instruments FX Spot","notesInFlow":true},{"parameters":{"url":"https://gateway.saxobank.com/sim/openapi/port/v1/orders/me","sendQuery":true,"queryParameters":{"parameters":[{"name":"FieldGroups","value":"DisplayAndFormat"},{"name":"AccountKey"}]},"sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer {{$('set token').item.json.token }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1024,432],"id":"dc1b96b9-6ede-4659-85c1-a759cf221115","name":"HTTP Request"}],"connections":{"When clicking ‘Execute workflow’":{"main":[[{"node":"set token","type":"main","index":0}]]},"set token":{"main":[[{"node":"LoginToSaxoTrading","type":"main","index":0}]]},"GetClientAccountKey":{"main":[[{"node":"Passage d'ordre FX Spot","type":"main","index":0}]]},"LoginToSaxoTrading":{"main":[[{"node":"Recherche d'instruments FX Spot","type":"main","index":0},{"node":"GetClientAccountKey","type":"main","index":0}]]},"Passage d'ordre FX Spot":{"main":[[{"node":"RecordStockOrder","type":"main","index":0}]]},"Recherche d'instruments FX Spot":{"main":[[]]},"RecordStockOrder":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"12af350c-5c07-4401-84b1-ea4a42d01d4d","triggerCount":0,"shared":[{"createdAt":"2025-09-16T07:24:39.046Z","updatedAt":"2025-09-16T07:24:39.046Z","role":"workflow:owner","workflowId":"jFPZvs2fz6bUOi89","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}