backups/workflow-poc-tedispharma-22-10-2025.json
{"createdAt":"2025-07-24T06:42:46.145Z","updatedAt":"2025-07-24T12:42:44.720Z","id":"MKoY0b4yf4yXFTZR","name":"poc-tedispharma","active":false,"isArchived":false,"nodes":[{"parameters":{"fileSelector":"={{ $('Initialisation Variables Scrapping').item.json.downloadDir }}/STAT_LABO_PAYS.csv","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[-3712,112],"id":"2c37b588-1391-4584-8805-9cb81f8a05b2","name":"Lecture du fichier csv","notesInFlow":true},{"parameters":{"content":"#### 🔍 Extract XLSX\n\nRécupération des données via un document XSLX\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3184,-64],"id":"4191d907-e20d-4c92-8ae8-20320a0a5ebd","name":"Sticky Note3"},{"parameters":{"content":"#### 🧾 Transfert FTP \nEnvoi du fichier csv via un serveur distant via protocole FTP\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3456,-64],"id":"c9f5109f-d565-4336-815e-86abdf32f1b4","name":"Sticky Note5"},{"parameters":{"content":"#### 📡 AI Agent via OpenRouter  \nFiltrage des produits avec stock > 0, et simplification des champs via LLM.\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2384,-64],"id":"83e1b36c-071f-4762-80ea-9bb9e1c8170c","name":"Sticky Note8"},{"parameters":{"content":"#### 🪲Limit DEBUG\nLimite la sortie pour un meilleur débugage","width":250},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2672,-64],"id":"085ab5e2-793b-47a5-9f7e-d2b6201bf883","name":"Sticky Note6"},{"parameters":{"content":"## Prompt User\nDeterminé le model sur lequel L'IA doit travailler:\nex :\nRéférence du produit : {{ $json['Référence'] }}\nDescription du produit : {{ $json['Désignation'] }}\nStock du produit : {{ $json['Stock au 12/07/2025'] }}","height":260,"color":5},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2384,-592],"id":"d2d16e62-d9fb-4736-8cdb-6c2c9af816d8","name":"Sticky Note7"},{"parameters":{"content":"## System Message\nInstruction transmise à L'IA\nex:\nVoici une liste produit représentant des références en stock Biogaran.Traite cette liste selon ces critères. Retourne uniquement des références avec des stock supérieur à  0","height":220,"color":4},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2384,-320],"id":"cf986c34-9b28-4c7c-bf1e-e6881f566a88","name":"Sticky Note9"},{"parameters":{"protocol":"sftp","operation":"upload","path":"/GED/BIOGARAN/STAT_LABO_PAYS.csv"},"type":"n8n-nodes-base.ftp","typeVersion":1,"position":[-3456,112],"id":"e56b07f3-a572-4e32-b7ed-ff5d39e26a6f","name":"Transfert FTP","notesInFlow":true,"disabled":true},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[-3184,112],"id":"a6353dcf-9d6e-424a-bf0d-7ea556193d89","name":"Extract XLSX","notesInFlow":true},{"parameters":{"maxItems":13},"type":"n8n-nodes-base.limit","typeVersion":1,"position":[-2672,112],"id":"60b686e0-2254-4d9e-8868-aafc5a989e90","name":"Limit DEBUG"},{"parameters":{"assignments":{"assignments":[{"id":"f7e7fd9b-882a-4097-9492-b7bb0c483884","name":"Reference","value":"={{ $json.__EMPTY }}","type":"string"},{"id":"15e3a5a0-a78c-494d-8991-5519410a51b8","name":"Designation","value":"={{ $json.__EMPTY }}","type":"string"},{"id":"70a929c0-7df6-40b9-a956-ce4ed976473e","name":"Stock","value":"={{ $json.__EMPTY_3 }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-2928,112],"id":"81540ebf-c3c4-40dd-a111-267fd6e0cfa0","name":"Structuration data","notesInFlow":true},{"parameters":{"content":"#### 🧱 Structuration data\nAssignation des champs par colonnes"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2928,-64],"id":"68de10f0-c1f6-4c2c-92e0-9a9442d26a8e","name":"Sticky Note10"},{"parameters":{"model":"openai/gpt-4o","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-2384,304],"id":"a551c7ea-82b0-47f4-9dd6-eb54ba3a331e","name":"OpenRouter Chat Model","notesInFlow":true,"credentials":{"openRouterApi":{"id":"canp4h4lJPpN5tuC","name":"OpenRouter account"}}},{"parameters":{"promptType":"define","text":"={{ $input.all()}}","options":{"systemMessage":"Voici un tableau de données issu d’un fichier CSV.\nPour chaque ligne :\nGarde uniquement les colonnes suivantes :\nRéférence → à renommer en \"Ref produit\"\nDésignation → à renommer en \"Description produit\"\nStock au → à renommer en \"Stock produit\"\nSupprime les lignes dont le Stock produit est inférieur ou égal à 0.\nRenvoie uniquement le tableau final filtré.\nSi certaines colonnes ne sont pas présentes dans le fichier, ignore-les.Traite chaque ligne indépendamment, renvoie uniquement un tableau JSON propre, sans texte explicatif."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.8,"position":[-2384,112],"id":"c59c097b-241b-4219-ac60-d11d3164ed9c","name":"Agent Fichier controlleur","notesInFlow":true},{"parameters":{"method":"POST","url":"http://robotframework:5000/run","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"executionId\": \"{{$('Initialisation Variables Scrapping').item.json.executionId}}\",\n  \"robotScriptFileName\": \"{{$('Initialisation Variables Scrapping').item.json.robotScriptFileName}}\",\n  \"login\": \"{{$('Initialisation Variables Scrapping').item.json.login}}\",\n  \"password\": \"{{$('Initialisation Variables Scrapping').item.json.password}}\",\n  \"extranetUrl\": \"{{$('Initialisation Variables Scrapping').item.json.extranetUrl}}\",\n  \"downloadDir\": \"{{$('Initialisation Variables Scrapping').item.json.downloadDir}}\"\n}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3968,112],"id":"7260e8d9-58b8-4325-92c6-a2d9c12eec10","name":"API RobotFramework","notesInFlow":true},{"parameters":{"content":"#### 🛜 API RobotFramework\nAppel du web service robotframework","color":4},"type":"n8n-nodes-base.stickyNote","position":[-3968,-64],"typeVersion":1,"id":"249f76fe-06eb-45de-9733-5dbedeb5f609","name":"Sticky Note1"},{"parameters":{"content":"#### 📂 Lecture du fichier csv \n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-3712,-64],"id":"dbea1eaa-0044-4b7c-807b-14ff35f60d22","name":"Sticky Note4"},{"parameters":{"assignments":{"assignments":[{"id":"6469c2a2-afb1-455d-bb47-f6f594bea568","name":"executionId","value":"={{ $execution.id }}","type":"number"},{"id":"6103dc9f-477c-437e-aa6d-55c4c0a3b8b9","name":"robotScriptFileName","value":"tedispharma.robot","type":"string"},{"id":"419cf32d-a3d0-4a65-8059-effc4e53bfe4","name":"login","value":"Biogaran","type":"string"},{"id":"05543d17-246e-4182-9287-548eb06c114a","name":"password","value":"biogaran","type":"string"},{"id":"915e3d2a-1a73-41ff-9608-1105b859e651","name":"extranetUrl","value":"https://www.tedispharma-ci.com/","type":"string"},{"id":"9187da22-f6f4-45f4-b087-23f06302f272","name":"downloadDir","value":"=/opt/robotframework/output/downloads/{{ $execution.id }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-4224,112],"id":"aef0c4b7-9418-4cdc-bec2-57c7f64dbe29","name":"Initialisation Variables Scrapping","notesInFlow":true},{"parameters":{"content":"#### 🏁 Initialisation Variables Scrapping\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-4224,-64],"id":"7701b436-1635-4491-b499-0ba79b261342","name":"Sticky Note14"},{"parameters":{"content":"#### 📥 Point d'entrée HTTP externe  \nDéclenche le flux via un appel `POST`.  \nPermet d’initialiser l’automatisation avec ou sans payload.\n"},"type":"n8n-nodes-base.stickyNote","position":[-4592,-80],"typeVersion":1,"id":"aef80144-f54f-4283-bffc-a92c50f44580","name":"Sticky Note"},{"parameters":{"path":"6dc8304f-eefe-48ed-a201-931ba80d9421","responseMode":"responseNode","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-4448,112],"id":"dc1c5a01-6a0f-4c5b-86f2-4cfc6beb8c2d","name":"Point d'entrée HTTP externe","webhookId":"6dc8304f-eefe-48ed-a201-931ba80d9421"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-4448,320],"id":"eeb229bf-e4a4-4d97-9f3f-5aafac7f482a","name":"Start Manuel"},{"parameters":{"inputSource":"passthrough"},"type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1.1,"position":[-4448,-256],"id":"a57625ed-b88a-44c1-92bc-1f1a098f8c47","name":"Start Sous-Workflow"},{"parameters":{"content":"#### 📥 Point d'entrée via workflow maitre\nDéclenche le flux via un workflow principal\n","color":3},"type":"n8n-nodes-base.stickyNote","position":[-4592,-432],"typeVersion":1,"id":"25ebd80f-a893-4ad0-840f-0c7e1f898932","name":"Sticky Note15"},{"parameters":{"respondWith":"json","responseBody":"={{ $('Format en xlsx') }}","options":{}},"type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1488,112],"id":"121dc482-92c0-453e-93ce-e0220daf0a26","name":"Respond to Webhook"},{"parameters":{"content":"#### 📤 Payload finale à l'appel HTTP  \nRetourne un JSON propre, structuré et filtré au client déclencheur.\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1488,-64],"id":"594463ec-872c-44ce-9317-10fa00ee9185","name":"Sticky Note12"},{"parameters":{"jsCode":"// On part du principe que toutes les données entrantes ont la même structure.\n// Nous allons donc traiter uniquement le premier élément pour extraire la liste.\nconst firstItem = items[0];\n\n// 1. Récupérer la chaîne de caractères brute depuis le champ \"output\".\nconst rawString = firstItem.json.output;\n\n// 2. Nettoyer la chaîne pour obtenir un JSON valide.\n// On supprime les balises de bloc de code ```json et ```.\n// Le .trim() enlève les espaces ou sauts de ligne superflus au début ou à la fin.\nconst jsonString = rawString.replace('```json', '').replace('```', '').trim();\n\n// 3. \"Parser\" la chaîne de caractères pour la transformer en objet JSON.\nconst jsonData = JSON.parse(jsonString);\n\n// 4. Retourner le résultat.\n// n8n va automatiquement prendre ce tableau et créer un élément de sortie\n// pour chaque produit, ce qui les rendra utilisables individuellement dans les nœuds suivants.\nreturn jsonData;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-2000,112],"id":"d8e63734-0109-4ae4-a04f-f9d24e3c70bd","name":"Parse en json"},{"parameters":{"content":"#### 🧾 Parse en json\nParse la sortie serialisé de l'agent.(ex : ```json\\n[\\n    {\\n        \"Ref produit\": \"ATOV001\",\\n)"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-2000,-64],"id":"412047d0-d241-463e-b2f7-2567d63c9e24","name":"Sticky Note11"},{"parameters":{"content":"#### 🧾 Format en xlsx\n\n"},"type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1744,-64],"id":"9d0a823e-f1cc-426c-a74e-9ae72694cf83","name":"Sticky Note13"},{"parameters":{"operation":"xlsx","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-1744,112],"id":"04c225a4-7ac8-4d86-8cef-bf1cbfa0bab3","name":"Format en xlsx","notesInFlow":true}],"connections":{"Lecture du fichier csv":{"main":[[{"node":"Transfert FTP","type":"main","index":0}]]},"Transfert FTP":{"main":[[{"node":"Extract XLSX","type":"main","index":0}]]},"Extract XLSX":{"main":[[{"node":"Structuration data","type":"main","index":0}]]},"Limit DEBUG":{"main":[[{"node":"Agent Fichier controlleur","type":"main","index":0}]]},"Structuration data":{"main":[[{"node":"Limit DEBUG","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Agent Fichier controlleur","type":"ai_languageModel","index":0}]]},"Agent Fichier controlleur":{"main":[[{"node":"Parse en json","type":"main","index":0}]]},"API RobotFramework":{"main":[[{"node":"Lecture du fichier csv","type":"main","index":0}]]},"Initialisation Variables Scrapping":{"main":[[{"node":"API RobotFramework","type":"main","index":0}]]},"Point d'entrée HTTP externe":{"main":[[{"node":"Initialisation Variables Scrapping","type":"main","index":0}]]},"Start Manuel":{"main":[[{"node":"Initialisation Variables Scrapping","type":"main","index":0}]]},"Start Sous-Workflow":{"main":[[{"node":"Initialisation Variables Scrapping","type":"main","index":0}]]},"Parse en json":{"main":[[{"node":"Format en xlsx","type":"main","index":0}]]},"Format en xlsx":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"5c552fab-0964-4b02-ab9e-d33ef13addf7","triggerCount":0,"shared":[{"createdAt":"2025-08-14T07:15:02.578Z","updatedAt":"2025-08-14T07:15:02.578Z","role":"workflow:owner","workflowId":"MKoY0b4yf4yXFTZR","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}