backups/workflow-Traitement fichier csv rag-23-10-2025.json
{"createdAt":"2025-07-25T15:19:45.357Z","updatedAt":"2025-08-05T08:11:58.389Z","id":"1MhJ5alGqUcrrFIA","name":"Traitement fichier csv rag","active":false,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-768,48],"id":"583cfd10-5722-41d0-bb1a-8581be8fb14b","name":"When clicking ‘Test workflow’"},{"parameters":{"textSplittingMode":"custom","options":{}},"type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1.1,"position":[144,304],"id":"8d28dfe6-a1fa-4140-a97f-cc1163d53f12","name":"Default Data Loader"},{"parameters":{"mode":"insert","memoryKey":{"__rl":true,"value":"=vector_store_key-24","mode":"id"},"clearStore":true},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.3,"position":[-64,32],"id":"eb0d49f8-38e8-46bd-bc09-450636e06500","name":"Simple Vector Store"},{"parameters":{"options":{"splitCode":"markdown"}},"type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[240,512],"id":"98d41eb2-abed-4a76-9ba1-b02018eb4415","name":"Recursive Character Text Splitter"},{"parameters":{"hasOutputParser":true,"needsFallback":true,"options":{"systemMessage":"Utilise le vector store uniquement."}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.1,"position":[-272,912],"id":"31bc1437-1521-4821-af81-5c28d22563c5","name":"AI Agent"},{"parameters":{"sessionIdType":"customKey","sessionKey":"vector_store_key-24"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[-240,1376],"id":"a49d049a-297e-4f93-bbd8-1327cb4c41f2","name":"Simple Memory"},{"parameters":{"documentId":{"__rl":true,"value":"13jR7zN5DTYKIcKZtrC3qgDmpX6n6c_TwH762nEnOdFk","mode":"list","cachedResultName":"stats_export","cachedResultUrl":"https://docs.google.com/spreadsheets/d/13jR7zN5DTYKIcKZtrC3qgDmpX6n6c_TwH762nEnOdFk/edit?usp=drivesdk"},"sheetName":{"__rl":true,"value":"sheet-1","mode":"name"},"options":{}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.6,"position":[-592,48],"id":"f8bba4b7-1180-4931-b388-1b73d6324391","name":"Get row(s) in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"MWSf2Jd2nicRdNo1","name":"Google Sheets account"}}},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-144,240],"id":"b2487e93-024a-4e07-bbf3-cd4c95e37f95","name":"Embeddings OpenAI","credentials":{"openAiApi":{"id":"fkAWLNHInTtln701","name":"OpenAi account"}}},{"parameters":{"sendTo":"rbeloncle@gmail.com","subject":"retrieving stock","emailType":"text","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[272,912],"id":"f5b37300-73fd-43fa-951c-5493f02e0000","name":"Send a message","webhookId":"22f0a4ff-3a6c-4e93-8a1e-524dcf56e0f3","disabled":true},{"parameters":{"mode":"retrieve-as-tool","toolDescription":"store of biogaran product stock","memoryKey":{"__rl":true,"value":"vector_store_key-24","mode":"list","cachedResultName":"vector_store_key-24"},"topK":100,"includeDocumentMetadata":false},"type":"@n8n/n8n-nodes-langchain.vectorStoreInMemory","typeVersion":1.3,"position":[-112,1184],"id":"6e65abbc-7c45-48b9-9062-35397e255ba0","name":"Simple Vector Store2"},{"parameters":{"model":"text-embedding-3-large","options":{}},"type":"@n8n/n8n-nodes-langchain.embeddingsOpenAi","typeVersion":1.2,"position":[-112,1376],"id":"2c4737e4-95a5-4ce2-b6d5-ddeb5ba4df39","name":"Embeddings OpenAI1","credentials":{"openAiApi":{"id":"fkAWLNHInTtln701","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"57fb4463-4034-4ed4-92aa-7bee512be645","name":"fournisseur","value":"={{ $json.fournisseur }}","type":"string"},{"id":"d86e8e78-4c56-4bc9-a5d5-94013d41adc5","name":"produit","value":"={{ $json.produit }}","type":"string"},{"id":"65aea990-394a-4a28-ab6b-9540ff3b9fa5","name":"stock","value":"={{ $json.stock }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-400,48],"id":"2b55d9a9-ddf4-4198-b1f9-fd4e5aa94245","name":"Edit Fields"},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-736,1392],"id":"452e0392-47de-43dc-9785-862fbc92e58a","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"fkAWLNHInTtln701","name":"OpenAi account"}}},{"parameters":{"model":{"__rl":true,"mode":"list","value":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-384,1376],"id":"9206fbf3-58ce-42ad-b81f-920915545382","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"fkAWLNHInTtln701","name":"OpenAi account"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"name\": \"METFORMINE BIOGARAN 1000MG CPR B/90\",\n  \"stock\":23\n\n}","autoFix":true,"customizeRetryPrompt":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[208,1200],"id":"4a61dd01-0398-475a-a2d5-8190427bf794","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[208,1392],"id":"068981a6-4e3d-4ea0-aac4-1c94d1ebe934","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"canp4h4lJPpN5tuC","name":"OpenRouter account"}}},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.1,"position":[-480,912],"id":"9528c125-48da-49c8-9004-05a1c290d8eb","name":"When chat message received","webhookId":"a9da3590-f6a6-44f6-8362-894779df21d8"}],"connections":{"When clicking ‘Test workflow’":{"main":[[{"node":"Get row(s) in sheet","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Simple Vector Store","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"AI Agent":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Get row(s) in sheet":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Embeddings OpenAI":{"ai_embedding":[[{"node":"Simple Vector Store","type":"ai_embedding","index":0}]]},"Simple Vector Store2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Embeddings OpenAI1":{"ai_embedding":[[{"node":"Simple Vector Store2","type":"ai_embedding","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":1}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Edit Fields":{"main":[[{"node":"Simple Vector Store","type":"main","index":0}]]},"Simple Vector Store":{"main":[[]]},"When chat message received":{"main":[[{"node":"AI Agent","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"1118a3e9-a9c9-46fc-a528-1ae437848bff","triggerCount":0,"shared":[{"createdAt":"2025-08-14T07:14:42.954Z","updatedAt":"2025-08-14T07:14:42.954Z","role":"workflow:owner","workflowId":"1MhJ5alGqUcrrFIA","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}