backups/workflow-single-scrapp-pdf-22-10-2025.json
{"createdAt":"2025-08-14T11:20:26.319Z","updatedAt":"2025-08-14T11:23:16.647Z","id":"OZsHl1CUL5kYaS0b","name":"single-scrapp-pdf","active":false,"isArchived":false,"nodes":[{"parameters":{"content":"# Récupération des fichiers pdf\n","height":384,"width":1488,"color":6},"type":"n8n-nodes-base.stickyNote","position":[-144,-64],"typeVersion":1,"id":"16bd47de-173f-4dab-85b5-6ce3413fc53a","name":"Sticky Note3"},{"parameters":{"resource":"fileFolder","returnAll":true,"filter":{"driveId":{"__rl":true,"value":"My Drive","mode":"list","cachedResultName":"My Drive","cachedResultUrl":"https://drive.google.com/drive/my-drive"},"folderId":{"__rl":true,"value":"1-QxuD_Xp9_kM_wwnvesehI3Wb-UHuk1K","mode":"list","cachedResultName":"pdf-file","cachedResultUrl":"https://drive.google.com/drive/folders/1-QxuD_Xp9_kM_wwnvesehI3Wb-UHuk1K"}},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[240,64],"id":"af81ed99-a154-4043-901f-b5acc316ea96","name":"Récupération List PDF","notesInFlow":true,"credentials":{"googleDriveOAuth2Api":{"id":"D9grsSI7lkfekCac","name":"Google Drive account"}}},{"parameters":{"operation":"pdf","options":{"keepSource":"json"}},"type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[752,64],"id":"21e8d541-5530-444b-84ce-e1f10e560538","name":"Extraction3","notesInFlow":true},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[528,64],"id":"ebbc6dd3-4b2b-46f1-b6b0-5f4e6386ea48","name":"TéléchargementPDF_Scan","notesInFlow":true},{"parameters":{"httpMethod":"POST","path":"1c481dd9-d8fe-44c6-bd48-ded8b94d1bed","authentication":"headerAuth","responseMode":"lastNode","responseData":"allEntries","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-16,64],"id":"a616021e-53e7-4617-b7df-c40ee37e0b41","name":"Webhook","webhookId":"1c481dd9-d8fe-44c6-bd48-ded8b94d1bed","credentials":{"httpHeaderAuth":{"id":"ohXCfG0YV2rD9JqX","name":"Header Auth account"}}},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-64,432],"id":"88bc900f-bc37-47c4-b6cf-cde337db4f8c","name":"When clicking ‘Execute workflow’"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-nano-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2176,1168],"id":"2ce77d2c-2f59-459d-8d78-252af84b0c08","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"srKUqyDBaSBaP9zf","name":"OpenAi account"}}},{"parameters":{"jsonSchemaExample":"[\n  {\n    \n      \"Designation\": \"AMLODIPINE BIOGARAN 10MG GEL B/30\",\n      \"vendu\": 0,\n      \"Stock\": 0\n    \n  },\n {\n      \"Designation\": \"AMLODIPINE BIOGARAN 10MG GEL B/90\",\n      \"vendu\": 2,\n      \"Stock\": 32\n    }\n  \n\n]","autoFix":true,"customizeRetryPrompt":true},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[2320,1168],"id":"d05d3375-3680-4c4d-9053-1dd617fd5b99","name":"Structured Output Parser"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-nano-2025-04-14"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2384,1344],"id":"1899669d-9f85-455e-8bfa-e82ff0662fbf","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"srKUqyDBaSBaP9zf","name":"OpenAi account"}}},{"parameters":{"jsCode":"// Ce script transforme un bloc de texte brut en un tableau JSON structuré\n\nconst rawText = $json[\"text\"];\n\n// Séparer le texte brut ligne par ligne\nconst lines = rawText.split('\\n');\n\n// Tableau final des produits\nlet produits = [];\n\nlet current = {\n  code: '',\n  designation: '',\n  ventes: []\n};\n\nfor (let i = 0; i < lines.length; i++) {\n  const line = lines[i].trim();\n\n  // Cherche un code produit (ex: ALFA017)\n  const codeMatch = line.match(/^([A-Z]{4}\\d{3,})$/);\n  if (codeMatch) {\n    // S'il y avait déjà un produit en cours, on le pousse\n    if (current.code) {\n      produits.push({ ...current });\n    }\n\n    // Nouveau produit\n    current = {\n      code: codeMatch[1],\n      designation: '',\n      ventes: []\n    };\n\n    // On suppose que la désignation est sur les 2 lignes suivantes\n    current.designation = lines[i + 1].trim() + ' ' + lines[i + 2].trim();\n    i += 2; // On saute les lignes de désignation\n  } else if (/^\\d+(\\s+\\-?\\d+)+$/.test(line)) {\n    // Si c’est une ligne de chiffres (stock + ventes)\n    const chiffres = line.trim().split(/\\s+/).map(x => parseInt(x));\n    current.stock = chiffres[0];\n    current.ventes = chiffres.slice(1);\n  }\n}\n\n// Dernier produit à ajouter\nif (current.code) {\n  produits.push({ ...current });\n}\n\n// Renvoie le tableau JSON formaté\nreturn produits.map(p => ({\n  code: p.code,\n  designation: p.designation,\n  stock_30_04_2025: p.stock || 0,\n  ventes_avril: p.ventes[0] || 0,\n  ventes_mars: p.ventes[1] || 0,\n  ventes_fevrier: p.ventes[2] || 0,\n  ventes_janvier: p.ventes[3] || 0,\n  ventes_decembre: p.ventes[4] || 0,\n  ventes_novembre: p.ventes[5] || 0\n}));\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1616,576],"id":"0b4fc170-b06a-4823-811f-98e3fdd61497","name":"Parse PDF Data"},{"parameters":{"operation":"write","fileName":"=/tmp/page-{{$json.id}}.pdf","dataPropertyName":"=data","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1056,1024],"id":"4bee4c95-e982-4330-bcba-0463b02c786b","name":"Enregistrement PDF Temporaire","notesInFlow":true},{"parameters":{"promptType":"define","text":"={{ $binary}}","hasOutputParser":true,"needsFallback":true,"messages":{"messageValues":[{"type":"AIMessagePromptTemplate","message":"You are a helpful assistant, please extract information data from both binary files .Don't forget any lines.And mark each lines by a number considered as id."},{"type":"HumanMessagePromptTemplate","messageType":"imageBinary","imageDetail":"high"},{"message":"You are a helpful assistant, please extract information data from both binary files .Don't forget any lines.And mark each lines by a number considered as id."}]},"batching":{}},"type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.7,"position":[2128,944],"id":"faa521a3-9b34-4756-a847-8db4fdd66e60","name":"AI IMG EXTRACTOR"},{"parameters":{"jsCode":"// Récupérer la sortie actuelle\nconst mergedArray = $input.all().reduce((acc, item) => [...acc, ...item.json.output], []);\n\nreturn mergedArray.map(item => ({ json: item }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2544,928],"id":"ce1b2cc9-eb57-48f7-b19d-7b9e8648232b","name":"Traitement Data"},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2752,528],"id":"9e33a4ec-a7d5-4dde-8244-52ea63e0ada8","name":"Merge Fichiers Récupérés","notesInFlow":true},{"parameters":{"jsCode":"return items.map(item => {\n  const stock = parseInt(item.json.Stock);\n\n  item.json.Stock = isNaN(stock) ? 0 : stock; // Ou `null`\n  return item;\n});\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[2944,560],"id":"e271ad31-b423-49c6-a378-b7cd060c78c0","name":"Check Type Stock"},{"parameters":{"assignments":{"assignments":[{"id":"3a70b0f4-3dd4-4984-8e73-fd3ab55f9f77","name":"Designation_to_Map","value":"={{ $json.Designation }}","type":"string"}]},"options":{"ignoreConversionErrors":false}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3120,560],"id":"f4e76e1c-91f6-4d98-ae85-0c137d2f483d","name":"Selection Champs","notesInFlow":true},{"parameters":{"keys":{"key":[{"currentKey":"designation","newKey":"Designation"},{"currentKey":"stock_30_04_2025","newKey":"=Stock"}]},"additionalOptions":{}},"type":"n8n-nodes-base.renameKeys","typeVersion":1,"position":[1840,576],"id":"3e7c74e0-be86-4cef-aa28-011c86e0b1ab","name":"Normalisation1"},{"parameters":{"sortFieldsUi":{"sortField":[{"fieldName":"Designation_to_Map"}]},"options":{}},"type":"n8n-nodes-base.sort","typeVersion":1,"position":[3296,560],"id":"a8259ea3-dc22-4b4d-a28f-190a133cab04","name":"Trie"},{"parameters":{"content":"# Logique traitement Fichier SCAN","height":544,"width":3328,"color":2},"type":"n8n-nodes-base.stickyNote","position":[656,784],"typeVersion":1,"id":"f5e8c5ab-5e69-4b15-8fe2-796105b0db37","name":"Sticky Note5"},{"parameters":{"content":"# Logique traitement Fichier PDF","height":256,"width":736,"color":7},"type":"n8n-nodes-base.stickyNote","position":[656,480],"typeVersion":1,"id":"f103fd7a-0350-4111-bdc0-cbe8f9caa66f","name":"Sticky Note7"},{"parameters":{"content":"# Rassemblement des fichiers récupérés + traitement","height":320,"width":1280,"color":3},"type":"n8n-nodes-base.stickyNote","position":[2704,432],"typeVersion":1,"id":"7117fcb5-8a76-4736-9e9d-5e27ff82f81e","name":"Sticky Note6"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{}},"type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[864,1024],"id":"10dee8f3-2d04-4807-a408-1f9a4d01917f","name":"TéléchargementPDF_Scan1","notesInFlow":true},{"parameters":{"command":"=#!/bin/bash\n\n# Variables (à adapter avec vos données n8n)\nINPUT_PDF=\"/tmp/page-{{$('Loop Over Items').item.json.id}}.pdf\"\nOUTPUT_PREFIX=\"/tmp/page-{{$('Loop Over Items').item.json.id }}\"\n\n# Conversion\ngs -q -sDEVICE=png16m -r150 -o \"${OUTPUT_PREFIX}-%03d.png\" \"${INPUT_PDF}\"\n\n# Génération JSON\nPNG_FILES=$(ls \"${OUTPUT_PREFIX}\"-*.png 2>/dev/null | jq -R -s -c 'split(\"\\n\")[:-1]')\necho '{\n  \"operation\": \"pdf_to_png\",\n  \"originalPdf\": \"'\"${INPUT_PDF}\"'\",\n  \"pageCount\": '\"$(ls \"${OUTPUT_PREFIX}\"-*.png 2>/dev/null | wc -l)\"',\n  \"pngFiles\": '\"${PNG_FILES}\"'\n}'"},"type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[1456,1088],"id":"b9c2c92f-8799-4e31-9abb-1f327130a451","name":"Execute Command"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1232,1024],"id":"a5f11b11-758d-4306-9162-916fba4e3a3b","name":"Loop Over Items"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-nano-2025-04-14","mode":"list","cachedResultName":"gpt-4.1-nano-2025-04-14"},"options":{"responseFormat":"json_object"}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[2048,1168],"id":"6491704f-b0df-45c2-9a07-56a0321fa291","name":"OpenAI Chat Model4","credentials":{"openAiApi":{"id":"srKUqyDBaSBaP9zf","name":"OpenAi account"}}},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1904,928],"id":"ca36f890-0b31-45e8-ba8b-29ea8f627da1","name":"Loop Over Items1"},{"parameters":{"jsCode":"// Récupère tous les inputs\nconst inputs = $input.all();\n\n// Initialise le tableau de résultat\nlet mergedFiles = [];\n\n// Pour chaque entrée\ninputs.forEach(input => {\n  try {\n    // Parse le JSON contenu dans stdout\n    const files = JSON.parse(input.json.stdout);\n    // Ajoute les fichiers au tableau fusionné\n    mergedFiles = mergedFiles.concat(files.pngFiles);\n  } catch (error) {\n    // Gestion d'erreur si le JSON est invalide\n    console.error(\"Erreur de parsing:\", error);\n  }\n});\n\n  // Retourne le tableau fusionné\n  return [{ \n    json: {\n      all_png_files: mergedFiles,\n      total_count: mergedFiles.length\n    }\n  }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1456,928],"id":"e5ca15d3-36c1-4466-8b8e-59dd3e73949f","name":"Liste Fichiers"},{"parameters":{"mode":"combine","fieldsToMatchString":"id","outputDataFrom":"input2","options":{}},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[704,1024],"id":"1d55cae4-81e8-4f84-9ba8-4eed04d408dd","name":"Recuperation scans"},{"parameters":{"fileSelector":"/tmp/page-*.png","options":{}},"type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[1680,928],"id":"ed17b743-a40b-4d15-9cca-16d69f93caf4","name":"Lecture Fichier png"},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"db3c4b8e-6600-4a45-926f-f40e21b20af9","leftValue":"={{ $json.text.replace(\"\\n\",\"\\b\").length }}","rightValue":20,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"renameOutput":true,"outputKey":"NORMAL PDF"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.text.replace(\"\\n\",\"\\b\").length }}","rightValue":20,"operator":{"type":"number","operation":"lt"},"id":"00afbd83-c5c0-4bee-af62-12f7986f91ac"}],"combinator":"and"},"renameOutput":true,"outputKey":"SCAN PDF"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[720,592],"id":"3cfaf2fd-7ce5-4a68-8b15-29d24a354c1b","name":"Vérification si scan1","notesInFlow":true},{"parameters":{"assignments":{"assignments":[{"id":"ec811fc9-1f47-46eb-968c-8ed89691fe4b","name":"Designation","value":"={{ $json.Designation_to_Map }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3488,560],"id":"1206f470-dfaa-4769-b7c7-5ca37ee90f9b","name":"Edit Fields"}],"connections":{"Récupération List PDF":{"main":[[{"node":"TéléchargementPDF_Scan","type":"main","index":0}]]},"Extraction3":{"main":[[{"node":"Vérification si scan1","type":"main","index":0}]]},"TéléchargementPDF_Scan":{"main":[[{"node":"Extraction3","type":"main","index":0},{"node":"Recuperation scans","type":"main","index":1}]]},"Webhook":{"main":[[{"node":"Récupération List PDF","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"Récupération List PDF","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI IMG EXTRACTOR","type":"ai_languageModel","index":1}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI IMG EXTRACTOR","type":"ai_outputParser","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"Structured Output Parser","type":"ai_languageModel","index":0}]]},"Parse PDF Data":{"main":[[{"node":"Normalisation1","type":"main","index":0}]]},"Enregistrement PDF Temporaire":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"AI IMG EXTRACTOR":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Traitement Data":{"main":[[{"node":"Merge Fichiers Récupérés","type":"main","index":1}]]},"Merge Fichiers Récupérés":{"main":[[{"node":"Check Type Stock","type":"main","index":0}]]},"Check Type Stock":{"main":[[{"node":"Selection Champs","type":"main","index":0}]]},"Selection Champs":{"main":[[{"node":"Trie","type":"main","index":0}]]},"Normalisation1":{"main":[[{"node":"Merge Fichiers Récupérés","type":"main","index":0}]]},"Trie":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"TéléchargementPDF_Scan1":{"main":[[{"node":"Enregistrement PDF Temporaire","type":"main","index":0}]]},"Execute Command":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[{"node":"Liste Fichiers","type":"main","index":0}],[{"node":"Execute Command","type":"main","index":0}]]},"OpenAI Chat Model4":{"ai_languageModel":[[{"node":"AI IMG EXTRACTOR","type":"ai_languageModel","index":0}]]},"Loop Over Items1":{"main":[[{"node":"Traitement Data","type":"main","index":0}],[{"node":"AI IMG EXTRACTOR","type":"main","index":0}]]},"Liste Fichiers":{"main":[[{"node":"Lecture Fichier png","type":"main","index":0}]]},"Recuperation scans":{"main":[[{"node":"TéléchargementPDF_Scan1","type":"main","index":0}]]},"Lecture Fichier png":{"main":[[{"node":"Loop Over Items1","type":"main","index":0}]]},"Vérification si scan1":{"main":[[{"node":"Parse PDF Data","type":"main","index":0}],[{"node":"Recuperation scans","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{"AI IMG EXTRACTOR":[{"json":{"output":[{"Designation":"AMLODIPINE BIOGARAN 10MG GEL B/30","vendu":0,"Stock":0},{"Designation":"AMLODIPINE BIOGARAN 10MG GEL B/90","vendu":2,"Stock":32},{"Designation":"AMLODIPINE BIOGARAN 5MG GEL B/30","vendu":0,"Stock":88},{"Designation":"AMLODIPINE VALSARTAN BIOGARAN 10MG/160MG COMP B/30","vendu":0,"Stock":36},{"Designation":"AMLODIPINE VALSARTAN BIOGARAN 5MG/160MG COMP PEL B/30","vendu":0,"Stock":43},{"Designation":"AMLODIPINE VALSARTAN BIOGARAN 5MG/80MG COMP PEL B/30","vendu":0,"Stock":43},{"Designation":"CEFIXIME BIOGARAN 200MG COMP B/8","vendu":0,"Stock":0},{"Designation":"CEFTRIAXONE BIOGARAN IV 1G/10ML PDRE SOL INJ B/1","vendu":0,"Stock":0},{"Designation":"CELECOXIB BIOGARAN 100MG GEL B/30","vendu":1,"Stock":171},{"Designation":"CELECOXIB BIOGARAN 200MG GELULES B/30","vendu":0,"Stock":0},{"Designation":"DESLORATADINE BIOGARAN 5MG COMP B/15","vendu":0,"Stock":82},{"Designation":"DESLORATADINE BIOGARAN 5MG COMP B/30","vendu":0,"Stock":62},{"Designation":"DOMPERIDONE BIOGARAN 10MG COMP B/20","vendu":27,"Stock":0},{"Designation":"IBUPROFENE BIOGARAN 400MG COMP B/20","vendu":0,"Stock":0},{"Designation":"IRBESARTAN / HCTZ BIOGARAN 150MG/12.5MG COMP B/30","vendu":0,"Stock":83},{"Designation":"IRBESARTAN / HCTZ BIOGARAN 300MG/12.5MG COMP B/30","vendu":0,"Stock":0}]}}],"Traitement Data":[{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG GEL B/30","vendu":0,"Stock":0}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG GEL B/90","vendu":2,"Stock":32}},{"json":{"Designation":"AMLODIPINE BIOGARAN 5MG GEL B/30","vendu":0,"Stock":88}},{"json":{"Designation":"AMLODIPINE VALSARTAN BIOGARAN 10MG/160MG COMP B/30","vendu":0,"Stock":36}},{"json":{"Designation":"AMLODIPINE VALSARTAN BIOGARAN 5MG/160MG COMP PEL B/30","vendu":0,"Stock":43}},{"json":{"Designation":"AMLODIPINE VALSARTAN BIOGARAN 5MG/80MG COMP PEL B/30","vendu":0,"Stock":43}},{"json":{"Designation":"CEFIXIME BIOGARAN 200MG COMP B/8","vendu":0,"Stock":0}},{"json":{"Designation":"CEFTRIAXONE BIOGARAN IV 1G/10ML PDRE SOL INJ B/1","vendu":0,"Stock":0}},{"json":{"Designation":"CELECOXIB BIOGARAN 100MG GEL B/30","vendu":1,"Stock":171}},{"json":{"Designation":"CELECOXIB BIOGARAN 200MG GELULES B/30","vendu":0,"Stock":0}},{"json":{"Designation":"DESLORATADINE BIOGARAN 5MG COMP B/15","vendu":0,"Stock":82}},{"json":{"Designation":"DESLORATADINE BIOGARAN 5MG COMP B/30","vendu":0,"Stock":62}},{"json":{"Designation":"DOMPERIDONE BIOGARAN 10MG COMP B/20","vendu":27,"Stock":0}},{"json":{"Designation":"IBUPROFENE BIOGARAN 400MG COMP B/20","vendu":0,"Stock":0}},{"json":{"Designation":"IRBESARTAN / HCTZ BIOGARAN 150MG/12.5MG COMP B/30","vendu":0,"Stock":83}},{"json":{"Designation":"IRBESARTAN / HCTZ BIOGARAN 300MG/12.5MG COMP B/30","vendu":0,"Stock":0}},{"json":{"Designation":"IRBESARTAN BIOGARAN 300MG/25MG COMP B/30","vendu":0,"Stock":46}},{"json":{"Designation":"IRBESARTAN BIOGARAN 150MG COMP B/30","vendu":0,"Stock":46}},{"json":{"Designation":"IRBESARTAN BIOGARAN 300MG COMP B/30","vendu":0,"Stock":46}},{"json":{"Designation":"IRBESARTAN BIOGARAN 75MG COMP B/30","vendu":0,"Stock":0}},{"json":{"Designation":"KETOPROFENE BIOGARAN LP 100MG COMP B/20","vendu":0,"Stock":193}},{"json":{"Designation":"METFORMIN BIOGARAN 100MG COMP B/30","vendu":0,"Stock":0}},{"json":{"Designation":"METFORMIN BIOGARAN 500MG COMP PEL B/30","vendu":0,"Stock":0}},{"json":{"Designation":"METFORMIN BIOGARAN 850MG COMP PEL B/30","vendu":0,"Stock":0}},{"json":{"Designation":"OMEPRAZOLE BIOGARAN 20MG GEL B/28","vendu":80,"Stock":0}},{"json":{"Designation":"PROPRANOLOL BIOGARAN 40MG COMP B/50","vendu":10,"Stock":444}},{"json":{"Designation":"SILDENAFIL BIOGARAN 100MG COMP B/8","vendu":2,"Stock":43}},{"json":{"Designation":"TADALAFIL BIOGARAN 10MG COMP B/4","vendu":0,"Stock":48}},{"json":{"Designation":"TADALAFIL BIOGARAN 20MG COMP B/4","vendu":4,"Stock":94}},{"json":{"Designation":"ALPRRAZOLAM BIOGARAN 0.50MG 30CES ***","vendu":1307,"Stock":961}},{"json":{"Designation":"AMLODIPINE BIOGARAN 5MG 30GELS","vendu":28,"Stock":34}},{"json":{"Designation":"AMLODIPINE BIOGARAN 5MG ... 90GELS","vendu":21,"Stock":26}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG 30GELS","vendu":81,"Stock":57}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG... 90GELS","vendu":10,"Stock":175}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 1GR 14CES DISP","vendu":186,"Stock":318}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 1GR 6CES DISP","vendu":20,"Stock":994}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 125MG PDR SUS 60ML","vendu":0,"Stock":0}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 250MG PDR SUS 60ML","vendu":0,"Stock":0}},{"json":{"Designation":"ATENOLOL BIOGARAN 50MG 30CES","vendu":16,"Stock":72}},{"json":{"Designation":"BICALUTAMIDE BIOGARAN 50MG 30CES","vendu":0,"Stock":81}},{"json":{"Designation":"BISOPROLOL BIOGARAN 5MG 90CES","vendu":34,"Stock":467}},{"json":{"Designation":"BISOPROLOL BIOGARAN 10MG 90CES","vendu":5,"Stock":330}},{"json":{"Designation":"CAPECITABINE BIOGARAN 150MG 60CES","vendu":0,"Stock":0}},{"json":{"Designation":"CAPECITABINE BIOGARAN 500MG 120CES","vendu":0,"Stock":0}},{"json":{"Designation":"CEFIXIME BIOGARAN 200MG 8CES","vendu":291,"Stock":1911}},{"json":{"Designation":"CEFTRIAXONE BIOGARAN IV 1G 10ML AMP","vendu":226,"Stock":719}},{"json":{"Designation":"CEFTRIAXONE BIOGARAN IM 1G 3.5ML 1AMP","vendu":0,"Stock":118}},{"json":{"Designation":"CLARITHROMYCINE BIOGARAN 250MG 10CES","vendu":3,"Stock":128}},{"json":{"Designation":"CLARITHROMYCINE BIOGARAN 500MG 10CES","vendu":151,"Stock":303}},{"json":{"Designation":"DESLORATADINE BIOGARAN 5MG 30CES","vendu":20,"Stock":280}},{"json":{"Designation":"ENALAPRIL BIOGARAN 20MG 28CES","vendu":0,"Stock":57}},{"json":{"Designation":"ENALAPRIL BIOGARAN 5MG 28CES","vendu":0,"Stock":0}},{"json":{"Designation":"KETOPROFENE BIOGARAN LP 100MG 20CES","vendu":11,"Stock":501}},{"json":{"Designation":"LETROZOLE BIOGARAN 2.5MG 30CES","vendu":10,"Stock":16}},{"json":{"Designation":"METFORMINE BIOGARAN 500MG 90CES","vendu":11,"Stock":446}},{"json":{"Designation":"METFORMINE BIOGARAN 850MG 30CES","vendu":34,"Stock":42}},{"json":{"Designation":"METFORMINE BIOGARAN 850MG... 90CES","vendu":7,"Stock":408}},{"json":{"Designation":"METFORMINE BIOGARAN 1000MG 90CES","vendu":22,"Stock":28}},{"json":{"Designation":"NEBIVOLOL BIOGARAN 5MG 30CES","vendu":184,"Stock":819}},{"json":{"Designation":"OMEPRAZOLE BIOGARAN 20MG 28GELS","vendu":225,"Stock":155}},{"json":{"Designation":"PARACETAMOL BIOGARAN 500MG 16CES","vendu":43,"Stock":1066}},{"json":{"Designation":"TADALAFIL BIOGARAN 10MG 4CES","vendu":77,"Stock":834}},{"json":{"Designation":"TADALAFIL BIOGARAN 20MG 4CES","vendu":66,"Stock":554}},{"json":{"Designation":"ZOLMITRIPTAN BIOGARAN 2.5MG 6CES","vendu":13,"Stock":63}},{"json":{"Designation":"ALPRAZOLAM BIOGARAN 0.50MG 30CES ***","vendu":510,"Stock":645}},{"json":{"Designation":"AMLODIPINE BIOGARAN 5MG 30GELS","vendu":42,"Stock":28}},{"json":{"Designation":"AMLODIPINE BIOGARAN 5MG 90GELS","vendu":1,"Stock":22}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG 30GELS","vendu":27,"Stock":0}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG 90GELS","vendu":2,"Stock":19}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 1GR 14CES DISP","vendu":145,"Stock":87}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 1GR...6CES DISP","vendu":0,"Stock":109}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 125MG PDR SUSP 60ML","vendu":0,"Stock":0}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 250MG PDR SUSP 60ML","vendu":0,"Stock":0}},{"json":{"Designation":"ATENOLOL BIOGARAN 50MG 30CES","vendu":8,"Stock":0}},{"json":{"Designation":"BICALUTAMIDE BIOGARAN 50MG 30CES","vendu":3,"Stock":0}},{"json":{"Designation":"BISOPROLOL BIOGARAN 5MG 90CES","vendu":55,"Stock":99}},{"json":{"Designation":"BISOPROLOL BIOGARAN 10MG 90CES","vendu":21,"Stock":91}},{"json":{"Designation":"CAPECITABINE BIOGARAN 150MG 60CES","vendu":0,"Stock":0}},{"json":{"Designation":"CAPECITABINE BIOGARAN 500MG 120CES","vendu":0,"Stock":0}},{"json":{"Designation":"CEFIXIME BIOGARAN 200MG 8CES","vendu":264,"Stock":201}},{"json":{"Designation":"CEFTRIAXONE BIOGARAN IV 1G 10ML 1AMP","vendu":137,"Stock":283}},{"json":{"Designation":"CEFTRIAXONE BIOGARAN IM 1G 3.5ML 1AMP","vendu":-1,"Stock":8}},{"json":{"Designation":"CLARITHROMYCINE BIOGARAN 250MG 10CES","vendu":33,"Stock":37}},{"json":{"Designation":"CLARITHROMYCINE BIOGARAN 500MG 10CES","vendu":136,"Stock":128}},{"json":{"Designation":"DESLORATADINE BIOGARAN 5MG 30CES","vendu":64,"Stock":0}},{"json":{"Designation":"ENALAPRIL BIOGARAN 20MG 28CES","vendu":28,"Stock":0}},{"json":{"Designation":"ENALAPRIL BIOGARAN 5MG 28CES","vendu":0,"Stock":0}},{"json":{"Designation":"KETOPROFENE BIOGARAN LP 100MG 20CES","vendu":58,"Stock":113}},{"json":{"Designation":"LETROZOLE BIOGARAN 2.5MG 30CES","vendu":15,"Stock":5}},{"json":{"Designation":"METFORMINE BIOGARAN 500MG 90CES","vendu":30,"Stock":118}},{"json":{"Designation":"METFORMINE BIOGARAN 850MG 30CES","vendu":1,"Stock":20}},{"json":{"Designation":"METFORMINE BIOGARAN 850MG 90CES","vendu":26,"Stock":76}},{"json":{"Designation":"METFORMINE BIOGARAN 1000MG 90CES","vendu":16,"Stock":20}},{"json":{"Designation":"NEBIVOLOL BIOGARAN 5MG 30CES","vendu":263,"Stock":222}},{"json":{"Designation":"OMEPRAZOLE BIOGARAN 20MG 28GELS","vendu":144,"Stock":117}},{"json":{"Designation":"PARACETAMOL BIOGARAN 500MG 16CES","vendu":49,"Stock":34}},{"json":{"Designation":"TADALAFIL BIOGARAN 10MG 4CES","vendu":206,"Stock":172}},{"json":{"Designation":"TADALAFIL BIOGARAN 20MG 4CES","vendu":254,"Stock":199}},{"json":{"Designation":"ZOLMITRIPTAN BIOGARAN 2.5MG 6CES","vendu":42,"Stock":26}}],"Trie":[{"json":{"Designation_to_Map":"ALFA AMYLASE BIOGARAN CONSEIL"}},{"json":{"Designation_to_Map":"ALFA AMYLASE BIOGARAN CONSEIL"}},{"json":{"Designation_to_Map":"ALPRAZOLAM BIOGARAN 0.50MG 30CES ***"}},{"json":{"Designation_to_Map":"ALPRAZOLAM BIOGARAN 0.50MG B/30"}},{"json":{"Designation_to_Map":"ALPRRAZOLAM BIOGARAN 0.50MG 30CES ***"}},{"json":{"Designation_to_Map":"AMLODIPINE 10MG B/30 GELULES BIOGARAN"}},{"json":{"Designation_to_Map":"AMLODIPINE 10MG B/90 GELULES BIOGARAN"}},{"json":{"Designation_to_Map":"AMLODIPINE 5MG B/30 GELULES BIOGARAN"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 10MG 30GELS"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 10MG 30GELS"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 10MG 90GELS"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 10MG GEL B/30"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 10MG GEL B/90"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 10MG... 90GELS"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 5MG ... 90GELS"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 5MG 30GELS"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 5MG 30GELS"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 5MG 90GELS"}},{"json":{"Designation_to_Map":"AMLODIPINE BIOGARAN 5MG GEL B/30"}},{"json":{"Designation_to_Map":"AMLODIPINE VALSARTAN BIOGARAN 10MG/160MG COMP B/30"}},{"json":{"Designation_to_Map":"AMLODIPINE VALSARTAN BIOGARAN 5MG/160MG COMP PEL B/30"}},{"json":{"Designation_to_Map":"AMLODIPINE VALSARTAN BIOGARAN 5MG/80MG COMP PEL B/30"}},{"json":{"Designation_to_Map":"AMOXICILLINE BIOGARAN 125MG PDR SUS 60ML"}},{"json":{"Designation_to_Map":"AMOXICILLINE BIOGARAN 125MG PDR SUSP 60ML"}},{"json":{"Designation_to_Map":"AMOXICILLINE BIOGARAN 1GR 14CES DISP"}},{"json":{"Designation_to_Map":"AMOXICILLINE BIOGARAN 1GR 14CES DISP"}},{"json":{"Designation_to_Map":"AMOXICILLINE BIOGARAN 1GR 6CES DISP"}},{"json":{"Designation_to_Map":"AMOXICILLINE BIOGARAN 1GR...6CES DISP"}},{"json":{"Designation_to_Map":"AMOXICILLINE BIOGARAN 250MG PDR SUS 60ML"}},{"json":{"Designation_to_Map":"AMOXICILLINE BIOGARAN 250MG PDR SUSP 60ML"}},{"json":{"Designation_to_Map":"ATENOLOL 50MG B/30 COMP SECABLES"}},{"json":{"Designation_to_Map":"ATENOLOL BIOGARAN 50MG 30CES"}},{"json":{"Designation_to_Map":"ATENOLOL BIOGARAN 50MG 30CES"}},{"json":{"Designation_to_Map":"ATOVAQUONE / PROGUANIL BIOGARAN"}},{"json":{"Designation_to_Map":"ATOVAQUONE / PROGUANIL BIOGARAN"}},{"json":{"Designation_to_Map":"BETAMETHASONE BIOGARAN 2MG B/20"}},{"json":{"Designation_to_Map":"BICALUTAMIDE 50MG B/30 COMP BIOGARAN"}},{"json":{"Designation_to_Map":"BICALUTAMIDE BIOGARAN 50MG 30CES"}},{"json":{"Designation_to_Map":"BICALUTAMIDE BIOGARAN 50MG 30CES"}},{"json":{"Designation_to_Map":"BISOPROLOL BIOGARAN 10MG 90CES"}},{"json":{"Designation_to_Map":"BISOPROLOL BIOGARAN 10MG 90CES"}},{"json":{"Designation_to_Map":"BISOPROLOL BIOGARAN 5MG 90CES"}},{"json":{"Designation_to_Map":"BISOPROLOL BIOGARAN 5MG 90CES"}},{"json":{"Designation_to_Map":"BROMAZEPAM 6MG B/30 COMP BIOGARAN"}},{"json":{"Designation_to_Map":"CAPECITABINE 150MG B/60 COMP BIOGARAN"}},{"json":{"Designation_to_Map":"CAPECITABINE 500MG B/120 COMP"}},{"json":{"Designation_to_Map":"CAPECITABINE BIOGARAN 150MG 60CES"}},{"json":{"Designation_to_Map":"CAPECITABINE BIOGARAN 150MG 60CES"}},{"json":{"Designation_to_Map":"CAPECITABINE BIOGARAN 500MG 120CES"}},{"json":{"Designation_to_Map":"CAPECITABINE BIOGARAN 500MG 120CES"}},{"json":{"Designation_to_Map":"CEFIXIME BIOGARAN 200MG 8CES"}},{"json":{"Designation_to_Map":"CEFIXIME BIOGARAN 200MG 8CES"}},{"json":{"Designation_to_Map":"CEFIXIME BIOGARAN 200MG B/8 COMP"}},{"json":{"Designation_to_Map":"CEFIXIME BIOGARAN 200MG COMP B/8"}},{"json":{"Designation_to_Map":"CEFTRIAXONE BIOGARAN IM 1G 3.5ML 1AMP"}},{"json":{"Designation_to_Map":"CEFTRIAXONE BIOGARAN IM 1G 3.5ML 1AMP"}},{"json":{"Designation_to_Map":"CEFTRIAXONE BIOGARAN IV 1G 10ML 1AMP"}},{"json":{"Designation_to_Map":"CEFTRIAXONE BIOGARAN IV 1G 10ML AMP"}},{"json":{"Designation_to_Map":"CEFTRIAXONE BIOGARAN IV 1G/10ML PDRE SOL INJ B/1"}},{"json":{"Designation_to_Map":"CELECOXIB 100MG B/30 COMP BIOGARAN"}},{"json":{"Designation_to_Map":"CELECOXIB 200MG B/30 GELULES BIOGARAN"}},{"json":{"Designation_to_Map":"CELECOXIB BIOGARAN 100MG GEL B/30"}},{"json":{"Designation_to_Map":"CELECOXIB BIOGARAN 200MG GELULES B/30"}},{"json":{"Designation_to_Map":"CELIPROLOL 200MG B/28 COMP PELLICULES"}},{"json":{"Designation_to_Map":"CLARITHROMYCINE BIOG 250MG B/10 COMP"}},{"json":{"Designation_to_Map":"CLARITHROMYCINE BIOGARAN 250MG 10CES"}},{"json":{"Designation_to_Map":"CLARITHROMYCINE BIOGARAN 250MG 10CES"}},{"json":{"Designation_to_Map":"CLARITHROMYCINE BIOGARAN 500MG 10CES"}},{"json":{"Designation_to_Map":"CLARITHROMYCINE BIOGARAN 500MG 10CES"}},{"json":{"Designation_to_Map":"CLARITHROMYCINE BIOGARAN 500MG B/10"}},{"json":{"Designation_to_Map":"DESLORATADINE BIOG 5MG B/15 COMP"}},{"json":{"Designation_to_Map":"DESLORATADINE BIOGARAN 5MG 30CES"}},{"json":{"Designation_to_Map":"DESLORATADINE BIOGARAN 5MG 30CES"}},{"json":{"Designation_to_Map":"DESLORATADINE BIOGARAN 5MG COMP B/15"}},{"json":{"Designation_to_Map":"DESLORATADINE BIOGARAN 5MG COMP B/30"}},{"json":{"Designation_to_Map":"DOMPERIDONE 10MG B/20 COMP PELLICULES"}},{"json":{"Designation_to_Map":"DOMPERIDONE BIOGARAN 10MG COMP B/20"}},{"json":{"Designation_to_Map":"DORZOLAMINE / TIMOLOL BIOGARAN"}},{"json":{"Designation_to_Map":"DOXYLAMINE BIOGARAN CONSEIL"}},{"json":{"Designation_to_Map":"DUTASTERIDE 0.5MG B/30 CAPSULES MOLLES"}},{"json":{"Designation_to_Map":"ENALAPRIL 20MG B/28 COMP SECABLES"}},{"json":{"Designation_to_Map":"ENALAPRIL BIOGARAN 20MG 28CES"}},{"json":{"Designation_to_Map":"ENALAPRIL BIOGARAN 20MG 28CES"}},{"json":{"Designation_to_Map":"ENALAPRIL BIOGARAN 5MG 28CES"}},{"json":{"Designation_to_Map":"ENALAPRIL BIOGARAN 5MG 28CES"}},{"json":{"Designation_to_Map":"ENOXAPARINE BIOGARAN CRUSIA"}},{"json":{"Designation_to_Map":"ENOXAPARINE BIOGARAN CRUSIA"}},{"json":{"Designation_to_Map":"ENOXAPARINE BIOGARAN CRUSIA"}},{"json":{"Designation_to_Map":"ENOXAPARINE BIOGARAN CRUSIA"}},{"json":{"Designation_to_Map":"FLECAINIDE BIO LP 200MG B/30 GELU."}},{"json":{"Designation_to_Map":"IBUPROFENE 400MG B/20 COMP PELLICULES"}},{"json":{"Designation_to_Map":"IBUPROFENE BIOGARAN 400MG COMP B/20"}},{"json":{"Designation_to_Map":"IBUPROFENE CONSEIL 400MG B/10 COMP"}},{"json":{"Designation_to_Map":"IRBESARTAN / HCTZ BIOGARAN 150MG/12.5MG COMP B/30"}},{"json":{"Designation_to_Map":"IRBESARTAN / HCTZ BIOGARAN 300MG/12.5MG COMP B/30"}},{"json":{"Designation_to_Map":"IRBESARTAN 150MG B/30 COMP. PELLICULES"}},{"json":{"Designation_to_Map":"IRBESARTAN 300MG B/30 COMP. PELLICULES"}},{"json":{"Designation_to_Map":"IRBESARTAN 75MG B/30 COMP. PELLICULES"}},{"json":{"Designation_to_Map":"IRBESARTAN BIOGARAN 150MG COMP B/30"}},{"json":{"Designation_to_Map":"IRBESARTAN BIOGARAN 300MG COMP B/30"}},{"json":{"Designation_to_Map":"IRBESARTAN BIOGARAN 300MG/25MG COMP B/30"}},{"json":{"Designation_to_Map":"IRBESARTAN BIOGARAN 75MG COMP B/30"}},{"json":{"Designation_to_Map":"IRBESARTAN/HCTZ BGR 300MG/25MG COMP"}},{"json":{"Designation_to_Map":"IRBESARTAN/HCTZ BIOG 300MG/12.5MG"}},{"json":{"Designation_to_Map":"KETOPROFEN LP 100MG B/20 COMP BIOGARAN"}},{"json":{"Designation_to_Map":"KETOPROFENE 100MG B/20 COMP. BIOGARAN"}},{"json":{"Designation_to_Map":"KETOPROFENE BIOGARAN LP 100MG 20CES"}},{"json":{"Designation_to_Map":"KETOPROFENE BIOGARAN LP 100MG 20CES"}},{"json":{"Designation_to_Map":"KETOPROFENE BIOGARAN LP 100MG COMP B/20"}},{"json":{"Designation_to_Map":"LATANOPROST/TIMOLOL 50UG/5MG COLLYRE B/1"}},{"json":{"Designation_to_Map":"LETROZOLE 2.5MG B/30 COMP PELLICULES"}},{"json":{"Designation_to_Map":"LETROZOLE BIOGARAN 2.5MG 30CES"}},{"json":{"Designation_to_Map":"LETROZOLE BIOGARAN 2.5MG 30CES"}},{"json":{"Designation_to_Map":"LEVETIRACETAM 1000MG B/60 COMP"}},{"json":{"Designation_to_Map":"LEVETIRACETAM 250MG B/60 COMP PELLICULES"}},{"json":{"Designation_to_Map":"LEVETIRACETAM 500MG B/60 COMP. PELLICULES"}},{"json":{"Designation_to_Map":"METFORMIN BIOGARAN 100MG COMP B/30"}},{"json":{"Designation_to_Map":"METFORMIN BIOGARAN 500MG COMP PEL B/30"}},{"json":{"Designation_to_Map":"METFORMIN BIOGARAN 850MG COMP PEL B/30"}},{"json":{"Designation_to_Map":"METFORMINE 1000MG B/30 COMP PELLICULES"}},{"json":{"Designation_to_Map":"METFORMINE 500MG B/30 COMP PELLICULES"}},{"json":{"Designation_to_Map":"METFORMINE 850MG B/30 COMP PELLICULES"}},{"json":{"Designation_to_Map":"METFORMINE BIOGARAN 1000MG 90CES"}},{"json":{"Designation_to_Map":"METFORMINE BIOGARAN 1000MG 90CES"}},{"json":{"Designation_to_Map":"METFORMINE BIOGARAN 500MG 90CES"}},{"json":{"Designation_to_Map":"METFORMINE BIOGARAN 500MG 90CES"}},{"json":{"Designation_to_Map":"METFORMINE BIOGARAN 850MG 30CES"}},{"json":{"Designation_to_Map":"METFORMINE BIOGARAN 850MG 30CES"}},{"json":{"Designation_to_Map":"METFORMINE BIOGARAN 850MG 90CES"}},{"json":{"Designation_to_Map":"METFORMINE BIOGARAN 850MG... 90CES"}},{"json":{"Designation_to_Map":"NEBIVOLOL 5MG B/30 COMP SECABLES"}},{"json":{"Designation_to_Map":"NEBIVOLOL BIOGARAN 5MG 30CES"}},{"json":{"Designation_to_Map":"NEBIVOLOL BIOGARAN 5MG 30CES"}},{"json":{"Designation_to_Map":"OMEPRAZOLE 20MG B/14 GELULES GASTRO-"}},{"json":{"Designation_to_Map":"OMEPRAZOLE BIOGARAN 20MG 28GELS"}},{"json":{"Designation_to_Map":"OMEPRAZOLE BIOGARAN 20MG 28GELS"}},{"json":{"Designation_to_Map":"OMEPRAZOLE BIOGARAN 20MG GEL B/28"}},{"json":{"Designation_to_Map":"PARACETAMOL BIOGARAN 500MG 16CES"}},{"json":{"Designation_to_Map":"PARACETAMOL BIOGARAN 500MG 16CES"}},{"json":{"Designation_to_Map":"PIRACETAM BIOGARAN 800MG B/45 COMP SEC."}},{"json":{"Designation_to_Map":"PROPRANOLOL BIOGARAN 40MG B/50"}},{"json":{"Designation_to_Map":"PROPRANOLOL BIOGARAN 40MG COMP B/50"}},{"json":{"Designation_to_Map":"RACECADOTRIL 100MG B/20 GELULES"}},{"json":{"Designation_to_Map":"RISPERIDONE 1MG B/60 COMP PELLICULES"}},{"json":{"Designation_to_Map":"RISPERIDONE 2MG B/60 COMP PELLICULES"}},{"json":{"Designation_to_Map":"SILDENAFIL BIOGARAN 100MG COMP B/8"}},{"json":{"Designation_to_Map":"SPIRONOLACTONE BIOGARAN 50MG B/30"}},{"json":{"Designation_to_Map":"TADALAFIL BIOGARAN 10MG 4CES"}},{"json":{"Designation_to_Map":"TADALAFIL BIOGARAN 10MG 4CES"}},{"json":{"Designation_to_Map":"TADALAFIL BIOGARAN 10MG B/4 COMP."}},{"json":{"Designation_to_Map":"TADALAFIL BIOGARAN 10MG COMP B/4"}},{"json":{"Designation_to_Map":"TADALAFIL BIOGARAN 20MG 4CES"}},{"json":{"Designation_to_Map":"TADALAFIL BIOGARAN 20MG 4CES"}},{"json":{"Designation_to_Map":"TADALAFIL BIOGARAN 20MG B/4 COMP."}},{"json":{"Designation_to_Map":"TADALAFIL BIOGARAN 20MG COMP B/4"}},{"json":{"Designation_to_Map":"ZOLMITRIPTAN BIOGARAN 2.5MG 6CES"}},{"json":{"Designation_to_Map":"ZOLMITRIPTAN BIOGARAN 2.5MG 6CES"}},{"json":{"Designation_to_Map":"ZOLMITRIPTAN BIOGARAN 2.5MG B/12"}},{"json":{"Designation_to_Map":"ZOLMITRIPTAN BIOGARAN 2.5MG B/6"}}],"Execute Command":[{"json":{"exitCode":0,"stderr":"","stdout":"{\n  \"operation\": \"pdf_to_png\",\n  \"originalPdf\": \"/tmp/page-1SiGDXQeQztMbqfWuCwlOxIqxsuxCvOu4.pdf\",\n  \"pageCount\": 2,\n  \"pngFiles\": [\"/tmp/page-1SiGDXQeQztMbqfWuCwlOxIqxsuxCvOu4-001.png\",\"/tmp/page-1SiGDXQeQztMbqfWuCwlOxIqxsuxCvOu4-002.png\"]\n}"}}],"Liste Fichiers":[{"json":{"all_png_files":["/tmp/page-1SiGDXQeQztMbqfWuCwlOxIqxsuxCvOu4-001.png","/tmp/page-1SiGDXQeQztMbqfWuCwlOxIqxsuxCvOu4-002.png","/tmp/page-1M8AFHl4p2W6az3Eg6IDZ-6zpsf8hoe7W-001.png","/tmp/page-1M8AFHl4p2W6az3Eg6IDZ-6zpsf8hoe7W-002.png"],"total_count":4}}],"Edit Fields":[{"json":{"Designation":"ALFA AMYLASE BIOGARAN CONSEIL"}},{"json":{"Designation":"ALFA AMYLASE BIOGARAN CONSEIL"}},{"json":{"Designation":"ALPRAZOLAM BIOGARAN 0.50MG 30CES ***"}},{"json":{"Designation":"ALPRAZOLAM BIOGARAN 0.50MG B/30"}},{"json":{"Designation":"ALPRRAZOLAM BIOGARAN 0.50MG 30CES ***"}},{"json":{"Designation":"AMLODIPINE 10MG B/30 GELULES BIOGARAN"}},{"json":{"Designation":"AMLODIPINE 10MG B/90 GELULES BIOGARAN"}},{"json":{"Designation":"AMLODIPINE 5MG B/30 GELULES BIOGARAN"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG 30GELS"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG 30GELS"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG 90GELS"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG GEL B/30"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG GEL B/90"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 10MG... 90GELS"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 5MG ... 90GELS"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 5MG 30GELS"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 5MG 30GELS"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 5MG 90GELS"}},{"json":{"Designation":"AMLODIPINE BIOGARAN 5MG GEL B/30"}},{"json":{"Designation":"AMLODIPINE VALSARTAN BIOGARAN 10MG/160MG COMP B/30"}},{"json":{"Designation":"AMLODIPINE VALSARTAN BIOGARAN 5MG/160MG COMP PEL B/30"}},{"json":{"Designation":"AMLODIPINE VALSARTAN BIOGARAN 5MG/80MG COMP PEL B/30"}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 125MG PDR SUS 60ML"}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 125MG PDR SUSP 60ML"}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 1GR 14CES DISP"}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 1GR 14CES DISP"}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 1GR 6CES DISP"}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 1GR...6CES DISP"}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 250MG PDR SUS 60ML"}},{"json":{"Designation":"AMOXICILLINE BIOGARAN 250MG PDR SUSP 60ML"}},{"json":{"Designation":"ATENOLOL 50MG B/30 COMP SECABLES"}},{"json":{"Designation":"ATENOLOL BIOGARAN 50MG 30CES"}},{"json":{"Designation":"ATENOLOL BIOGARAN 50MG 30CES"}},{"json":{"Designation":"ATOVAQUONE / PROGUANIL BIOGARAN"}},{"json":{"Designation":"ATOVAQUONE / PROGUANIL BIOGARAN"}},{"json":{"Designation":"BETAMETHASONE BIOGARAN 2MG B/20"}},{"json":{"Designation":"BICALUTAMIDE 50MG B/30 COMP BIOGARAN"}},{"json":{"Designation":"BICALUTAMIDE BIOGARAN 50MG 30CES"}},{"json":{"Designation":"BICALUTAMIDE BIOGARAN 50MG 30CES"}},{"json":{"Designation":"BISOPROLOL BIOGARAN 10MG 90CES"}},{"json":{"Designation":"BISOPROLOL BIOGARAN 10MG 90CES"}},{"json":{"Designation":"BISOPROLOL BIOGARAN 5MG 90CES"}},{"json":{"Designation":"BISOPROLOL BIOGARAN 5MG 90CES"}},{"json":{"Designation":"BROMAZEPAM 6MG B/30 COMP BIOGARAN"}},{"json":{"Designation":"CAPECITABINE 150MG B/60 COMP BIOGARAN"}},{"json":{"Designation":"CAPECITABINE 500MG B/120 COMP"}},{"json":{"Designation":"CAPECITABINE BIOGARAN 150MG 60CES"}},{"json":{"Designation":"CAPECITABINE BIOGARAN 150MG 60CES"}},{"json":{"Designation":"CAPECITABINE BIOGARAN 500MG 120CES"}},{"json":{"Designation":"CAPECITABINE BIOGARAN 500MG 120CES"}},{"json":{"Designation":"CEFIXIME BIOGARAN 200MG 8CES"}},{"json":{"Designation":"CEFIXIME BIOGARAN 200MG 8CES"}},{"json":{"Designation":"CEFIXIME BIOGARAN 200MG B/8 COMP"}},{"json":{"Designation":"CEFIXIME BIOGARAN 200MG COMP B/8"}},{"json":{"Designation":"CEFTRIAXONE BIOGARAN IM 1G 3.5ML 1AMP"}},{"json":{"Designation":"CEFTRIAXONE BIOGARAN IM 1G 3.5ML 1AMP"}},{"json":{"Designation":"CEFTRIAXONE BIOGARAN IV 1G 10ML 1AMP"}},{"json":{"Designation":"CEFTRIAXONE BIOGARAN IV 1G 10ML AMP"}},{"json":{"Designation":"CEFTRIAXONE BIOGARAN IV 1G/10ML PDRE SOL INJ B/1"}},{"json":{"Designation":"CELECOXIB 100MG B/30 COMP BIOGARAN"}},{"json":{"Designation":"CELECOXIB 200MG B/30 GELULES BIOGARAN"}},{"json":{"Designation":"CELECOXIB BIOGARAN 100MG GEL B/30"}},{"json":{"Designation":"CELECOXIB BIOGARAN 200MG GELULES B/30"}},{"json":{"Designation":"CELIPROLOL 200MG B/28 COMP PELLICULES"}},{"json":{"Designation":"CLARITHROMYCINE BIOG 250MG B/10 COMP"}},{"json":{"Designation":"CLARITHROMYCINE BIOGARAN 250MG 10CES"}},{"json":{"Designation":"CLARITHROMYCINE BIOGARAN 250MG 10CES"}},{"json":{"Designation":"CLARITHROMYCINE BIOGARAN 500MG 10CES"}},{"json":{"Designation":"CLARITHROMYCINE BIOGARAN 500MG 10CES"}},{"json":{"Designation":"CLARITHROMYCINE BIOGARAN 500MG B/10"}},{"json":{"Designation":"DESLORATADINE BIOG 5MG B/15 COMP"}},{"json":{"Designation":"DESLORATADINE BIOGARAN 5MG 30CES"}},{"json":{"Designation":"DESLORATADINE BIOGARAN 5MG 30CES"}},{"json":{"Designation":"DESLORATADINE BIOGARAN 5MG COMP B/15"}},{"json":{"Designation":"DESLORATADINE BIOGARAN 5MG COMP B/30"}},{"json":{"Designation":"DOMPERIDONE 10MG B/20 COMP PELLICULES"}},{"json":{"Designation":"DOMPERIDONE BIOGARAN 10MG COMP B/20"}},{"json":{"Designation":"DORZOLAMINE / TIMOLOL BIOGARAN"}},{"json":{"Designation":"DOXYLAMINE BIOGARAN CONSEIL"}},{"json":{"Designation":"DUTASTERIDE 0.5MG B/30 CAPSULES MOLLES"}},{"json":{"Designation":"ENALAPRIL 20MG B/28 COMP SECABLES"}},{"json":{"Designation":"ENALAPRIL BIOGARAN 20MG 28CES"}},{"json":{"Designation":"ENALAPRIL BIOGARAN 20MG 28CES"}},{"json":{"Designation":"ENALAPRIL BIOGARAN 5MG 28CES"}},{"json":{"Designation":"ENALAPRIL BIOGARAN 5MG 28CES"}},{"json":{"Designation":"ENOXAPARINE BIOGARAN CRUSIA"}},{"json":{"Designation":"ENOXAPARINE BIOGARAN CRUSIA"}},{"json":{"Designation":"ENOXAPARINE BIOGARAN CRUSIA"}},{"json":{"Designation":"ENOXAPARINE BIOGARAN CRUSIA"}},{"json":{"Designation":"FLECAINIDE BIO LP 200MG B/30 GELU."}},{"json":{"Designation":"IBUPROFENE 400MG B/20 COMP PELLICULES"}},{"json":{"Designation":"IBUPROFENE BIOGARAN 400MG COMP B/20"}},{"json":{"Designation":"IBUPROFENE CONSEIL 400MG B/10 COMP"}},{"json":{"Designation":"IRBESARTAN / HCTZ BIOGARAN 150MG/12.5MG COMP B/30"}},{"json":{"Designation":"IRBESARTAN / HCTZ BIOGARAN 300MG/12.5MG COMP B/30"}},{"json":{"Designation":"IRBESARTAN 150MG B/30 COMP. PELLICULES"}},{"json":{"Designation":"IRBESARTAN 300MG B/30 COMP. PELLICULES"}},{"json":{"Designation":"IRBESARTAN 75MG B/30 COMP. PELLICULES"}},{"json":{"Designation":"IRBESARTAN BIOGARAN 150MG COMP B/30"}},{"json":{"Designation":"IRBESARTAN BIOGARAN 300MG COMP B/30"}},{"json":{"Designation":"IRBESARTAN BIOGARAN 300MG/25MG COMP B/30"}},{"json":{"Designation":"IRBESARTAN BIOGARAN 75MG COMP B/30"}},{"json":{"Designation":"IRBESARTAN/HCTZ BGR 300MG/25MG COMP"}},{"json":{"Designation":"IRBESARTAN/HCTZ BIOG 300MG/12.5MG"}},{"json":{"Designation":"KETOPROFEN LP 100MG B/20 COMP BIOGARAN"}},{"json":{"Designation":"KETOPROFENE 100MG B/20 COMP. BIOGARAN"}},{"json":{"Designation":"KETOPROFENE BIOGARAN LP 100MG 20CES"}},{"json":{"Designation":"KETOPROFENE BIOGARAN LP 100MG 20CES"}},{"json":{"Designation":"KETOPROFENE BIOGARAN LP 100MG COMP B/20"}},{"json":{"Designation":"LATANOPROST/TIMOLOL 50UG/5MG COLLYRE B/1"}},{"json":{"Designation":"LETROZOLE 2.5MG B/30 COMP PELLICULES"}},{"json":{"Designation":"LETROZOLE BIOGARAN 2.5MG 30CES"}},{"json":{"Designation":"LETROZOLE BIOGARAN 2.5MG 30CES"}},{"json":{"Designation":"LEVETIRACETAM 1000MG B/60 COMP"}},{"json":{"Designation":"LEVETIRACETAM 250MG B/60 COMP PELLICULES"}},{"json":{"Designation":"LEVETIRACETAM 500MG B/60 COMP. PELLICULES"}},{"json":{"Designation":"METFORMIN BIOGARAN 100MG COMP B/30"}},{"json":{"Designation":"METFORMIN BIOGARAN 500MG COMP PEL B/30"}},{"json":{"Designation":"METFORMIN BIOGARAN 850MG COMP PEL B/30"}},{"json":{"Designation":"METFORMINE 1000MG B/30 COMP PELLICULES"}},{"json":{"Designation":"METFORMINE 500MG B/30 COMP PELLICULES"}},{"json":{"Designation":"METFORMINE 850MG B/30 COMP PELLICULES"}},{"json":{"Designation":"METFORMINE BIOGARAN 1000MG 90CES"}},{"json":{"Designation":"METFORMINE BIOGARAN 1000MG 90CES"}},{"json":{"Designation":"METFORMINE BIOGARAN 500MG 90CES"}},{"json":{"Designation":"METFORMINE BIOGARAN 500MG 90CES"}},{"json":{"Designation":"METFORMINE BIOGARAN 850MG 30CES"}},{"json":{"Designation":"METFORMINE BIOGARAN 850MG 30CES"}},{"json":{"Designation":"METFORMINE BIOGARAN 850MG 90CES"}},{"json":{"Designation":"METFORMINE BIOGARAN 850MG... 90CES"}},{"json":{"Designation":"NEBIVOLOL 5MG B/30 COMP SECABLES"}},{"json":{"Designation":"NEBIVOLOL BIOGARAN 5MG 30CES"}},{"json":{"Designation":"NEBIVOLOL BIOGARAN 5MG 30CES"}},{"json":{"Designation":"OMEPRAZOLE 20MG B/14 GELULES GASTRO-"}},{"json":{"Designation":"OMEPRAZOLE BIOGARAN 20MG 28GELS"}},{"json":{"Designation":"OMEPRAZOLE BIOGARAN 20MG 28GELS"}},{"json":{"Designation":"OMEPRAZOLE BIOGARAN 20MG GEL B/28"}},{"json":{"Designation":"PARACETAMOL BIOGARAN 500MG 16CES"}},{"json":{"Designation":"PARACETAMOL BIOGARAN 500MG 16CES"}},{"json":{"Designation":"PIRACETAM BIOGARAN 800MG B/45 COMP SEC."}},{"json":{"Designation":"PROPRANOLOL BIOGARAN 40MG B/50"}},{"json":{"Designation":"PROPRANOLOL BIOGARAN 40MG COMP B/50"}},{"json":{"Designation":"RACECADOTRIL 100MG B/20 GELULES"}},{"json":{"Designation":"RISPERIDONE 1MG B/60 COMP PELLICULES"}},{"json":{"Designation":"RISPERIDONE 2MG B/60 COMP PELLICULES"}},{"json":{"Designation":"SILDENAFIL BIOGARAN 100MG COMP B/8"}},{"json":{"Designation":"SPIRONOLACTONE BIOGARAN 50MG B/30"}},{"json":{"Designation":"TADALAFIL BIOGARAN 10MG 4CES"}},{"json":{"Designation":"TADALAFIL BIOGARAN 10MG 4CES"}},{"json":{"Designation":"TADALAFIL BIOGARAN 10MG B/4 COMP."}},{"json":{"Designation":"TADALAFIL BIOGARAN 10MG COMP B/4"}},{"json":{"Designation":"TADALAFIL BIOGARAN 20MG 4CES"}},{"json":{"Designation":"TADALAFIL BIOGARAN 20MG 4CES"}},{"json":{"Designation":"TADALAFIL BIOGARAN 20MG B/4 COMP."}},{"json":{"Designation":"TADALAFIL BIOGARAN 20MG COMP B/4"}},{"json":{"Designation":"ZOLMITRIPTAN BIOGARAN 2.5MG 6CES"}},{"json":{"Designation":"ZOLMITRIPTAN BIOGARAN 2.5MG 6CES"}},{"json":{"Designation":"ZOLMITRIPTAN BIOGARAN 2.5MG B/12"}},{"json":{"Designation":"ZOLMITRIPTAN BIOGARAN 2.5MG B/6"}}]},"versionId":"f16ecce5-a90c-4a51-b23d-67208d506a24","triggerCount":0,"shared":[{"createdAt":"2025-08-14T11:20:26.319Z","updatedAt":"2025-08-14T11:20:26.319Z","role":"workflow:owner","workflowId":"OZsHl1CUL5kYaS0b","projectId":"TAg2OWp8a2XzOVPs"}],"tags":[]}